<div ng-mouseleave="start()" class="lunbo">
   <ul >
    <li ng-repeat="img in detailsData.picset" class="animated fade-in "><a href=""><img src="[:img.PicFile:]" alt=""/></a></li>
   </ul>
   <ul class="listContent" >
    <li class="list" ng-click="clickEvent(0)" >1</li>
    <li class="list" ng-click="clickEvent(1)" >2</li>
    <li class="list" ng-click="clickEvent(2)" >3</li>
    <li class="list" ng-click="clickEvent(3)" >4</li>
    <li class="list" ng-click="clickEvent(4)" >5</li>
   </ul>
</div>
