<div class="menu">
	<ul>
		<li class="tab selected" ng-click="clickEvent(0);tips!=tips" ><span translate="search.address">Address</span></li>
		<li class="tab " ng-click="clickEvent(1);openmodal('lg');" ><span translate="search.train">Train Station</span></li>
		<!--<li class="tab " ng-click="clickEvent(2)"><span>租房</span></li>
		<li class="tab " ng-click="clickEvent(3);tips!=tips" ><span>Tips</span></li>
		<li class="tab " ng-click="clickEvent(4)"><span>一步到位</span></li>
		<li class="tab " ng-click="clickEvent(5)"><span>找商家</span></li>-->
	</ul>
	<i></i>
</div>