<div>
	<h1 class="dream-homes-main-title" translate="hotrent"></h1>
				<div class="content-wrap dream-homes-container is-carousel">
					<ul class="dream-homes-list" style="width: 4497px; left: 0px;">
						<li ui-sref="app.details({id:image.ER_ID,name:image.ER_No+' '+image.ER_St+' '+image.ER_Suburb+' '+image.ER_Region})" class="dream-homes-item " ng-repeat="image in carouselimages" style="width: 341.25px;">
							<a class="dream-homes-item-link" >
								<header class="dream-homes-item-header">
									<span class="dream-homes-item-header-wrap">
                    		<h2 class="dream-homes-title">
                            <span class="dream-homes-title-agency-name">WinningInvestment</span>
														<span class="dream-homes-title-suburb">[:image.ER_No+' '+image.ER_St:]</span>
														<span class="dream-homes-title-suburb">[:image.ER_Suburb+','+image.ER_Region:]</span>
														<span class="dream-homes-title-suburb m-t-md m-b-md">
																<span class="" title="near train station">
					                				<i ng-show="image.train_station" class="flaticon-train-on-railroad12" style="color: orange;" aria-hidden="true"></i>
					                				<!--<i ng-show="!image.train_station" class="flaticon-train-on-railroad12" aria-hidden="true"></i>-->
					                			</span>
					                    	<span class="" title="near university">
					                    		<i ng-show="image.university" class="flaticon-college-graduation12" style="color: chocolate;" aria-hidden="true"></i>
					                    		<!--<i ng-show="!image.university" class="flaticon-college-graduation12" aria-hidden="true"></i>-->
					                    	</span>
					                    	<span class="" title="near hotel YHA">
					                    		<i ng-show="image.backpack" class="flaticon-backpack12" style="color: greenyellow;" aria-hidden="true"></i>
					                    		<!--<i ng-show="!image.backpack" class="flaticon-backpack12" aria-hidden="true"></i>-->
					                    	</span>
					                    	<span class="" title="near park">
					                    		<i ng-show="image.park" class="flaticon-green-park-city-space12" style="color: green;" aria-hidden="true"></i>
					                    		<!--<i ng-show="!image.park" class="flaticon-green-park-city-space12" aria-hidden="true"></i>-->
					                    	</span>
					                    	<span class="" title="near school">
					                				<i ng-show="image.school" class="flaticon-open-book12" style="color: yellow;" aria-hidden="true"></i>
					                				<!--<i ng-show="!image.school" class="flaticon-open-book12" aria-hidden="true"></i>-->
					                			</span>
					                			<span class="" title="big family">
					                				<i ng-show="image.big_family" class="flaticon-people12" style="color: pink;" aria-hidden="true"></i>
					                				<!--<i ng-show="!image.big_family" class="flaticon-people12" aria-hidden="true"></i>-->
					                			</span>
					                    	<span class="" title="near shoppingcenter">
					                    		<i ng-show="image.shopping_mall" class="flaticon-shopping-cart12" style="color: darkred;" aria-hidden="true"></i>
					                    		<!--<i ng-show="!image.shopping_mall" class="flaticon-shopping-cart12" aria-hidden="true"></i>-->
					                    	</span>
					                    	<span class="" title="officerental">
					                    		<i ng-show="image.offical_rental" class="flaticon-business12" style="color: blue;" aria-hidden="true"></i>
					                    		<!--<i ng-show="!image.offical_rental" class="flaticon-business12" aria-hidden="true"></i>-->
					                    	</span>
														</span>
											  </h2>
												<span class="f-icon with-text">
			                      <span class="copy">
			                          [:image.ER_BedRoom:]
			                      </span>
														<span class=" fa fa-bed"></span>
												</span>
												<span class="f-icon with-text">
			                      <span class="copy">
			                          [:image.ER_BathRoom:]
			                      </span>
														<span class="fa fa-bath"></span>
												</span>
												<span class="f-icon with-text">
			                      <span class="copy">
			                          [:image.ER_Parking:]
			                      </span>
														<span class="fa fa-car"></span>
												</span>
									</span>
								</header>
							</a>
							<img class="dream-homes-item-img" ng-src="[:image.picset[0].PicFile:]" alt="[:image.ER_Suburb+','+image.ER_Region:]">
						</li>
					</ul>
					<a ng-click="prev()" class="dream-homes-prev-btn" ng-show="imageid>4">
						<span class="icon fa fa-chevron-circle-left"></span><span class="sr-only">previous</span>
					</a>
					<a ng-click="next()" class="dream-homes-next-btn" style="display: block;">
						<span class="icon fa fa-chevron-circle-right"></span><span class="sr-only">next</span>
					</a>
				</div>
</div>
