<input type = "test"
class="input-lg form-control" autocomplete="off" name="inputStr" data-val="true"
data-val-required="Please choose a location to search." ng-minlength="2"
placeholder="Search by suburb, region, postcode or address" type="text"
ng-change="changeKeyValue(searchField)" ng-keyup="getData({val:searchField})"
ng-model="searchField" value="{{searchField}}" style="width:414px; height:55px;border:none"/>
<!-- <div   style = ""> -->
   <select ng-hide="hidden" style = "position:absolute; top:55px; min-height:0;max-height:200px; z-index: 1000;width:413px; border:none;border-bottom-left-radius:2px;border-bottom-right-radius:4px; overflow-x:hidden;overflow-y:scroll; background:white;" ng-change="change(x)" ng-model="x" multiple>
       <option ng-repeat="data in datas track by $index" style="padding-left:16px; padding-bottom:10px;">{{data}}</option>
   </select>
<!-- </div> -->
