<!--<div class="modal-body wrapper-lg">-->
<div>
        <form name="form" class="form-validation">
          <div class="panel panel-default" style="margin-bottom: 0; border:none;">
            <div class="panel-heading" style="background-color: #012161; color:white;">
              <span class="h4">Contact Agent</span>
            </div>
            <div class="text-center m-t-lg clearfix">
             <div class="thumb-lg avatar m-t-n-xxl">
               <img src="img/Andy.jpg" alt="..." class="b b-3x b-white">
               <div class="h4 font-thin m-t-sm" style="margin-left:-20px;">WinningInvestment</div>
             </div>
           </div>
            <div class="panel-body">
              <p class="text-muted">please confirm if you want to delete the favorite save.</p>
            </div>
            <footer class="panel-footer text-right bg-light lter" style="background-color: #012161; color:white;">
              <button class="btn btn-success" ng-click="cancel()">Cancel</button>
              <button type="submit"  ng-click="saveEnvelope()" class="btn btn-success">Confirm</button>
            </footer>
          </div>
        </form>
</div>
