<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <div style="background:url(img/c4.jpg) center center; background-size:cover">
      <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
          <div class="col-sm-7">
            <a href class="thumb-lg pull-left m-r">
              <img src="img/a0.jpg" class="img-circle">
            </a>
            <div class="clear m-b">
              <div class="m-b m-t-sm">
                <span class="h3 text-black">John.Smith</span>
                <small class="m-l">London, UK</small>
              </div>
              <p class="m-b">
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
              </p>
              <a href class="btn btn-sm btn-success btn-rounded">Follow</a>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="pull-right pull-none-xs text-center">
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold">2k</span>
                <small>Followers</small>
              </a>
              <a href class="m-b-md inline m">
                <span class="h3 block font-bold">250</span>
                <small>Following</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper bg-white b-b">
      <ul class="nav nav-pills nav-sm">
        <li class="active"><a href>Stream</a></li>
        <li><a href>Profile</a></li>
        <li><a href>Messages</a></li>
      </ul>
    </div>
    <div class="wrapper bg-white b-b">
        <div class="row m-t">
          <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <input type="text"  class="form-control m-b" placeholder="Email">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" name="password" class="form-control m-b">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text"  class="form-control m-b" placeholder="Name">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Phone</label>
                  <div class="col-sm-10">
                    <input type="phone"  class="form-control m-b" placeholder="Phone">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Current Status</label>
                  <div class="col-sm-10">
                    <input type="text"  class="form-control m-b" placeholder="Current Status">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                   <label class="col-sm-2 control-label">ID Type</label>
                   <div class="col-sm-10">
                     <select name="account" class="form-control m-b">
                       <option>option 1</option>
                       <option>option 2</option>
                       <option>option 3</option>
                       <option>option 4</option>
                     </select>
                   </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Upload File</label>
                  <div class="col-sm-10">
                    <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Income File</label>
                  <div class="col-sm-10">
                    <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Saving File</label>
                  <div class="col-sm-10">
                    <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>

          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="text"  class="form-control m-b" placeholder="Email">
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Datepicker</label>
              <div class="col-sm-10">
                <div class="input-group w-md m-b">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
               <label class="col-sm-2 control-label">Gender</label>
               <div class="col-sm-10">
                 <select name="account" class="form-control m-b">
                   <option>male</option>
                   <option>female</option>
                 </select>
               </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Age</label>
              <div class="col-sm-10">
                <input type="text"  class="form-control m-b" placeholder="Email">
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
               <label class="col-sm-2 control-label">Work</label>
               <div class="col-sm-10">
                 <select name="account" class="form-control m-b">
                   <option>yes</option>
                   <option>not yet</option>
                   <option>retired</option>
                 </select>
               </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
               <label class="col-sm-2 control-label">pet</label>
               <div class="col-sm-10">
                 <select name="account" class="form-control m-b">
                   <option>Yes</option>
                   <option>No</option>
                 </select>
               </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
               <label class="col-sm-2 control-label">Smoking</label>
               <div class="col-sm-10">
                 <select name="account" class="form-control m-b">
                   <option>option 1</option>
                   <option>option 2</option>
                   <option>option 3</option>
                   <option>option 4</option>
                 </select>
               </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
               <label class="col-sm-2 control-label">Budget</label>
               <div class="col-sm-10">
                 <select name="account" class="form-control m-b">
                   <option>option 1</option>
                   <option>option 2</option>
                   <option>option 3</option>
                   <option>option 4</option>
                 </select>
               </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
