<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="landlordProfileCtrl">
  <!-- breadcrumb -->
  <div>
    <h4>Staff Profile</h4>
    <ul class="breadcrumb bg-white b-a">
      <li><a href><i class="fa fa-home"></i> Admin</a></li>
      <li><a href>staff</a></li>
      <li class="active">role management</li>
      <li class="pull-right"><i class="fa fa-lg fa-refresh"></i></li>
    </ul>
  </div>
  <!-- / breadcrumb -->
  <tabset justified="true" class="tab-container">
    <tab heading="Profile Information">
      <div class="row">
        <div class="col-sm-5">
          <a href class="">
            <img src="img/andy.jpg" class="img-circle">
          </a>
        </div>
        <div class="col-sm-7">
          <div class="clear m-b pull-in">
            <div class="m-b m-t-sm">
              <span class="h3 text-black">[:landlord.LLName:]</span>
              <small class="m-l">Sydney, Australia</small>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-envelope"></i></a>
              <a>[:landlord.LLEmail:]</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-envelope"></i></a>
              <a>[:landlord.LLPhone:]</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-lg fa-phone"></i></a>
              <a>[:landlord.LLCellphone:]</a>
            </p>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Account">
      <div class="tabbable tabs-below" ng-init="selectedTab = 1;">
        <div class="row">
          <div class="col-sm-5">
            <ul class="nav nav-tabs nav-stacked">
              <li ng-class="{active: selectedTab == 1}">
                <a ng-click="selectedTab = 1;">Personal</a>
              </li>
              <li ng-class="{active: selectedTab == 2}">
                <a ng-click="selectedTab = 2;">Avantar</a>
              </li>
              <li ng-class="{active: selectedTab == 3}">
                <a ng-click="selectedTab = 3;">Change password</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-7">
            <div class="tab-content" ng-show="selectedTab == 1">
              <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text"  ng-model="landlord.LLName" class="form-control m-b" placeholder="First Name">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="text"  ng-model="landlord.LLEmail" class="form-control m-b" placeholder="Email">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                  <input type="phone"  ng-model="landlord.LLPhone" class="form-control m-b" placeholder="Phone">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Ceil Phone</label>
                <div class="col-sm-10">
                  <input type="text"  ng-model="landlord.LLCellphone" class="form-control m-b" placeholder="042...">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="text-center">
                <button class="btn btn-success m-r" ng-click="update_Profile()">Update Profile</button>
              </div>
            </div>
            <div class="tab-content" ng-show="selectedTab == 2">
                <img src="img/andy.jpg"/>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Upload File</label>
                  <div class="col-sm-10">
                    <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div>
                  <button class="btn btn-success m-r">submit</button><button class="btn btn-error">cancel</button>
                </div>
            </div>
            <div class="tab-content" ng-show="selectedTab == 3">
              <div class="form-group">
                <label class="col-sm-2 control-label">Current password</label>
                <div class="col-sm-10">
                  <input type="password"  class="form-control m-b"  ng-model="landlord.LLPassword" placeholder="Current password">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">New password</label>
                <div class="col-sm-10">
                  <input type="password"  class="form-control m-b" ng-model="changePassword.newPassword" placeholder="New password">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Retype New password</label>
                <div class="col-sm-10">
                  <input type="password"  class="form-control m-b" ng-model="changePassword.retypePassword" placeholder="Retype New password">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="text-center" ng-show="authorError">
                <p style="color:red; font-size:14px;">前后密码不一致！</p>
              </div>
              <div class="text-center">
                <button class="btn btn-success m-r" ng-click="update_password()">Change password</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
