<div ng-controller="propertymgmCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">property management</h1>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading">
        <script type="text/ng-template" id="propertyAdd.html">
              <div ng-include="'/partials/tpl/propertyAdd.html'"></div>
        </script>
      <button class="btn btn-danger"><i class="fa fa-trash"></i>批量删除</button>
      <button class="btn btn-info" ng-click="open('lg')"><i class="fa fa-plus"></i>房东添加</button>
      </div>
      <div class="row wrapper">
        <div class="col-sm-3 m-b-xs">
          <select class="input-sm form-control w-sm inline v-middle">
          <option value="0">整租房业主</option>
          <option value="1">分租房业主</option>
          <option value="2">二手房业主</option>
          <option value="3">开发商</option>
        </select>
          <button class="btn btn-sm m-l-n-xxs btn-default">Apply</button>
        </div>
        <div class="col-sm-5">
          <div class="input-group">
            <input type="text" class="input-sm form-control" placeholder="Search">
            <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
          </div>
        </div>

        <div class="col-sm-4">
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped b-t b-light">
          <thead>
            <tr>
              <th style="width:20px;">
                <label class="i-checks m-b-none">
                <input type="checkbox"><i></i>
              </label>
              </th>
              <th>ID</th>
              <th>用户列表</th>
              <th>业务负责</th>
              <th>房产信息</th>
              <th>业主</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
              <td>1</td>
              <td><a ui-sref="landlord.profile">Libin.Zhang</a></td>
              <td>Andy</td>
              <td>9/20 harbourne road kingsford</td>
              <td>整租</td>
              <td>
                <a href class="active" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
              </td>
              <td>
                <a href class="active m-r-md"><i class="fa fa-pencil"></i></a>
                <a href class="active"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-sm-6 text-left">
            <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
          </div>
          <div class="col-sm-6 text-right text-center-xs">
            <ul class="pagination pagination-sm m-t-none m-b-none">
              <li><a href><i class="fa fa-chevron-left"></i></a></li>
              <li><a href>1</a></li>
              <li><a href>2</a></li>
              <li><a href>3</a></li>
              <li><a href>4</a></li>
              <li><a href>5</a></li>
              <li><a href><i class="fa fa-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
</div>
