	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/05/2017 08:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-puzzle:before { content: "\f100"; font-size: 140px;}
.flaticon-food:before { content: "\f101"; font-size: 140px;}
.flaticon-office-worker:before { content: "\f102"; font-size: 140px;}
.flaticon-vacuum:before { content: "\f103"; font-size: 140px;}
.flaticon-train-on-railroad:before { content: "\f104"; font-size: 140px;}
.flaticon-shopping-cart:before { content: "\f105"; font-size: 140px;}
.flaticon-man-standing-up:before { content: "\f106"; font-size: 140px;}
.flaticon-double-king-size-bed:before { content: "\f107"; font-size: 140px;}
.flaticon-turn-microphone-off-button:before { content: "\f108"; font-size: 140px;}
.flaticon-washing-machine:before { content: "\f109"; font-size: 140px;}
.flaticon-bedroom-black-closed-closet-for-clothes:before { content: "\f10a";font-size: 140px; }
.flaticon-green-park-city-space:before { content: "\f10b";font-size: 140px; }
.flaticon-minisplit:before { content: "\f10c"; font-size: 140px;}
.flaticon-female-silhouette:before { content: "\f10d";font-size: 140px; }
.flaticon-no-smoking-sign:before { content: "\f10e";font-size: 140px; }
.flaticon-man-in-office-desk-with-computer:before { content: "\f10f"; font-size: 140px;}
.flaticon-people:before { content: "\f110"; font-size: 140px;}
.flaticon-no-dogs:before { content: "\f111"; font-size: 140px;}
.flaticon-tumble-dryer:before { content: "\f112";font-size: 140px; }
.flaticon-college-graduation:before { content: "\f113"; font-size: 140px;}
.flaticon-cabinet:before { content: "\f114"; font-size: 140px;}
.flaticon-microwave:before { content: "\f115"; font-size: 140px;}
.flaticon-fridge:before { content: "\f116"; font-size: 140px;}
.flaticon-open-book:before { content: "\f117"; font-size: 140px;}
.flaticon-settings:before { content: "\f118"; font-size: 140px;}
.flaticon-stove:before { content: "\f119"; font-size: 140px;}
.flaticon-dishwasher:before { content: "\f11a"; font-size: 140px;}
.flaticon-wifi:before { content: "\f11b"; font-size: 140px;}
.flaticon-socket:before { content: "\f11c"; font-size: 140px;}
.flaticon-business:before { content: "\f11d"; font-size: 140px;}
.flaticon-gas-level:before { content: "\f11e"; font-size: 140px;}
.flaticon-backpack:before { content: "\f11f"; font-size: 140px;}
.flaticon-bed:before { content: "\f120"; font-size: 140px;}
.flaticon-plug:before { content: "\f121"; font-size: 140px;}

/*normal size*/
.flaticon-puzzle1:before { content: "\f100"; }
.flaticon-food1:before { content: "\f101"; }
.flaticon-office-worker1:before { content: "\f102"; }
.flaticon-vacuum1:before { content: "\f103"; }
.flaticon-train-on-railroad1:before { content: "\f104"; }
.flaticon-shopping-cart1:before { content: "\f105"; }
.flaticon-man-standing-up1:before { content: "\f106"; }
.flaticon-double-king-size-bed1:before { content: "\f107"; }
.flaticon-turn-microphone-off-button1:before { content: "\f108"; }
.flaticon-washing-machine1:before { content: "\f109"; }
.flaticon-bedroom-black-closed-closet-for-clothes1:before { content: "\f10a"; }
.flaticon-green-park-city-space1:before { content: "\f10b"; }
.flaticon-minisplit1:before { content: "\f10c"; }
.flaticon-female-silhouette1:before { content: "\f10d"; }
.flaticon-no-smoking-sign1:before { content: "\f10e"; }
.flaticon-man-in-office-desk-with-computer1:before { content: "\f10f"; }
.flaticon-people1:before { content: "\f110"; }
.flaticon-no-dogs1:before { content: "\f111"; }
.flaticon-tumble-dryer1:before { content: "\f112"; }
.flaticon-college-graduation1:before { content: "\f113"; }
.flaticon-cabinet1:before { content: "\f114"; }
.flaticon-microwave1:before { content: "\f115"; }
.flaticon-fridge1:before { content: "\f116"; }
.flaticon-open-book1:before { content: "\f117"; }
.flaticon-settings1:before { content: "\f118"; }
.flaticon-stove1:before { content: "\f119"; }
.flaticon-dishwasher1:before { content: "\f11a"; }
.flaticon-wifi1:before { content: "\f11b"; }
.flaticon-socket1:before { content: "\f11c"; }
.flaticon-business1:before { content: "\f11d"; }
.flaticon-gas-level1:before { content: "\f11e"; }
.flaticon-backpack1:before { content: "\f11f"; }
.flaticon-bed1:before { content: "\f120"; }
.flaticon-plug1:before { content: "\f121"; }

/*size 8px*/
.flaticon-puzzle12:before { content: "\f100"; font-size: 12px;margin-left: 5px;}
.flaticon-food12:before { content: "\f101"; font-size: 12px;}
.flaticon-office-worker12:before { content: "\f102"; font-size: 12px;margin-left: 5px;}
.flaticon-vacuum12:before { content: "\f103"; font-size: 12px;margin-left: 5px;}
.flaticon-train-on-railroad12:before { content: "\f104"; font-size: 12px; margin-left: 5px;}
.flaticon-shopping-cart12:before { content: "\f105"; font-size: 12px;margin-left: 5px;}
.flaticon-man-standing-up12:before { content: "\f106"; font-size: 12px;margin-left: 5px;}
.flaticon-double-king-size-bed12:before { content: "\f107"; font-size: 12px;margin-left: 5px;}
.flaticon-turn-microphone-off-button12:before { content: "\f108"; font-size: 12px;margin-left: 5px;}
.flaticon-washing-machine12:before { content: "\f109"; font-size: 12px;margin-left: 5px;}
.flaticon-bedroom-black-closed-closet-for-clothes12:before { content: "\f10a"; font-size: 12px; margin-left: 5px;}
.flaticon-green-park-city-space12:before { content: "\f10b"; font-size: 12px;margin-left: 5px;}
.flaticon-minisplit12:before { content: "\f10c"; font-size: 12px;margin-left: 5px;}
.flaticon-female-silhouette12:before { content: "\f10d"; font-size: 12px;margin-left: 5px; }
.flaticon-no-smoking-sign12:before { content: "\f10e"; font-size: 12px;margin-left: 5px;}
.flaticon-man-in-office-desk-with-computer12:before { content: "\f10f"; font-size: 12px;margin-left: 5px;}
.flaticon-people12:before { content: "\f110"; font-size: 12px;margin-left: 5px;}
.flaticon-no-dogs12:before { content: "\f111"; font-size: 12px;margin-left: 5px;}
.flaticon-tumble-dryer12:before { content: "\f112"; font-size: 12px;}
.flaticon-college-graduation12:before { content: "\f113"; font-size: 12px; margin-left: 5px;margin-left: 5px;}
.flaticon-cabinet12:before { content: "\f114"; font-size: 12px;margin-left: 5px;}
.flaticon-microwave12:before { content: "\f115"; font-size: 12px;margin-left: 5px;}
.flaticon-fridge12:before { content: "\f116"; font-size: 12px;margin-left: 5px;}
.flaticon-open-book12:before { content: "\f117"; font-size: 12px;margin-left: 5px;}
.flaticon-settings12:before { content: "\f118"; font-size: 12px;margin-left: 5px;}
.flaticon-stove1:before { content: "\f119"; font-size: 12px;margin-left: 5px;}
.flaticon-dishwasher12:before { content: "\f11a"; font-size: 12px;margin-left: 5px;}
.flaticon-wifi12:before { content: "\f11b"; font-size: 12px;margin-left: 5px;}
.flaticon-socket12:before { content: "\f11c"; font-size: 12px;margin-left: 5px;}
.flaticon-business12:before { content: "\f11d"; font-size: 12px;margin-left: 5px;}
.flaticon-gas-level12:before { content: "\f11e"; font-size: 12px;margin-left: 5px;}
.flaticon-backpack12:before { content: "\f11f"; font-size: 12px; margin-left: 5px;}
.flaticon-bed12:before { content: "\f120"; font-size: 12px;margin-left: 5px;}
.flaticon-plug12:before { content: "\f121"; font-size: 12px;margin-left: 5px;}