	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/05/2017 07:29
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
		font-style: normal;
}

.flaticon-business:before { content: "\f100"; font-size: 140px;}
.flaticon-mall-shopping-cart:before { content: "\f101";font-size: 140px; }
.flaticon-people:before { content: "\f102"; font-size:140px;}
.flaticon-green-park-city-space:before { content: "\f103"; font-size: 140px;}
.flaticon-backpack:before { content: "\f104"; font-size: 140px;}
.flaticon-open-book:before { content: "\f105"; font-size: 140px;}
.flaticon-college-graduation:before { content: "\f106"; font-size: 140px;}
.flaticon-train-on-railroad:before { content: "\f107"; font-size: 140px;}
.flaticon-man-standing-up:before { content: "\f108"; }
.flaticon-wifi:before { content: "\f109"; }
.flaticon-female-silhouette:before { content: "\f10a"; }
.flaticon-settings:before { content: "\f10b"; }
.flaticon-bedroom-black-closed-closet-for-clothes:before { content: "\f10c"; }
.flaticon-man-in-office-desk-with-computer:before { content: "\f10d"; }
.flaticon-bed:before { content: "\f10e"; }
.flaticon-double-king-size-bed:before { content: "\f10f"; }
.flaticon-cabinet:before { content: "\f110"; }
.flaticon-washing-machine:before { content: "\f111"; }
.flaticon-fridge:before { content: "\f112"; }
.flaticon-plug:before { content: "\f113"; }
.flaticon-minisplit:before { content: "\f114"; }
.flaticon-tumble-dryer:before { content: "\f115"; }
.flaticon-dishwasher:before { content: "\f116"; }
.flaticon-stove:before { content: "\f117"; }
.flaticon-socket:before { content: "\f118"; }
.flaticon-turn-microphone-off-button:before { content: "\f119"; }
.flaticon-no-dogs:before { content: "\f11a"; }
.flaticon-no-smoking-sign:before { content: "\f11b"; }
.flaticon-gas-level:before { content: "\f11c"; }
.flaticon-microwave:before { content: "\f11d"; }