option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: wirent.cafiqu7euk8i.ap-southeast-2.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_NAME
     value: wi_rent_test1.0
   - option_name: DB_USER
     value: ee07b498
   - option_name: DB_PASS
     value: qsyi3467
   - option_name: AWS_ACCESS_KEY_ID
     value: AKIAJEA5VFY2UDZPAZGA	 
   - option_name: AWS_SECRET_ACCESS_KEY
     value: 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	 