<div class="panel panel-default">
  <div class="panel-heading font-bold">
    添加账单
  </div>
  <div class="panel-body">
    <div class="wrapper bg-white">
      <div class="row m-t">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-id-1"><i style="color:red">*</i>地址选择</label>
            <div class="col-sm-10">
              <p>{{Bill.address}}</p>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Bill Type</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control m-b" ng-model="Bill.BillType" placeholder="Bill Type"> -->
            <select ng-model="Bill.BillType" class="input form-control inline v-middle m-b">
              <option>RentMonthly</option>
              <option>RentQuarterly</option>
              <option>RentYearly</option>
            </select>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">BillDate</label>
          <div class="col-sm-10">
              <div class="input-group w-sm  m-b">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateSelect.dt" is-open="$parent.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions"  close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">BillAmount</label>
          <div class="col-sm-10">
            <!-- <input type="phone" class="form-control m-b" ng-model="Bill.BillAmount" placeholder="$513246"> -->
            <div class="input-group m-b">
              <input type="text" class="form-control" ng-model="Bill.BillAmount" placeholder="Bill">
              <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">BillCopy</label>
          <div class="col-sm-10">
            <!-- <input type="text" name="text" class="form-control m-b" ng-model="Bill.BillCopy" placeholder="BillCopy"> -->
            <div class="b" ng-strict-di>
              <form novalidate>
                <div class="text-center">
                  <!-- <p>We strongly recommend <a href="http://7-zip.org/download.html">7-zip</a> for zipping/extracting files</p> -->
                  <!-- <p>Choose a photo ID to upload.</p> -->
                  <p>{{Bill.BillCopy}}</p>
                  <p>
                    <button type="file" ngf-select="uploadBillCopy($files)" ngf-multiple="false" class="btn btn btn-warning">
                        Select File
                    </button>
                  </p>
                </div>
                <div ng-show="BillCopy.length > 0" class="text-center">
                  <div ng-repeat="file in BillCopy">
                    File:
                    <div>
                      {{file.name}} {{file.$error}} {{file.$errorParam}}
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{file.Progress}}%;">
                        {{file.Progress | number:0}}%
                      </div>
                    </div>
                    <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">Processing, please wait...</div>
                    <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                  </div>
                  <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                    Oooops we had trouble uploading the file. Please refresh the page and try again.
                    <p>If the problem persits please supply us with the following details</p>
                    <p>{{errorMsg}}</p>
                  </div>
                  <div>{{BillCopyError}}</div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">BillReceipt</label>
          <div class="col-sm-10">
            <!-- <input type="phone" class="form-control m-b" ng-model="Bill.BillReceipt" placeholder="d"> -->
            <div class="b" ng-strict-di>
              <form novalidate>
                <div class="text-center">
                  <!-- <p>We strongly recommend <a href="http://7-zip.org/download.html">7-zip</a> for zipping/extracting files</p> -->
                  <!-- <p>Choose a photo ID to upload.</p> -->
                  <p>{{Bill.BillReceipt}}</p>
                  <p>
                    <button type="file" ngf-select="uploadBillReceipt($files)" ngf-multiple="false" class="btn btn btn-warning">
                        Select File
                    </button>
                  </p>
                </div>
                <div ng-show="BillReceipt.length > 0" class="text-center">
                  <div ng-repeat="file in BillReceipt">
                    File:
                    <div>
                      {{file.name}} {{file.$error}} {{file.$errorParam}}
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{file.Progress}}%;">
                        {{file.Progress | number:0}}%
                      </div>
                    </div>
                    <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">Processing, please wait...</div>
                    <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                  </div>
                  <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                    Oooops we had trouble uploading the file. Please refresh the page and try again.
                    <p>If the problem persits please supply us with the following details</p>
                    <p>{{errorMsg}}</p>
                  </div>
                  <div>{{BillReceiptError}}</div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
          <label class="col-sm-2 control-label">BillComment</label>
          <div class="col-sm-10">
            <!-- <input type="phone" class="form-control m-b" ng-model="Bill.BillComment" placeholder="djfalfdakl"> -->
            <textarea class="form-control" ng-model="Bill.BillComment" rows="6" placeholder="Type your message"></textarea>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg"></div>
        <div ng-show = "authorError" class="text-center" style="color: red;">
          <p>please selelct Receipt to upload!</p>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-default" ng-click="cancel()">Cancel</button>
          <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
      </div>
    </div>

  </div>
</div>
