<div class="panel panel-default">
  <div class="panel-heading font-bold">
    添加员工
  </div>
  <div class="panel-body">
    <div class="wrapper bg-white">
        <div class="row m-t">
          <div class="form-group">
            <label class="col-sm-2 control-label">Current password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control m-b" ng-model="businessInfo.TPPassword" placeholder="Current password">
            </div>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">New password</label>
            <div class="col-sm-10">
              <input type="password" ng-model="businessPassword.newPassword" class="form-control m-b" placeholder="New password">
            </div>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Retype New password</label>
            <div class="col-sm-10">
              <input type="password" ng-model="businessPassword.retypePassword" class="form-control m-b" placeholder="Retype New password">
            </div>
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div ng-show="authorError_nomatch" class="text-center" style="color:red; font-size:14px;">
              前后密码不一致
          </div>
          <div>
            <button class="btn btn-success m-r text-center" ng-click="update_business_password()">Change password</button>
          </div>
        </div>
    </div>

  </div>
</div>
