<div class="panel panel-default">
  <div class="panel-heading font-bold">
    员工密码更新
  </div>
  <div class="panel-body">
    <div class="wrapper bg-white">
        <div class="row m-t">
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Old Password</label>
              <div class="col-sm-10">
                <input type="password"  class="form-control" ng-model="staffInfo.SPassWord" placeholder="Old Password">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="line line-dashed b-b line-lg "></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-10">
              <input type="password"  class="form-control" ng-model="staffPassword.newPassword" placeholder="New Password">
            </div>
          </div>
          <div class="line line-dashed b-b line-lg "></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Retype Password</label>
            <div class="col-sm-10">
              <input type="password"  class="form-control" ng-model="staffPassword.retypePassword" placeholder="Retype Password">
            </div>
          </div>
            <div class="line line-dashed b-b line-lg"></div>
            <div class="text-center" style="color:red; font-size:14px;" ng-show="authorError_nomatch">
                前后密码不一致
            </div>
            <div class="form-group text-center">
              <button class="btn btn-default" ng-click="cancel()">Cancel</button>
              <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
        </div>
    </div>

  </div>
</div>
