<div class="business" ng-controller="businessCtrl">
	<div class="wrapper">
		<!--filter 模块-->
		<div class="filter-box">
			<div class="pd">
				<div class="bd" id="filter-options">
					<dl class="dl-lst clear"><dt><h3>区域：</h3></dt>
						<dd data-index="0">
							<div class="option-list">
								<a href="" class="on">不限</a>
								<a href="">kingsford</a>
								<a href="">Chatswood</a>
								<a href="">Maroubra</a>
								<a href="">Randwick</a>
								<a href="">Burwood</a>
								<a href="">Kensington</a>
								<a href="">Hurstvile</a>
								<a href="">Mascot</a>
								<a href="">Ryde</a>
							</div>
						</dd>
					</dl>
				</div>
				<div class="filter-bar01 filter-bars">
					<div id="sort-panel" class="sort-panel">
						<div class="left filterdrop">
							<div class="fs14"><span class="left">筛选：</span></div>
						</div>
						<div class="left">
							<div class="item-check">
								<ul>
									<li>
										<a href=""><i></i>客户信赖</a>
									</li>
									<li>
										<a href=""><i></i>客户热评</a>
									</li>
									<li>
										<a href=""><i></i>价格最低</a>
									</li>
									<li>
										<a href="/jingjiren/asa1/"><i></i>接单最多</a>
									</li>
									<li></li>
									<li>
										<a href=""><i></i>服务专业</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-bar01">
					<div class="sort-bar" id="sort-bar"><span>排序：</span>
						<div class="sort-parent on">
							<a href=""><span>默认</span></a>
						</div>
						<div class="sort-parent">
							<a href=""><span>综合评分从高到低</span></a>
						</div>
						<div class="sort-parent">
							<a href=""><span>价格从高到低</span></a>
						</div>
						<div class="sort-parent">
							<a href=""><span>评分从高到低</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-box clear">
			<div class="con-box">
				<div class="list-head clear" pan="">
					<h2 style="font-size:14px;">共有<span>3811</span>个搬家公司</h2></div>
				<div class="list-wrap">
					<ul class="agent-lst">
						<li class="hover_checked" ng-repeat="businessman in serviceData" ui-sref="app.businessDetails">
							<div class="pic-panel">
								<a ng-show="!businessman.links"><img  ng-src="[:businessman.TPLogo:]"></a>
								<a target="_blank" ng-show="businessman.links" href="http://[:businessman.TPLink:]"><img  ng-src="[:businessman.TPLogo:]"></a>
							</div>
							<div class="info-panel">
								<div class="agent-name">
									<a ng-show="!businessman.links">
										<h2>[:businessman.TPName:]</h2>
									</a>
									<a target="_blank" ng-show="businessman.links" href="http://[:businessman.TPLink:]">
										<h2>[:businessman.TPName:]</h2>
									</a>
									<span class="position">[:businessman.TPDetail:]</span>
								</div>
								<div class="col-1">
									<div class="main-plate"><span class="mp-title">主营区域:&nbsp;&nbsp;</span><span><a href="">[:businessman.TPServLoc:]&nbsp;</a><a href="">Randwick</a>&nbsp;&nbsp;&nbsp;</span>
									<div class="achievement">
										<a  href=""><span>[:businessman.TPDescription:]</span>&nbsp;</a>
									<div class="label"><span class="owner_trust_mark">顾客信赖</span><span class="good_comment_mark">客户热评</span><span class="good_saler_mark">评分最高</span><span class="top_guider_mark">专业服务</span></div>
								</div>
								<div class="col-2">
									<div class="high-praise">综合评分<span class="num">5.0</span></div>
									<div class="comment-num">
										<a target="_blank" href="#">评论161条</a>
									</div>
								</div>
								<div class="col-3">
									<h2>[:businessman.TPPhone:]</h2>
									<p class="method">联系方式</p>
									<p class="mobile_p"></p>
								</div>
								<div class="clear"></div>
							</div>
						</li>
					<!--	<li class="" ui-sref="app.businessDetails">
							<div class="pic-panel">
								<a target="_blank" href="#"><img onerror="this.src='http://s1.ljcdn.com/feroot/pc/asset/img/jingjiren/noimg.jpg?_v=20170518183336';" src="/img/noimg.jpg"></a>
							</div>
							<div class="info-panel">
								<div class="agent-name">
									<a target="_blank" href="#">
										<h2>Libin</h2></a><span class="position">ExpressMove </span>
									<a class="lianjiaim-createtalkAll" style="display: none;" title="在线咨询" data-role="lianjiaim-createtalk" data-ucid="1000000020091114"></a>
								</div>
								<div class="col-1">
									<div class="main-plate"><span class="mp-title">主营区域:&nbsp;&nbsp;</span><span><a target="_blank" href="#">Kingsford&nbsp;</a><a target="_blank" href="#">Randwick</a>&nbsp;&nbsp;&nbsp;</span>
									<div class="achievement">
										<a target="_blank" href="#"><span>长途搬家$50p/h</span>&nbsp;</a>
									<div class="label"><span class="owner_trust_mark">顾客信赖</span><span class="good_comment_mark">客户热评</span><span class="good_saler_mark">评分最高</span><span class="top_guider_mark">专业服务</span></div>
								</div>
								<div class="col-2">
									<div class="high-praise">综合评分<span class="num">5.0</span></div>
									<div class="comment-num">
										<a target="_blank" href="#">评论161条</a>
									</div>
								</div>
								<div class="col-3">
									<h2>0434959654</h2>
									<p class="method">联系方式</p>
									<p class="mobile_p"></p>
								</div>
								<div class="clear"></div>
							</div>
						</li>
-->						<div class="page-box house-lst-page-box" comp-module="page" page-url="/jingjiren/pg{page}/" page-data="{&quot;totalPage&quot;:100,&quot;curPage&quot;:1}">
							<a class="on" href="#" data-page="1">1</a>
							<a href="#" data-page="2">2</a>
							<a href="#" data-page="3">3</a><span>...</span>
							<a href="#" data-page="100">100</a>
							<a href="#" data-page="2">下一页</a>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>