<div class="businessDetails">
	<div class="wrapper">
		<div class="main-box clear" style="margin-top:0px;">
			<div class="left l_wrapper">
				<div class="agent_info con-box">
					<div class="info_head">
						<div class="pic_panel">
							<a href="#"><img onerror="this.src='http://s1.ljcdn.com/feroot/pc/asset/img/jingjiren/noimg.jpg?_v=20170518183336';" src="../img/andy.jpg"></a>
						</div>
						<div class="info-panel">
							<div class="agent-name clear" data-id="1">
								<a href="#" class="h1 fl">Libin</a><span class="position fl">ExpressMove </span>
								<a class="lianjiaim-createtalkAll fl" title="在线咨询" data-role="lianjiaim-createtalk" data-ucid="1000000020091114"></a>
							</div>
							<div class="col-1">
								<div class="main-plate"><span class="mp-title">主营区域:&nbsp;<i id="icon_pin" style="display: inline-block; color: pink;"></i></span>
									<a data-coord="" id="no" style="cursor: auto; color: rgb(51, 51, 51);"><span>Kingsford&nbsp;&nbsp;Randwick</span></a>
								</div>
								<div class="achievement"><span>046589456</span></div>
								<div class="label"><span class="owner_trust_mark">顾客信赖</span><span class="good_comment_mark">客户热评</span><span class="good_saler_mark">专业服务</span><span class="top_guider_mark">接单活跃</span></div>
							</div>
							<div class="m-qrcode" data-show="0">
								<div class="num">综合评分：5.0</div>
								<div class="icon-qrcode" data-url="https://m.link.lianjia.com/store/share/resume?agentId=1000000020091114&amp;from=dianpu"></div>
								<div class="txt">我比您看到的更有料</div>
							</div>
						</div>
					</div>
					<div class="info_bottom">
						<p><span class="congye">公司成立:&nbsp;&nbsp;</span>2年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>个人成绩:&nbsp;&nbsp;</span>
							<a target="_blank" href="?w=ershoufang">悉尼最有实力的搬家公司</a>， 服务专业，设备齐全
						</p>
						<p><span>主营版块:&nbsp;&nbsp;</span>
							<a target="_blank">City</a>
							<a target="_blank">Kingsford</a>&nbsp;&nbsp;
							<a target="_blank">Randwick</a>
							<a target="_blank">Kensington</a>&nbsp;&nbsp;
							<a target="_blank">Burwood</a>
							<a target="_blank">Chatswood</a>&nbsp;&nbsp;</p>
						<p><span>服务最多:&nbsp;&nbsp;</span>
							<a target="_blank">Maroubra </a>
							<a target="_blank">Bondi</a>
							<a target="_blank">Hurstvile</a>
						</p>
					</div>
				</div>
				<div class="comment_tab con-box">
					<div class="tab">
						<ul class="tab-lst">
							<li data-id="1" class="on">
								<a href="?w=baseinfo"><span>&nbsp;&nbsp;概况&nbsp;&nbsp;</span></a>
							</li>
							<li data-id="2">
								<a href="?w=pingjia"><span>用户评价(161)</span></a>
							</li>
							<!--<li data-id="3">
								<a href="?w=nengli"><span>能力总结</span></a>
							</li>
							<li data-id="4">
								<a href="?w=ershoufang"><span>二手房源</span></a>
							</li>-->
						</ul>
						<div class="loading" style="display: none;">
							<p>loading...</p>
						</div>
						<div id="main_wrapper" class="mainWrapper">
							<div class="self_rating">
								<h2>ExpressMove自评</h2>
								<p class="text-comment" style="display:block;"> 本公司有车辆定期往返 墨尔本 -- 悉尼 -- 布里斯本, 提供返空车的整车, 拼车运输服务, 是您实现低成本长途跨洲搬家, 货运, ebay大件物品递送的首选. 欢迎提前咨询预定.</p>
							</div>
							<!--	<div class="high_praise">
								<h2>
      								用户打赏及评价
   							     </h2>
								<div class="hp_detail">
									<div class="attitude clear-fl">
										<div class="flower left">
											<div class="star-percent actSlider">
												<div class="star-per"></div>
												<div class="star-bg" style="width:100%"></div>
												<input type="hidden" name="score" value="5">
											</div>
											<div class="star-percent actSlider">
												<div class="star-per"></div>
												<div class="star-bg" style="width:80%"></div>
												<input type="hidden" name="score" value="4">
											</div>
											<div class="star-percent actSlider">
												<div class="star-per"></div>
												<div class="star-bg" style="width:60%"></div>
												<input type="hidden" name="score" value="3">
											</div>
											<div class="star-percent actSlider">
												<div class="star-per"></div>
												<div class="star-bg" style="width:40%"></div>
												<input type="hidden" name="score" value="2">
											</div>
											<div class="star-percent actSlider">
												<div class="star-per"></div>
												<div class="star-bg" style="width:20%"></div>
												<input type="hidden" name="score" value="1">
											</div>
										</div>
										<div class="bar left">
											<div class="bar_gray">
												<div class="bar_red" style="width:100%">
												</div>
											</div>
											<div class="bar_gray">
												<div class="bar_red" style="width:0%">
												</div>
											</div>
											<div class="bar_gray">
												<div class="bar_red" style="width:0%">
												</div>
											</div>
											<div class="bar_gray">
												<div class="bar_red" style="width:0%">
												</div>
											</div>
											<div class="bar_gray">
												<div class="bar_red" style="width:0%">
												</div>
											</div>
										</div>
										<div class="num left">
											<a target="_blank" href="?w=pingjia#5">
												(<span class="starClick2" pan="5" style="text-decoration: underline; cursor: pointer;">161</span>)
											</a>
											<a target="_blank" href="?w=pingjia#4">
												(<span class="starClick2" pan="4">0</span>)
											</a>
											<a target="_blank" href="?w=pingjia#3">
												(<span class="starClick2" pan="3">0</span>)
											</a>
											<a target="_blank" href="?w=pingjia#2">
												(<span class="starClick2" pan="2">0</span>)
											</a>
											<a target="_blank" href="?w=pingjia#1">
												(<span class="starClick2" pan="1">0</span>)
											</a>
										</div>

									</div>
								</div>

								<div class="comment-wrap clear-fl">
									<a target="_blank" href="?w=pingjia" class="more_comment" id="moreComment">来自57个客户积累评价161次，收到28个客户共计打赏28次&gt;</a>
								</div>
								<ul class="rewards">

									<li>
										<img src="http://image1.ljcdn.com/storeimg/1476154285php3Y6FKi.png.100x100.png" width="100" height="100">
										<div class="title">
											<span>全能顾问  </span>
											<span>X2</span>
										</div>
										<div class="des">综合全能</div>
									</li>

									<li>
										<img src="http://image1.ljcdn.com/storeimg/1476154296phpk5lNJF.png.100x100.png" width="100" height="100">
										<div class="title">
											<span>神枪手 </span>
											<span>X2</span>
										</div>
										<div class="des">房源匹配精准</div>
									</li>

									<li>
										<img src="http://image1.ljcdn.com/storeimg/1476154319phpoPMrFs.png.100x100.png" width="100" height="100">
										<div class="title">
											<span>金算盘 </span>
											<span>X1</span>
										</div>
										<div class="des">贷款税费门清</div>
									</li>

								</ul>

							</div>
-->
							<div class="high_praise">
								<h2>能力概览</h2>
								<div class="hp_detail bn_w">
									<div class="chart_w fuwux chart_tl">
										<h2>ExpressMove服务最多的Suburb</h2>
										<ul class="summary-lst">
											<li data-id="1"><span class="on">服务Suburb</span></li>
											<!--<li data-id="2"><span>带看小区</span></li>-->
										</ul>
										<div class="r_kuang">
											<ul class="top-title">
												<li class="ranking">排行</li>
												<li class="districtName">Suburb名称</li>
												<li class="business">服务种类</li>
												<li class="region">所属区域</li>
												<li class="seeNum">服务量</li>
											</ul>
											<div class="rankHide" id="rank_sold">
												<ul class="top-dl">
													<li class="ranking">
														<div class="top3">
															<p>1</p>
														</div>
													</li>
													<li class="districtName">
														<a target="_blank" href="#">Kingsford</a>
													</li>
													<li class="business">搬家</li>
													<li class="region">Kingsford</li>
													<li class="seeNum">
														<p>10</p>
													</li>
												</ul>
												<ul class="top-dl">
													<li class="ranking">
														<div class="top3">
															<p>2</p>
														</div>
													</li>
													<li class="districtName">
														<a target="_blank" href="#">Randwick</a>
													</li>
													<li class="business">清理</li>
													<li class="region">Randwick</li>
													<li class="seeNum">
														<p>8</p>
													</li>
												</ul>
												<ul class="top-dl">
													<li class="ranking">
														<div class="top3">
															<p>3</p>
														</div>
													</li>
													<li class="districtName">
														<a target="_blank" href="#">Kensington</a>
													</li>
													<li class="business">Move</li>
													<li class="region">Kensington</li>
													<li class="seeNum">
														<p>3</p>
													</li>
												</ul>
												<ul class="top-dl">
													<li class="ranking">
														<div class="top3 gray">
															<p>4</p>
														</div>
													</li>
													<li class="districtName">
														<a target="_blank" href="#">Ryde</a>
													</li>
													<li class="business">House Clean</li>
													<li class="region">Ryde</li>
													<li class="seeNum">
														<p>2</p>
													</li>
												</ul>
												<ul class="top-dl">
													<li class="ranking">
														<div class="top3 gray">
															<p>5</p>
														</div>
													</li>
													<li class="districtName">
														<a target="_blank" href="#">Chatswood</a>
													</li>
													<li class="business">搬家</li>
													<li class="region">Chatswood</li>
													<li class="seeNum">
														<p>1</p>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!--<div class="mo_ck mo_wi">
									<a target="_blank" href="?w=nengli" class="more_comment" id="moreAbility">查看更多关于吴祚铭的能力总结&nbsp;&gt;&gt;</a>
								</div>-->
							</div>
							<div class="comment">
								<div class="title">
									<h2 class="clear-fl">
							      客户评价（418次）
							      <a class="fr" href="http://user.lianjia.com/site/history/" target="_blank">我要评价</a>
							    </h2>
								</div>
								<div class="select clear-fl">
									<div class="select-title fl">用户</div>
									<div class="dropdown fl">
										<span id="selected">所有人</span>
										<i></i>
										<ul class="fil-item sfil-item" style="display: none;">
											<li class="">所有人</li>
											<li class="">卖房人</li>
											<li class="">租房人</li>
											<li class="">出租人</li>
											<li class="">买房人</li>
										</ul>
									</div>
									<div class="select-title fl">评价环节</div>
									<div class="dropdown fl">
										<span id="step-selected">全部</span>
										<i></i>
										<ul class="fil-item" style="display: none;">
											<li class="">全部</li>
											<li>带看</li>
											<li>成交</li>
										</ul>
									</div>
									<div class="select-title fl">评分星级</div>
									<div class="dropdown fl">
										<span id="score-selected">全部</span>
										<i></i>
										<ul class="fil-item" style="display: none;">
											<li class="">全部</li>
											<li class="">一星</li>
											<li>二星</li>
											<li>三星</li>
											<li>四星</li>
											<li>五星</li>
										</ul>
									</div>

									<div class="item-check fr">
										<ul>
											<li class="iscontent selected" pan="1"><span><i></i>有内容的评价</span></li>
										</ul>
									</div>
								</div>
								<div class="noresult" style="display: none;">
									<p>嗨..没有找到相关评价，请您换个条件试试吧～</p>
								</div>
								<div class="comment_content">
									<ul id="comment_list" style="height: 1115px;">
										<li class="com_list" pan="-1">
											<div class="pingjia">
												<div class="pic">
													<div class="combImg" pan="2017-05-17 14:51:38"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000012026361">(1***2)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2017.05.17</span></div>
													<p>好</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2017-05-14 15:00:42"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000012026361">(1***2)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2017.05.14</span></div>
													<p>好</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2017-05-13 13:13:42"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000012026361">(1***2)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2017.05.13</span></div>
													<p>好</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2017-05-06 15:42:18"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000012026361">(1***2)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2017.05.06</span></div>
													<p>hao</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2017-05-03 13:32:43"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000012026361">(1***2)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2017.05.03</span></div>
													<p>好</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2016-01-01 14:17:36"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000003483373">(1***0)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2016.01.01</span></div>
													<p>服务不错，搬家找他没问题</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1">
											<div class="pingjia">
												<div class="pic">
													<div class="combImg" pan="2015-12-18 21:06:19"></div>
													<h2>客户</h2>
													<h3 class="selusername" pan="2000000003087711">(1***3)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2015.12.18</span></div>
													<p>以上是 MaxMove 在经营中一贯坚持并深深受益的基本原则, 在获得大量回头客的同时，客人又把我们介绍给自己的朋友和家人，我们深感鼓舞与感激。</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2016-01-01 14:17:36"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000003483373">(1***0)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2016.01.01</span></div>
													<p>服务不错，搬家找他没问题</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2016-01-01 14:17:36"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000003483373">(1***0)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2016.01.01</span></div>
													<p>服务不错，搬家找他没问题</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2016-01-01 14:17:36"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000003483373">(1***0)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2016.01.01</span></div>
													<p>服务不错，搬家找他没问题</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2016-01-01 14:17:36"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000003483373">(1***0)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2016.01.01</span></div>
													<p>服务不错，搬家找他没问题</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2016-01-01 14:17:36"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000003483373">(1***0)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2016.01.01</span></div>
													<p>服务不错，搬家找他没问题</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2016-01-01 14:17:36"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000003483373">(1***0)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2016.01.01</span></div>
													<p>服务不错，搬家找他没问题</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2016-01-01 14:17:36"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000003483373">(1***0)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2016.01.01</span></div>
													<p>服务不错，搬家找他没问题</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
										<li class="com_list" pan="-1" style="border-top: 1px solid rgb(255, 255, 255);">
											<div class="pingjia">
												<div class="pic" style="display: none;">
													<div class="combImg" pan="2016-01-01 14:17:36"></div>
													<h2>顾客</h2>
													<h3 class="selusername" pan="2000000003483373">(1***0)</h3></div>
												<div class="type">
													<h1>搬家</h1></div>
											</div>
											<div class="pingjiac">
												<div class="content">
													<div class="c_title">
														<div class="star-percent actSlider">
															<div class="star-per"></div>
															<div class="star-bg" style="width:100%"></div><input class="serviceS" type="hidden" name="score" value="5"></div><span class="date">2016.01.01</span></div>
													<p>服务不错，搬家找他没问题</p>
												</div>
												<div class="fold_c"><span class="fold_p" style="display: none;">展开更多评价</span></div>
											</div>
										</li>
									</ul>
									<div class="fallButton" style="display: block;">
										<p>加载更多评价</p>
									</div>
								</div>
							</div>
						</div>
						<div class="pager" id="pager" pany="1" style="display: none;"></div>
					</div>
				</div>
			</div>
			<div class="right r_wrapper">
				<div class="message con-box" id="messageType" pan="" url="https://passport.lianjia.com/cas/login?service=http%3A%2F%2Fdianpu.lianjia.com%2F1000000020091114">
					<h2>给<span>Libin</span>留言<span class="error_me">请选择留言类型</span></h2>
					<ul>
						<li>
							<div class="out_circle" pan="0">
								<div class="in_circle"></div>
							</div><span>搬家</span></li>
						<li>
							<div class="out_circle" pan="0">
								<div class="in_circle"></div>
							</div><span>清洁</span></li>
						<li>
							<div class="out_circle" pan="0">
								<div class="in_circle"></div>
							</div><span>其他</span></li>
					</ul><input type="text" class="name" name="fname" id="names" placeholder="姓名">
					<div class="phone">
						<div class="choose"><span id="checked">手机号</span><i></i></div>
						<ul class="fil-item">
							<li>QQ号</li>
							<li>邮箱</li>
							<li>手机号</li>
							<li>微信</li>
						</ul><input type="text" name="lname" id="contact"></div>
					<div class="message_k"><textarea maxlength="100" onchange="this.value=this.value.substring(0, 100)" onkeydown="this.value=this.value.substring(0, 100)" onkeyup="this.value=this.value.substring(0, 100)" name="content" class="comment-txt" id="leaveM" placeholder="您的留言"></textarea>
						<div class="actShowNumText"><span class="count"><span id="lm_word">0</span>/100</span>
						</div>
					</div><input id="sendMessage" type="submit" class="button" value="请点击此处登录"></div>
					<div class="authentication con-box">
					<h2>服务行程</h2>
					<p class="bold_t"><span class="bold_">[最新服务]</span>&nbsp;2017-05-14<br>帮Randwick客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Randwick&nbsp;</a>3位客户</p>
					<p class="bold_t"><span class="bold_">[最新服务]</span>&nbsp;2017-04-18<br>帮Kingsford客户清理房间
						<a target="_blank" href="http://hz.lianjia.com/chengjiao/103101196447.html?agent_id=20091114">&nbsp;5位客户</a>
					</p>
					<p class="overline">2017-05-14 17:00<br>帮Ryde客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Ryde&nbsp;</a>等10位客户</p>
					<p class="overline">2017-05-14 17:00<br>帮Ryde客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Ryde&nbsp;</a>等10位客户</p>
						<p class="overline">2017-05-14 17:00<br>帮Ryde客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Ryde&nbsp;</a>等10位客户</p>
						<p class="overline">2017-05-14 17:00<br>帮Ryde客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Ryde&nbsp;</a>等10位客户</p>
						<p class="overline">2017-05-14 17:00<br>帮Ryde客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Ryde&nbsp;</a>等10位客户</p>
						<p class="overline">2017-05-14 17:00<br>帮Ryde客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Ryde&nbsp;</a>等10位客户</p>
						<p class="overline">2017-05-14 17:00<br>帮Ryde客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Ryde&nbsp;</a>等10位客户</p>
						<p class="overline">2017-05-14 17:00<br>帮Ryde客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Ryde&nbsp;</a>等10位客户</p>
						<p class="overline">2017-05-14 17:00<br>帮Ryde客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Ryde&nbsp;</a>等10位客户</p>
						<p class="overline">2017-05-14 17:00<br>帮Ryde客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Ryde&nbsp;</a>等10位客户</p>
						<p class="overline">2017-05-14 17:00<br>帮Ryde客户搬家
						<a target="_blank" href="http://hz.lianjia.com/ershoufang/103088259399.html?agent_id=20091114">&nbsp;Ryde&nbsp;</a>等10位客户</p>
				</div>
			</div>
		</div>
	</div>
</div>
