<div ng-controller="detailsController" class="details-page">

	<div class="row">
		<div class="col-sm-8">
			<div class="">
				<div imagelunbo></div>
			</div>
		</div>
		<div class="col-sm-4" style="padding: 0; margin: 0;">
			<div class="col">
				<div class="row-sm-7">
				<div class="content">
					<div id="results">
						<div class="list-wrap">
							<ul id="house-list" class="house-list">
								<li class="first">
									<div class="info-panel">
										<div class="rooms cl">
											 <div class="hbox text-center">          
								              <a href class="col padder-v text-muted">
								                <div class="h4">
								                	 <span>[:detailsData.ER_BedRoom:]</span>
								                	 <span class="fa-stack fa-lg">
										                <i class="fa fa-circle fa-stack-2x text-white"></i>
										                <i class="fa fa-bed fa-stack-1x "></i>
										            </span> 
										           
								                </div>
								               
								              </a>
								              <a href class="col padder-v text-muted">
								                <div class="h4">
								                	<span>[:detailsData.ER_BathRoom:]</span>
								                	<span class="fa-stack fa-lg">
										                <i class="fa fa-circle fa-stack-2x text-white"></i>
										                <i class="fa fa-bath fa-stack-1x "></i>
										            </span>
								                </div>
								                
								              </a>
								              <a href class="col padder-v text-muted">
								                <div class="h4">
								                	<span>[:detailsData.ER_Parking:]</span>
								                	<span class="fa-stack fa-lg">
										                <i class="fa fa-circle fa-stack-2x text-white"></i>
										                <i class="fa fa-car fa-stack-1x "></i>
										            </span>
								                </div>
								                
								              </a>
								          </div>
										</div>
										<div class="address">
											<a>
												<span>[:detailsData.ER_No+' '+detailsData.ER_St+' '+detailsData.ER_Suburb+' '+detailsData.ER_Region:]</span>
											</a>
										</div>
										<div class="benefits">
											<!--<a class="train"><i class="fa fa-train"></i>距central station 200米</a>
											<a class="bus"><i class="fa fa-bus"></i>距bus stop 100米</a>
											<a class="shoping"><i class="fa fa-shopping-cart"></i>距Coles 500米</a>
											<a class="hospital"><i class="fa fa-h-square"></i>距Hospital 500米</a>-->
											<a href class="f-icon with-text train" title="near train station">
				                                <span class="icon " ng-show="detailsData.train_station" style="color: orange;"><i class="flaticon-train-on-railroad1" aria-hidden="true"></i></span>
				                                 <span class="icon " ng-show="!detailsData.train_station"><i class="flaticon-train-on-railroad1" aria-hidden="true"></i></span>
				                            </a>
				                            <a href class="f-icon with-text university" title="near university">
				                            	<span class="icon " ng-show="detailsData.university" style="color: chocolate;"><i class="flaticon-college-graduation1" aria-hidden="true"></i></span>
				                                <span class="icon " ng-show="!detailsData.university"><i class="flaticon-college-graduation1" aria-hidden="true"></i></span>
				                            </a>
				                            <a href class="f-icon with-text backpack" title="backpack">
				                            	<span class="icon " ng-show="detailsData.backpack" style="color: greenyellow;"><i class="flaticon-backpack1" aria-hidden="true"  ></i></span>
				                                <span class="icon " ng-show="!detailsData.backpack"><i class="flaticon-backpack1" aria-hidden="true"  ></i></span>
				                            </a>
				                            <a href class="f-icon with-text park" title="near park">
				                            	 <span class="icon " ng-show="detailsData.park" style="color: green;"><i class="flaticon-green-park-city-space1" aria-hidden="true"></i></span>
				                                <span class="icon " ng-show="!detailsData.park"><i class="flaticon-green-park-city-space1" aria-hidden="true"></i></span>
				                            </a>
											<a href class="f-icon with-text school" title="near school">
												<span class="icon " ng-show="detailsData.school" style="color: yellow;"><i class="flaticon-open-book1" aria-hidden="true"></i></span>
				                                <span class="icon " ng-show="!detailsData.school"><i class="flaticon-open-book1" aria-hidden="true"></i></span>
				                            </a>
				                            <a href class="f-icon with-text bigfamily" title="big family">
				                            	 <span class="icon " ng-show="detailsData.big_family" style="color: pink;"><i class="flaticon-people1"  aria-hidden="true"></i></span>
				                                <span class="icon " ng-show="!detailsData.big_family"><i class="flaticon-people1"  aria-hidden="true"></i></span>
				                            </a>
				                            <a href class="f-icon with-text shoppingmall" title="near shopping center">
				                            	<span class="icon " ng-show="detailsData.shopping_mall" style="color: darkred;"><i class="flaticon-shopping-cart1" aria-hidden="true"></i></span>
				                                <span class="icon " ng-show="!detailsData.shopping_mall"><i class="flaticon-shopping-cart1" aria-hidden="true"></i></span>
				                            </a>
				                            <a href class="f-icon with-text offical_rental" title="office rental">
				                            	<span class="icon " ng-show="detailsData.offical_rental" style="color: blue;"><i class="flaticon-business1" aria-hidden="true"></i></span>
				                                <span class="icon " ng-show="!detailsData.offical_rental"><i class="flaticon-business1" aria-hidden="true"></i></span>
				                            </a>
										</div>
										<div class="price">
											<span class="num">$[:detailsData.ER_Price:]<span class="period">per week</span></span>
											<span class="available">Available Time:&nbsp;[:detailsData.ER_AvailableDate:]</span>
										</div>
										<!--<div class="view">
											<span class="view-num">Viewed:  20</span>
										</div>-->
										<div class="save">
											<span class="save-delete-shortlist"><i class="fa fa-lg fa-heart-o">&nbsp;Save</i></span>
										</div>
									</div>
		
								</li>
							</ul>
						</div>
					</div>
				</div>
				</div>
				<div class="row-sm-5 m-l-xs" >
						<ng-map center="[: detailsData.ER_No+' '+detailsData.ER_St+' '+detailsData.ER_Suburb+','+detailsData.ER_Region :]" zoom="18" style="width: 426px!important; height: 144px!important;">
							<marker position="[: detailsData.ER_No+' '+detailsData.ER_St+' '+detailsData.ER_Suburb+','+detailsData.ER_Region:]" title="Hello World!" optimized="false" animation="Animation.BOUNCE" icon="{
						        url:'img/blue.png',
						        scaledSize:[30,30],
						        origin: [0,0],
						        anchor: [10,10]
						      }"></marker>
						</ng-map>
				</div>
			</div>
		</div>
	
	</div>
		<div class="row container-fluid m-r-n-xs" style="margin-top: 0;">
		<div class="col-sm-8">
			<img ng-src="[:detailsData.comment.PicFile:]" style="height: 440px; width: 878px;"/>
			<!--<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row b-b">
						<div class="col-sm-6 ">
							<div class="m-t-md">
								<h3>$585</h3>
								<small class="block m-t-xs">9/20 harbourne road, kingsford NSW 2032 </small>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="">
								<div class="hbox text-center">
									<a href class="col padder-v text-muted b-light" title="near train station">
									<div class="h4">
										<span class="fa-stack fa-lg" style="color: red;">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa fa-train fa-stack-1x "></i>
							            </span>
									</div>
								</a>
								<a href class="col padder-v text-muted b-light" title="location">
									<div class="h4">
										<span class="fa-stack fa-lg" style="color: green;">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa fa-map-marker fa-stack-1x "></i>
							            </span>
									</div>
								</a>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="hbox text-center">
								<a href class="col padder-v text-muted b-r b-light">
									<div class="h4">
										<span class="fa-stack fa-lg">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa fa-bed fa-stack-1x "></i>
							            </span>
									</div>
									<span>2 Rooms</span>
								</a>
								<a href class="col padder-v text-muted b-r b-light">
									<div class="h4">
										<span class="fa-stack fa-lg">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa fa-bath fa-stack-1x "></i>
							            </span>
									</div>
									<span>2 Baths</span>
								</a>
								<a href class="col padder-v text-muted">
									<div class="h4">
										<span class="fa-stack fa-lg">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa fa-car fa-stack-1x "></i>
							            </span>
									</div>
									<span>1 Parking</span>
								</a>
							</div>
						</div>

					</div>
					<div class="row">
						<div>
							<h5 class="inline full-screen m-l-md m-r-xxl">Available from Monday, 8 May 2017</h5>
							<span class="b-r"></span>
							<h5 class="inline full-screen m-l-xxl">Bond $2540.00</h5>
							<span class="b-r m-l-xxl"></span>
							<h5 class="inline full-screen m-l-xxl">Entire Rental(House)</h5>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<article class="media">
						<div class="pull-left">
							<span class="fa-stack fa-lg">
		                <i class="fa fa-circle fa-stack-2x"></i>
		                <i class="fa fa-wikipedia-w fa-stack-1x text-white"></i>
		              </span>
						</div>
						<div class="media-body">
							<a href class="h4"> Spacious Two Bedroom Apartment <span class="badge">New</span> </a>
							<h5 class="block m-t-xs">Features:</h5>
							<div class="hbox text-center">
								<a href class="col padder-v text-muted" style="color: purple;">
									<div class="h4">
										<span class="fa-stack fa-lg">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa flaticon-double-king-size-bed1 fa-stack-1x "></i>
							            </span>
									</div>
									<span>bed</span>
								</a>
								<a href class="col padder-v text-muted b-light" style="color: purple;">
									<div class="h4">
										<span class="fa-stack fa-lg">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa fa-tv fa-stack-1x "></i>
							            </span>
									</div>
									<span>TV</span>
								</a>
								<a href class="col padder-v text-muted" style="color: purple;">
									<div class="h4">
										<span class="fa-stack fa-lg">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa fa-fire fa-stack-1x "></i>
							            </span>
									</div>
									<span>Gas</span>
								</a>
								<a href class="col padder-v text-muted" style="color: purple;">
									<div class="h4">
										<span class="fa-stack fa-lg">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa flaticon-dishwasher1 fa-stack-1x "></i>
							            </span>
									</div>
									<span>Dishwasher</span>
								</a>
								<a href class="col padder-v text-muted" style="color: purple;">
									<div class="h4">
										<span class="fa-stack fa-lg">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa flaticon-washing-machine1 fa-stack-1x "></i>
							            </span>
									</div>
									<span>Washing Machine</span>
								</a>
								<a href class="col padder-v text-muted" style="color: purple;">
									<div class="h4">
										<span class="fa-stack fa-lg">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa flaticon-wifi1 fa-stack-1x "></i>
							            </span>
									</div>
									<span>WIFI</span>
								</a>
								<a href class="col padder-v text-muted" style="color: purple;">
									<div class="h4">
										<span class="fa-stack fa-lg">
							                <i class="fa fa-circle fa-stack-2x text-white"></i>
							                <i class="fa flaticon-fridge1 fa-stack-1x "></i>
							            </span>
									</div>
									<span>Fridge</span>
								</a>
							</div>
							<h5 class="block m-t-xs">Description:
							<small class="block m-t-xs">Positioned in a well maintained block is this bright and sunny apartment. Centrally located and only moments to Kingsford local shops, cafes and UNSW, this oversized apartment is a must see. It feautures: </small>
							<small class="block m-t-xs">- Two spacious bedrooms</small>
							<small class="block m-t-xs">- L-Shaped lounge and dining</small>
							<small class="block m-t-xs">- Shared laundry</small>
							<small class="block m-t-xs">- Balcony</small>
							<small class="block m-t-xs">- Lock up garage plus storage</small>
							<em class="text-xs">Available from <span class="text-danger">Monday 8th of May 2017.</span> 6-12 month lease to commence with the option to renew and stay on. </em>
							</h5>
						</div>
					</article>
					<div class="line pull-in"></div>
					<article class="media">
						<div class="pull-left">
							<span class="fa-stack fa-lg">
		                <i class="fa fa-circle fa-stack-2x"></i>
		                <i class="fa fa-wikipedia-w fa-stack-1x text-white"></i>
		              </span>
						</div>
						<div class="media-body">
							<a href class="h4">Property type: <span class="badge">House</span> </a>
							
						</div>
					</article>

				</div>
			</div>
-->		</div>
		<div class="col-sm-4">
			<div class="col-sm-12" style="padding: 0; margin: 0;">
				      <div class="panel b-a">
				        <div class="panel-heading no-border bg-primary">          
				          <span class="text-lt">WinningInvestment</span>
				        </div>
				        <div class="item m-l-n-xxs m-r-n-xxs">
				          <div ng-init="x = 3" class="top text-right padder m-t-xs w-full">
				            <rating ng-model="x" max="5" state-on="'fa fa-star text-white'" state-off="'fa fa-star-o text-white'"></rating>
				          </div>
				         <div class="bottom wrapper bg-gd-dk text-white">            
				            <div class="text-u-c h3 m-b-sm text-primary-lter">Rent&nbsp;Buy&nbsp;Invest</div>
				            <div>Address</div>
				            <div>84 Pitt St Sydney</div>
				          </div>
				          <img src="img/c0.jpg" class="img-full">
				        </div>
				        <div class="hbox text-center b-b b-light text-sm">          
				          <a href class="col padder-v text-muted b-r b-light">
				            <i class="icon-call-end block m-b-xs fa-2x"></i>
				            <span>Call</span>
				          </a>
				          <a href class="col padder-v text-muted b-r b-light">
				            <i class="icon-pointer block m-b-xs fa-2x"></i>
				            <span>Location</span>
				          </a>
				          <a href ng-click="open('lg')" class="col padder-v text-muted">
				            <i class="fa fa-envelope-o block m-b-xs fa-2x"></i>
				            <span>
				            	Email
				            </span>
				          </a>
				          <script type="text/ng-template" id="myModalContent.html">
						            <div ng-include="'/partials/tpl/modal.html'"></div>
						  </script>
				        </div>
				     <div class="hbox text-center text-sm">          
				          <a href class="col padder-v text-muted b-r b-light">
				            <i class="fa fa-whatsapp block m-b-xs fa-2x"></i>
				            <span>What's App</span>
				          </a>
				          <a href class="col padder-v text-muted b-r b-light">
				            <i class="fa fa-wechat block m-b-xs fa-2x"></i>
				            <span>Wechat</span>
				          </a>
				          <a href class="col padder-v text-muted">
				            <i class="fa fa-envelope block m-b-xs fa-2x"></i>
				            <span>Message</span>
				          </a>
				        </div>	
			      </div>
			        <!-- modal -->
		<!--		      <div  class="panel b-a">
				          <script type="text/ng-template" id="myModalContent.html">
				            <div ng-include="'/partials/tpl/modal.html'"></div>
				          </script>
				          <div class="panel-heading b-b b-light">Modal</div>
				          <div class="panel-body">
				            <button class="btn btn-success" ng-click="open()">Open me!</button>
				            <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
				            <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
				          </div>
				      </div>-->
			      <!-- /modal -->
			</div>

		</div>
	</div>
	<div class="row">
		<ng-map center="[: detailsData.ER_No+' '+detailsData.ER_St+' '+detailsData.ER_Suburb+','+detailsData.ER_Region :]" zoom="18">
			<marker position="[: detailsData.ER_No+' '+detailsData.ER_St+' '+detailsData.ER_Suburb+','+detailsData.ER_Region :]" title="Hello World!" optimized="false" animation="Animation.BOUNCE" icon="{
		        url:'img/blue.png',
		        scaledSize:[30,30],
		        origin: [0,0],
		        anchor: [10,10]
		      }"></marker>
		</ng-map>
	</div>
	
	<div class="m-t-md"></div>
	<div class="clear">
			<section rentrecommend class="dream-homes">
			</section>
		</div>
</div>