<div class="rightfix " ng-controller="fixCtrl">
	<div id="J_GotoTop" class="elevator">
		<a href="" class="elevator-msg" target="_blank"> 
			<i class="fa fa-exclamation-circle"></i> 
			<span class="">意见反馈</span> 
		</a>
		<a href="" class="elevator-faq" target="_blank"> 
			<i class="fa fa-commenting"></i> 
			<span class="">联系我们</span> 
		</a>
		<a href="" target="_blank" class="elevator-app"> 
			<i class="fa fa-mobile"></i> 
			<span class="">APP下载</span>
			<div class="elevator-app-box"></div>
		</a>
		<a href="javascript:void(0)" class="elevator-weixin" id="js-elevator-weixin"> 
			<i class="fa fa-wechat"></i> 
			<span class="">官方微信</span>
			<div class="elevator-weixin-box"></div>
		</a>
		<a ng-click="go2Top()" class="elevator-top no-goto" style="display: block;" id="backTop"> 
			<i class="fa fa-angle-up"></i> 
			<span class="">返回顶部</span> 
		</a>
	</div>
</div>