<div class="m-b-lg m-t-sm" ng-controller="footerCtrl">
		<div>
			<div class="text-center b-b">
				<a href="#" translate= "footer.director.about">关于我们</a>|
				<a href="#" translate= "footer.director.contact">联系我们</a>|
				<a href="#" translate= "footer.director.business">商家入驻</a>
			</div>
			<div class="row m-t-sm">
				<div class="col-sm-6  text-left" style="padding-left: 390px;">
						<span>
							<h1 style="font-weight: 550!important; font-size:18px;color:black;line-height:16px; margin:0;padding:0">Sydney Office</h1>
						 Level 2, 84 Pitt St, Sydney, NSW 2000 Australia
						<br />  Phone:02-80021739 / 0431396515
						</span>
				</div>
				<div class="col-sm-6 text-left" style="padding-left:15px">
						<span>
								<h1 style="font-weight:550!important; font-size:18px;color:black;line-height:16px; margin:0;padding:0">Taiwan Office</h1>					 
						<a translate= "footer.office.tw_addr"></a>
						<!--11071臺北市信義區忠孝東路四段560號13樓-->
						<br /> Phone: +886-2-87291208 / +886-905268238

						</span>
				</div>
			</div>
			<div class="row text-center">
				<div>
					<br />  Email: info@winninginvestment.com.au
					<br /> Copyright © 2016-2017 唯赢WinningInvestment.com 版权所有
					<br /> <a class="m-r-md m-b-lg" ng-click="showWechat()"><i class="fa fa-2x fa-wechat" style="color:#00d00d"></i></a> <a class="m-r-md m-b-lg" href="http://weibo.com/5893040453"><i class="fa fa-2x fa-weibo" style="color:#d52b2b"></i></a> <a class="m-r-md m-b-lg" href="https://www.facebook.com/winninginvestment2015"><i class="fa fa-2x fa-facebook-square" style="color:#3e5c9a"></i></a>
					<a class="m-r-md m-b-lg" href="https://plus.google.com/u/0/116065932933427298523"><i class="fa fa-2x fa-google-plus-square" style="color:#db4437"></i></a>  <a class="m-r-md m-b-lg"><i class="fa fa-2x fa-youtube-play" style="color:#cc181e"></i></a><a class="m-r-md m-b-lg" href="https://www.instagram.com/winning_investment/"><i class="fa fa-2x fa-instagram" style="color:#d02f7b"></i></a>
					 <!-- <a class="m-r-md m-b-lg" href="https://www.instagram.com/winning_investment/"><i class="fa fa-2x fa-linkedin"></i></a> -->
				</div>
			</div>
		</div>
</div>
