<div ng-controller="MyCtrl as vm" >
			<div class="map-page">
				    <div style="position: fixed; right: 0;width:100%; height: 50px; z-index: 100; background-color: #f6f8f8;">
							<div class="pull-left">
							<form>
								<ul class="nav navbar-nav more-options">
							          <li class="dropdown pos-stc">
							            <a href class="dropdown-toggle btn-primary" ng-click="dropdown=!dropdown">
							              <span>Filters</span> 
							              <span class="caret"></span>
							            </a>
							            <div class=" wrapper w-full bg-white cust-m-t" style="position: fixed; top: 100px; left: 0;z-index: 100;" ng-show="dropdown">
							              <div class="row">
							                <div class="col-sm-4">
							                  <div class="row">
							                    <div class="col-xs-6 left-li">
							                      <ul class="list-unstyled l-h-2x">
							                        <li>
							                         <label>Price</label>
    												<input type="text" ng-model="myMinPrice" class="form-control input-sm" placeholder="minPrice" aria-describedby="basic-addon1">
							                        </li>
							                        <li>
							                          <label>Beds</label>
        											  <select class="input-sm form-control w-sm inline v-middle" ng-model="minBedNum" ng-options="minBed.num as minBed.num for minBed in bedsNum">
							                          </select>
							                        </li>
							                        <li>
							                          <label>Baths</label>
												        <select class="input-lg form-control w-sm inline v-middle" ng-model="minBathNum" ng-options="minBath.num as minBath.num for minBath in bathsNum"  >
												         
												        </select>
							                        </li>
							                        <li>
							                         <label>Area</label>
    												<input type="text" ng-model="minArea" class="form-control input-sm" placeholder="minArea" aria-describedby="basic-addon1">
							                        </li>
							                        <li>
							                          <label>Type</label>
												        <select class="input-lg form-control w-sm inline v-middle" ng-model="myPropertyType"  ng-options="property.propertyType as property.propertyType for property in propertyTypes">
												        </select>
							                        </li>
							                      </ul>
							                    </div>
							                    <div class="col-xs-6 right-li">
							                      <ul class="list-unstyled l-h-2x">
							                        <li>
    												<input type="text" class="form-control input-sm" ng-model="myMaxPrice" placeholder="maxPrice" aria-describedby="basic-addon1">
							                        </li>
							                        <li>
        											  <select class="input-lg form-control w-sm inline v-middle" ng-model="maxBedNum" ng-options="maxBed.num as maxBed.num for maxBed in bedsNum">
							                          </select>
							                        </li>
							                        <li>
												        <select class="input-lg form-control w-sm inline v-middle" ng-model="maxBathNum" ng-options="maxBath.num as maxBath.num for maxBath in bathsNum" >
												        </select>
							                        </li>
							                        <li>
							                          <input type="text" class="form-control input-sm" ng-model="maxArea" placeholder="maxArea" aria-describedby="basic-addon1">
							                        </li>
							                        <li></li>
							                      </ul>
							                    </div>
							                  </div>
							                </div>
							                <div class="col-sm-4 b-l b-light">
							                  <div class="row">
							                    <div class="col-xs-6 left-li">
							                      <ul class="list-unstyled l-h-2x">
							                        <li>
							                          <label>Parking</label>
												        <select class="input-sm form-control w-sm inline v-middle" ng-model="minParkingNum" ng-options="parking.num as parking.num for parking in parkingsNum" >
												        </select>
							                        </li>
							                       <!-- <li>
							                          <label>minArea</label>
												        <select class="input-lg form-control w-sm inline v-middle" ng-model="myArea" ng-options="parking.num as parking.num for parking in parkingsNum" >
												        </select>
							                        </li>-->
							                       <!-- <li>
							                          	<label>features</label>
    													<input type="text" class="form-control input-lg" ng-model="features" placeholder="freatures,e.g. pets allowed.." aria-describedby="basic-addon1">
							                        </li>-->
							                        <li>
							                         <label class="m-t-xxs">Available:</label>
											            <p class="input-group">
											              <input type="text" class="form-control input-sm" datepicker-popup="[:format:]" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2018-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
											              <span class="input-group-btn">
											                <button type="button" class="btn btn-default btn-md" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
											              </span>
											            </p>   
							                        </li>
							                          <li>
							                          	<label class="m-t-xxs">Descriptions:</label>
							                          	<ul style="list-style: none; padding-right: 0;">
							                          		<li>
							                          			<a class="" title="near train station" ng-click="train=!train">
							                          				<i ng-show="train" class="flaticon-train-on-railroad1" style="color: orange;" aria-hidden="true"></i>
							                          				<i ng-show="!train" class="flaticon-train-on-railroad1" aria-hidden="true"></i>
							                          			</a>
									                          	<a class="" title="near university" ng-click="university=!university">
									                          		<i ng-show="university" class="flaticon-college-graduation1" style="color: chocolate;" aria-hidden="true"></i>
									                          		<i ng-show="!university" class="flaticon-college-graduation1" aria-hidden="true"></i>
									                          	</a>
									                          	<a class="" title="near hotel YHA" ng-click="backpack=!backpack">
									                          		<i ng-show="backpack" class="flaticon-backpack1" style="color: greenyellow;" aria-hidden="true"></i>
									                          		<i ng-show="!backpack" class="flaticon-backpack1" aria-hidden="true"></i>
									                          	</a>
									                          	<a class="" title="near park" ng-click="park=!park">
									                          		<i ng-show="park" class="flaticon-green-park-city-space1" style="color: green;" aria-hidden="true"></i>
									                          		<i ng-show="!park" class="flaticon-green-park-city-space1" aria-hidden="true"></i>
									                          	</a>
							                          		</li>
							                          	</ul>
							                        </li>
							                      </ul>
							                    </div>
							                    <div class="col-xs-6 right-li">
							                      <ul class="list-unstyled l-h-2x">
							                        <li>
							                         <select class="input-sm form-control w-sm inline v-middle" ng-model="maxParkingNum" ng-options="parking.num as parking.num for parking in parkingsNum" >
        											 </select>
							                        </li>
							                        <li>
							                          	<a style="display: block;"></a>
							                        </li>
							                        <li style="visibility: hidden;">
							                           <label>descriptions:</label>
    												   <input type="text" class="form-control input-lg"  style="background: white; border: none;" aria-describedby="basic-addon1">
							                        </li>
							                          	<ul style="list-style: none; margin-top: 46px; padding-left: 0;">
							                          		<li>
							                          			<a class="" title="near school" ng-click="school=!school">
							                          				<i ng-show="school" class="flaticon-open-book1" style="color: yellow;" aria-hidden="true"></i>
							                          				<i ng-show="!school" class="flaticon-open-book1" aria-hidden="true"></i>
							                          			</a>
							                          			<a class="" title="big family" ng-click="family=!family">
							                          				<i ng-show="family" class="flaticon-people1" style="color: pink;" aria-hidden="true"></i>
							                          				<i ng-show="!family" class="flaticon-people1" aria-hidden="true"></i>
							                          			</a>
									                          	<a class="" title="near shoppingcenter" ng-click="shoppingcenter=!shoppingcenter">
									                          		<i ng-show="shoppingcenter" class="flaticon-shopping-cart1" style="color: darkred;" aria-hidden="true"></i>
									                          		<i ng-show="!shoppingcenter" class="flaticon-shopping-cart1" aria-hidden="true"></i>
									                          	</a>
									                          	<a class="" title="officerental" ng-click="officerental=!officerental">
									                          		<i ng-show="officerental" class="flaticon-business1" style="color: blue;" aria-hidden="true"></i>
									                          		<i ng-show="!officerental" class="flaticon-business1" aria-hidden="true"></i>
									                          	</a>
							                          		</li>
							                          	</ul>
							                      </ul>
							                    </div>
							                  </div>
							                </div>
							                <div class="col-sm-4 b-l m-l-n-xxs">
							                  <div class="row">
							                    <div class="col-xs-6">
							                    	<div class="row">
							                    		<div class="col-xs-4">
							                    			 <ul class="list-unstyled l-h-2x">
										                      	<li>
										                      	<!--<input type="checkbox" name="featureproductrank" id="featureproductrankRefineCb0" value="premier-only" tabindex="18">-->
										                      	<!--<label for="featureproductrankRefineCb0"></label>-->
										                      	<span title="all_requirements" ng-click="col_requirements()">
										                      		<i ng-show="all_requirements" style="color: purple;" class="flaticon-puzzle20"></i>
										                      		<i ng-show="!all_requirements" class="flaticon-puzzle20"></i>
										                      	</span>
										                      	</li>
										                      	<li>
										                      		<span title="no_smoking" ng-click="no_smoking=!no_smoking">
										                      			<i ng-show="no_smoking" style="color: purple;" class="flaticon-no-smoking-sign18"></i>
										                      			<i ng-show="!no_smoking" class="flaticon-no-smoking-sign18"></i>
										                      		</span>
										                      	</li>
										                      	<li>
										                      		<span title="no_pets" ng-click="no_pets=!no_pets">
										                      			<i ng-show="no_pets" style="color: purple;" class="flaticon-no-dogs18"></i>
										                      			<i ng-show="!no_pets" class="flaticon-no-dogs18"></i>
										                      		</span>
										                      	</li>
										                      	<li>
										                      		<span title="girl_only" ng-click="girl_only=!girl_only">
										                      			<i ng-show="girl_only" style="color: purple;" class="flaticon-female-silhouette18"></i>
										                      			<i ng-show="!girl_only" class="flaticon-female-silhouette18"></i>
										                      		</span>
										                      	</li>
										                      	<li>
										                      		<span title="boy_only" ng-click="boy_only=!boy_only">
										                      			<i ng-show="boy_only" style="color: purple;" class="flaticon-man-standing-up18"></i>
										                      			<i ng-show="!boy_only" class="flaticon-man-standing-up18"></i>
										                      		</span>
										                      	</li>
										                      	<li>
										                      		<span title="no_party" ng-click="no_party=!no_party">
										                      			<i ng-show="no_party" style="color: purple;" class="flaticon-turn-microphone-off-button18"></i>
										                      			<i ng-show="!no_party" class="flaticon-turn-microphone-off-button18"></i>
										                      		</span>
										                      	</li>
										                      </ul>
							                    		</div>
							                    		<div class="col-xs-4">
							                    			 <ul class="list-unstyled l-h-2x m-l-sm">
										                      	<li>
										                      	<span title="appliances" ng-click="col_appliances()">
										                      		<i ng-show="appliances" style="color: purple;" class="flaticon-socket20"></i>
										                      		<i ng-show="!appliances" class="flaticon-socket20"></i>
										                      	</span>
										                      	</li>
										                      	<li>
										                      		<span title="stove" ng-click="stove=!stove">
										                      			<i ng-show="stove" style="color: purple;" class="flaticon-stove16"></i>
										                      			<i ng-show="!stove" class="flaticon-stove16"></i>
										                      		</span>
										                      	</li>
										                      	<li>
										                      		<span title="dishwasher" ng-click="dishwasher=!dishwasher">
										                      			<i ng-show="dishwasher" style="color: purple;" class="flaticon-dishwasher16"></i>
										                      			<i ng-show="!dishwasher" class="flaticon-dishwasher16"></i>
										                      		</span>
										                      	</li>
										                      	<li>
										                      		<span title="dryer" ng-click="dryer=!dryer">
										                      			<i ng-show="dryer" style="color: purple;" class="flaticon-tumble-dryer16"></i>
										                      			<i ng-show="!dryer" class="flaticon-tumble-dryer16"></i>
										                      		</span>
										                      	</li>
										                      	<li>
										                      		<span title="aircondition" ng-click="aircondition=!aircondition">
										                      			<i ng-show="aircondition" style="color: purple;" class="flaticon-minisplit16"></i>
										                      			<i ng-show="!aircondition" class="flaticon-minisplit16"></i>
										                      		</span>
										                      	</li>
										                    </ul>
							                    		</div>
							                    		<div class="col-xs-4">
							                    			  <ul class="list-unstyled l-h-2x m-l-md">
										                      	<li>
										                      	<!--<input type="checkbox" name="featureproductrank" id="featureproductrankRefineCb0" value="premier-only" tabindex="18">-->
										                      	<!--<label for="featureproductrankRefineCb0"></label>-->
										                      	<span title="furniture" ng-click="col_furniture()">
										                      		<i ng-show="furniture" style="color: purple;" class="flaticon-cabinet20"></i>
										                      		<i ng-show="!furniture" class="flaticon-cabinet20"></i>
										                      	</span>
										                      	</li>
										                      	<li>
										                      		<span title="bed" ng-click="bed=!bed">
										                      			<i ng-show="bed" style="color: purple;" class="flaticon-bed16"></i>
										                      			<i ng-show="!bed" class="flaticon-bed16"></i>
										                      		</span>
										                      	</li>
										                      	<li>
										                      		<span title="desk" ng-click="desk=!desk">
										                      			<i ng-show="desk" style="color: purple;" class="flaticon-man-in-office-desk-with-computer16"></i>
										                      			<i ng-show="!desk" class="flaticon-man-in-office-desk-with-computer16"></i>
										                      		</span>
										                      	</li>
										                      	<li>
										                      		<span title="wardrob" ng-click="wardrob=!wardrob">
										                      			<i ng-show="wardrob" style="color: purple;" class="flaticon-bedroom-black-closed-closet-for-clothes16"></i>
										                      			<i ng-show="!wardrob" class="flaticon-bedroom-black-closed-closet-for-clothes16"></i>
										                      		</span>
										                      	</li>
										                      	<!--<li>
										                      		<span><i class="flaticon-minisplit16"></i></span>
										                      	</li>-->
										                      </ul>
							                    		</div>
							                    	</div>
							                     </div>
							                     <div class="col-xs-6">
							                     	<div class="row">
							                    		<div class="col-xs-6">
							                    			 <ul class="list-unstyled l-h-2x m-l-xl">
										                      	<li>
										                      	<!--<input type="checkbox" name="featureproductrank" id="featureproductrankRefineCb0" value="premier-only" tabindex="18">-->
										                      	<!--<label for="featureproductrankRefineCb0"></label>-->
										                      	<span title="other_appliance" ng-click="col_other_appliance()">
										                      		<i ng-show="other_appliance" style="color: purple;" class="flaticon-plug20"></i>
										                      		<i ng-show="!other_appliance" class="flaticon-plug20"></i>
										                      	</span>
										                      	</li>
										                      	<li>
										                      		<span title="refrigerator" ng-click="refrigerator=!refrigerator">
										                      			<i ng-show="refrigerator" style="color: purple;" class="flaticon-fridge16"></i>
										                      			<i ng-show="!refrigerator" class="flaticon-fridge16"></i>
										                      		</span>
										                      	</li>
										                      	<li>
										                      		<span title="laundry" ng-click="laundry=!laundry">
										                      			<i ng-show="laundry" style="color: purple;" class="flaticon-washing-machine16"></i>
										                      			<i ng-show="!laundry" class="flaticon-washing-machine16"></i>
										                      		</span>
										                      	</li>
										                      </ul>
							                    		</div>
							                    		<div class="col-xs-6">
							                    			  <ul class="list-unstyled l-h-2x">
											                      <li>
											                      	<!--<input type="checkbox" name="featureproductrank" id="featureproductrankRefineCb0" value="premier-only" tabindex="18">-->
											                      	<!--<label for="featureproductrankRefineCb0"></label>-->
											                      	<span title="other_essential" ng-click="col_other_essential()">
											                      		<i ng-show="other_essential" style="color: purple;" class="flaticon-settings20"></i>
											                      		<i ng-show="!other_essential" class="flaticon-settings20"></i>
											                      	</span>
											                      	</li>
											                      	<li>
											                      		<span title="wifi" ng-click="wifi=!wifi">
											                      			<i ng-show="wifi" style="color: purple;" class="flaticon-wifi16"></i>
											                      			<i ng-show="!wifi" class="flaticon-wifi16"></i>
											                      		</span>
											                      	</li>
											                      	<li>
											                      		<span title="gas" ng-click="gas=!gas">
											                      			<i ng-show="gas" style="color: purple;" class="flaticon-gas-level16"></i>
											                      			<i ng-show="!gas" class="flaticon-gas-level16"></i>
											                      		</span>
											                      	</li>
										                      </ul>
							                    		</div>
							                    		<div>
							                    			<button type="submit" class="button btn-success plusplus" style="margin-top: 60px;margin-left: 75px;" ng-click="update();dropdown=false" tabindex="23"><span>Update search</span></button>
							                    		</div>
							                    	</div>
							                     </div>
							                  </div>
							                </div>
							              </div>
							            </div>
							          </li>
								</ul>
							</form>
							</div>
							<div class="m-t-xxs pull-left">
								<form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search" >
					          <div class="form-group">
					            <div class="input-group">
					              <input type="text" ng-model="selected"  class="form-control input-sm bg-light no-border rounded padder" placeholder="address...">
					              <span class="input-group-btn">
					                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
					              </span>
					            </div>
					          </div>
					        </form>
							</div>
							<div class="pull-right b-l" style="margin: 10px;">
								<h5 class="inline m-t-md m-l-sm m-r-sm">385 Properties for rent in Kingsford, NSW, 2032</h5>
								 <ul class="pagination pagination-sm m-t-none m-b-none">
												<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
												<li><a href>1</a></li>
												<li><a href>2</a></li>
												<li><a href>3</a></li>
												<li><a href>4</a></li>
												<li><a href>5</a></li>
												<li><a href><i class="fa fa-chevron-right"></i></a></li>
								</ul>
							</div>
					</div>
					<div class="" style="height: 100%; width:100%;  padding-right: 530px; position: fixed; left: 0;top: 100px;">
							<ng-map  center="[:vm.shop.ER_No+' '+vm.shop.ER_St+' '+vm.shop.ER_Suburb:]" zoom="12" style="height: 538px;">
									<marker id="[:shop.ER_ID:]" position="[:shop.ER_No+' '+shop.ER_St+' '+shop.ER_Suburb+' '+shop.ER_Region:]" ng-repeat="shop in vm.shops" on-click="vm.showDetail(shop)">
									</marker>
									<info-window id="foo-iw">
											<div ng-non-bindable="">
														<div class="infowindow-container clear">
																	<div class="info-left">
																		<img src="[:vm.shop.picset[0].PicFile:]" alt="Avatar" style="width:100px; align-content: center;">
																	</div>
																	<div class="info-right">
																		<p class="price">$[:vm.shop.ER_Price:]<span>per week</span></p>
																	  <p class="address"><span><a ui-sref="app.details">[:vm.shop.ER_No+' '+vm.shop.ER_St+' '+vm.shop.ER_Suburb+' '+vm.shop.ER_Region:]</span></a></p>
																	  <div class="listing-features">
																					<span class="f-icon with-text">
									                            <span class="copy"><em class="ng-binding">[:vm.shop.ER_BedRoom:]</em></span>
																					<span class="icon fa fa-bed"></span>
																					
																					</span>
																					<span class="f-icon with-text">
									                            <span class="copy"><em class="ng-binding">[:vm.shop.ER_BathRoom:]</em></span>
																					<span class="icon fa fa-bath"></span>
																					</span>
																					<span class="f-icon with-text">
									                            <span class="copy"><em class="ng-binding">[:vm.shop.ER_Parking:]</em></span>
																					<span class="icon fa fa-car"></span>
																					</span>
																			</div>
																		</div>
														</div>
											</div>
									</info-window>
							</ng-map>
						</div>
						<div class="adv clear">
									<div class="relative-position">
										<ul class="clear">
											<li ng-repeat="shop in vm.shops" ng-mouseover="vm.showDetail(e,shop)">
												<div id="box" class="all clear panel b-a" set-ng-animate="false">
													<!--<div class="ad">
														
														<ul id="imgs">
															<li ng-repeat="picture in shop.picset">
																<img src="[:picture.PicFile:]" />
															</li>
														</ul>
													
													<div id="arr"><span id="left"><</span><span id="right">></span></div>-->
													<div class="ad">
														<div class="shortlist-star" >
																<a style="color: pink;" ng-show="!star" ng-click="star=!star;vm.addShortlist()"><i class="fa fa-5x fa-heart-o" aria-hidden="true"></i></a>
																<a style="color: pink;" ng-show="star" ng-click="star=!star;vm.deleteShortlist()"><i class="fa fa-5x fa-heart" aria-hidden="true"></i></a>
														</div>
														 <carousel interval="myInterval">
													          <slide ng-repeat="picture in shop.picset" active="slide.active">
													            <img ng-src="[:picture.PicFile:]" class="img-full" style="height: 400px;">
													            <div class="carousel-caption">
													             <!-- <h4>Slide [:$index:]</h4>
													              <p>[:slide.text:]</p>-->
													            </div>
													          </slide>
												         </carousel>
											         </div>
												</div>
												<div class="description">
													<div class="info-panel">
														<div class="listing-features rooms">
																				<span class="f-icon with-text" style="color: purple;">
													                            <span class="copy"><em class="ng-binding">[:shop.ER_BedRoom:]</em></span>
																									<span class="icon fa fa-bed" ></span>
																									</span>
																				<span class="f-icon with-text" style="color: purple;">
								                            <span class="copy"><em class="ng-binding">[:shop.ER_BathRoom:]</em></span>
																				<span class="icon fa fa-bath" ></span>
																				</span>
																				<span class="f-icon with-text" style="color: purple;">
								                            <span class="copy"><em class="ng-binding">[:shop.ER_Parking:]</em></span>
																				<span class="icon fa fa-car" ></span>
																				</span>
														</div>
														<div class="address">
															<a ui-sref="app.details({id:shop.ER_ID,name:shop.ER_No+' '+shop.ER_St+' '+shop.ER_Suburb+' '+shop.ER_Region})">
																<span>[:shop.ER_No+' '+shop.ER_St:],</span>
																<span>[:shop.ER_Suburb+' '+shop.ER_Region:]</span>
															</a>
														</div>
														<div class="benefits">
															<a href class="f-icon with-text train" title="near train station">
								                                <span class="icon " ng-show="shop.train_station" style="color: orange;"><i class="flaticon-train-on-railroad1" aria-hidden="true"></i></span>
								                                 <span class="icon " ng-show="!shop.train_station"><i class="flaticon-train-on-railroad1" aria-hidden="true"></i></span>
								                            </a>
								                            <a href class="f-icon with-text university" title="near university">
								                            	<span class="icon " ng-show="shop.university" style="color: chocolate;"><i class="flaticon-college-graduation1" aria-hidden="true"></i></span>
								                                <span class="icon " ng-show="!shop.university"><i class="flaticon-college-graduation1" aria-hidden="true"></i></span>
								                            </a>
								                            <a href class="f-icon with-text backpack" title="backpack">
								                            	<span class="icon " ng-show="shop.backpack" style="color: greenyellow;"><i class="flaticon-backpack1" aria-hidden="true"  ></i></span>
								                                <span class="icon " ng-show="!shop.backpack"><i class="flaticon-backpack1" aria-hidden="true"  ></i></span>
								                            </a>
								                            <a href class="f-icon with-text park" title="near park">
								                            	 <span class="icon " ng-show="shop.park" style="color: green;"><i class="flaticon-green-park-city-space1" aria-hidden="true"></i></span>
								                                <span class="icon " ng-show="!shop.park"><i class="flaticon-green-park-city-space1" aria-hidden="true"></i></span>
								                            </a>
															<a href class="f-icon with-text school" title="near school">
																<span class="icon " ng-show="shop.school" style="color: yellow;"><i class="flaticon-open-book1" aria-hidden="true"></i></span>
								                                <span class="icon " ng-show="!shop.school"><i class="flaticon-open-book1" aria-hidden="true"></i></span>
								                            </a>
								                            <a href class="f-icon with-text bigfamily" title="big family">
								                            	 <span class="icon " ng-show="shop.big_family" style="color: pink;"><i class="flaticon-people1"  aria-hidden="true"></i></span>
								                                <span class="icon " ng-show="!shop.big_family"><i class="flaticon-people1"  aria-hidden="true"></i></span>
								                            </a>
								                            <a href class="f-icon with-text shoppingmall" title="near shopping center">
								                            	<span class="icon " ng-show="shop.shopping_mall" style="color: darkred;"><i class="flaticon-shopping-cart1" aria-hidden="true"></i></span>
								                                <span class="icon " ng-show="!shop.shopping_mall"><i class="flaticon-shopping-cart1" aria-hidden="true"></i></span>
								                            </a>
								                            <a href class="f-icon with-text offical_rental" title="office rental">
								                            	<span class="icon " ng-show="shop.offical_rental" style="color: blue;"><i class="flaticon-business1" aria-hidden="true"></i></span>
								                                <span class="icon " ng-show="!shop.offical_rental"><i class="flaticon-business1" aria-hidden="true"></i></span>
								                            </a>
															
														</div>
														<div class="price">
															<span class="num">$[:shop.ER_Price:]</span>
															<span class="period">per week</span>
															<span class="available">Available Time:[:shop.ER_AvailableDate:]</span>
														</div>
														<div class="view">
															<span class="view-num">Viewed:  20</span>
														</div>
													</div>
							
												</div>
											</li>
																					
										</ul>
									</div>
								</div>
			</div>
			
</div>