<div class="documentation" ng-controller="DocumentationCtrl">
	<div class="documentation-content">
		<div class="row">
			<!-- .col -->
			  <div class="col-md-8 con-box">
			    <div class="wrapper" style="padding-left: 150px;">
			      <ul class="timeline">
			        <li class="tl-header">
			          <div class="btn btn-info">Now</div>
			        </li>
			        <li class="tl-item" ng-repeat="data in guideData">
			          <div class="tl-wrap">
			             <span class="tl-date step1" ui-sref="app.login">[:data.step:]</span>
									 <span class="tl-date step2" ui-sref="app.login">[:data.step:]</span>
									 <span class="tl-date step3" ui-sref="app.login">[:data.step:]</span>
			             <div class="tl-content panel b-a" set-ng-animate="false" >
						           <div class="panel-heading">
							          <!--[:data.images[step].href:]-->
							         </div>
								        <carousel interval="myInterval">
							          	<slide ng-repeat="slide in data.images" active="slide.active" style="margin:auto; overflow: hidden;">
									            <img  ng-src="[:slide.src:]" style="margin:auto; overflow: hidden; width: 350px;height: 200px;">
									            <div class="carousel-caption">
									              <h4>Step [:$index+1:]</h4>
									              <input ng-model="slide" ng-change="valuechanged(slide.href)" class="sr-only"/>
									              <p>[:slide.text:]</p>
									            </div>
								          </slide>
								        </carousel>
									 </div>
			          </div>
			        </li>
			        <li class="tl-header">
			          <div class="btn btn-sm btn-default btn-rounded">more</div>
			        </li>
			      </ul>
			    </div>
			  </div>
			  <!-- /.col -->
		<div class="col-md-4 con-box" style="position: relative; height: 100%;">
			<div>
				<div class="clearfix">
						<h1 class="dream-homes-main-title">Rent</h1>
						<div class="clearfix" >
							<section guidehotrent class="dream-homes clearfix">
							</section>
						</div>
						<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
