<div class="navbar" ng-controller="WinCtrl">
     <!-- navbar header -->
      <div class="navbar-header" ng-class="{true:'app-header-fixed',false:''}[headerfix]">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
      <!--  
		<button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" >
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
	  -->
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
          <i class="fa fa-wikipedia-w"></i>
          <!--<img src="/img/logo.png" />-->
         
          <span class="hidden-folded m-l-xs">[:name:]</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow">
        <!-- link and dropdown -->
		<ul class="nav navbar-nav hidden-sm">
			<li><a ui-sref="app.search">Home</a></li>
			<li><a href="#about">Rental</a></li>
			<li><a href="http://www.winninginvestment.com.au/project-en">Buy</a></li>
			<li><a ui-sref="app.new">News</a></li>
			<li><a ui-sref="app.documentation">Guide</a></li>
			<!--<li><a ui-sref="app.serviceTypes">Types</a></li>-->
			<!--<li><a ui-sref="app.guides">guides</a></li>-->
			<li><a href="http://www.winninginvestment.com.au/contantus">Contact</a></li>
			<li><a href="http://www.winninginvestment.com.au/aboutus">About</a></li>
			<li><a ui-sref="app.trainmap">trainmap</a></li>
		</ul>
        <!-- / link and dropdown -->

        <!-- search form -->
		
        <!-- / search form -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
      <!-- 
		-->
		  <li class="dropdown" >
            <a href class="dropdown-toggle"  ui-sref="app.shortlist"  style="color: deeppink;">
              <i class="fa fa-x fa-heart fa-fw"></i>
              <span class="visible-xs-inline">Shortlist</span>
              <span class="badge badge-sm up bg-danger pull-right-xs"></span>
            </a>
            <!-- dropdown -->
          <!--  <div class="dropdown-menu w-xl animated fadeInUp">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>You have <span>2</span> hostories</strong>
                </div>
                <div class="list-group">
                  <a href class="media list-group-item">
                    <span class="pull-left thumb-sm">
                      <img src="/img/andy.jpg" alt="..." class="img-rounded">
                    </span>
                    <span class="media-body block m-b-none">
                      Olympic park<br>
                      <small class="text-muted">two days ago</small>
                    </span>
                  </a>
                  <a href class="media list-group-item">
                    <span class="pull-left thumb-sm">
                      <img src="/img/andy.jpg" alt="..." class="img-rounded">
                    </span>
                    <span class="media-body block m-b-none">
                      Olympic park<br>
                      <small class="text-muted">two days ago</small>
                    </span>
                  </a>
                </div>
                <div class="panel-footer text-sm">
                  <a href class="pull-right"><i class="fa fa-cog"></i></a>
                  <a ui-sref="app.shortlist">See all the shortlists</a>
                </div>
              </div>
            </div>
-->            <!-- / dropdown -->
          </li>
		  <li>
			<a ui-sref="app.profile">
				<i class="fa fa-envelope fa-fw"></i>
				<span class="visible-xs-inline">Shortlist</span>
              	<span class="badge badge-sm up bg-danger pull-right-xs">[:letternums:]</span>
			</a>
		  </li>
      <li ng-if="!profile">
			<a ui-sref="app.login"><span class="badge badge-lg bg-success" >登录</span></a>
		  </li>
		  <li ng-if="!profile">
			<a ui-sref="app.signup"><span class="badge badge-lg bg-success" >注册</span></a>
		  </li>
		 
		 <li ng-if="profile" class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/andy.jpg" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
              <span class="hidden-sm hidden-md">[:User.user_data.CEmail:]</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                <div>
                  <p>Update your profile,30% finished</p>
                </div>
                <progressbar value="60" class="progress-xs m-b-none bg-white"></progressbar>
              </li>
              <li>
                <a ui-sref="upload">
                  <span class="badge bg-danger pull-right">30%</span>
                  <span>Settings</span>
                </a>
              </li>
              <li>
                <a ui-sref="app.profile">Profile</a>
              </li>
              <li>
                <a ui-sref="app.docs">
                  <span class="label bg-info pull-right">new</span>
                  Help
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a ng-click="logout()">Logout</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
       
		 </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->
</div>