<div ng-controller="listPageCtrl" class="list-page">
	<div class="row">
		<div class="col-md-5">
			<div class="wrapper-md left-side">
			  <form class="form-horizontal">
			    <fieldset>
				 <div class="form-group">
			        <label class="col-sm-2 control-label text-left">Location</label>
			        <div class="col-sm-9">
			          <ui-select multiple ng-model="multipleDemo.selectedPeopleWithGroupBy" theme="bootstrap" ng-disabled="disabled">
			            <ui-select-match placeholder="Select location...">[:$item.name:] &lt;[:$item.email:]&gt;</ui-select-match>
			            <ui-select-choices group-by="someGroupFn" repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
			              <div ng-bind-html="person.name | highlight: $select.search"></div>
			              <small>
			                email: [:person.email:]
			                age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
			              </small>
			            </ui-select-choices>
			          </ui-select>
			        </div>
			        <div class="col-sm-1"></div>
			      </div>
			    </fieldset>
			  </form>
			  <div style="border-bottom: 3px solid rgba(117, 0, 98, 0.74); width: 100%;"></div>
 			  <div class=" wrapper w-full  cust-m-t">
	              <div class="row">
	                <div class="b-light">
	                  <div class="row">
	                    <div class="col-xs-6 left-li">
	                    	<label style="margin-left: 115px;margin-bottom: 10px">min</label>
	                      <ul class="list-unstyled l-h-2x">
	                        <li class="m-b-md">
	                         <label>Price</label>
							 <input type="text" ng-model="myMinPrice" style="width: 149px;height: 40px; margin-left: 20px;" class="form-control input-sm inline" placeholder="minPrice" aria-describedby="basic-addon1">
	                        </li>
	                        <li class="m-b-md">
	                          <label>Beds</label>
							  <select class="input-sm form-control w-sm inline v-middle" style="margin-left: 20px;" ng-model="minBedNum" ng-options="minBed.num as minBed.num for minBed in bedsNum">
	                          </select>
	                        </li>
	                        <li class="m-b-md">
	                          <label>Baths</label>
						        <select class="input-sm form-control w-sm inline v-middle" style="margin-left: 16px;" ng-model="minBathNum" ng-options="minBath.num as minBath.num for minBath in bathsNum"  >
						         
						        </select>
	                        </li>
	                        
	                      </ul>
	                    </div>
	                    <div class="col-xs-6 right-li">
	                    	<label style="margin-left: 60px; margin-bottom: 10px;">max</label>
	                      <ul class="list-unstyled l-h-2x">
	                        <li class="m-b-md">
							<input type="text" class="form-control input-sm" ng-model="myMaxPrice" style="width: 149px;height: 40px;" placeholder="maxPrice" aria-describedby="basic-addon1">
	                        </li>
	                        <li class="m-b-md">
							  <select class="input-sm form-control w-sm inline v-middle" ng-model="maxBedNum" ng-options="maxBed.num as maxBed.num for maxBed in bedsNum">
	                          </select>
	                        </li>
	                        <li class="m-b-md">
						        <select class="input-sm form-control w-sm inline v-middle" ng-model="maxBathNum" ng-options="maxBath.num as maxBath.num for maxBath in bathsNum" >
						        </select>
	                        </li>
	                        <li>
	                          
	                        </li>
	                      </ul>
	                    </div>
	                  </div>
	                </div>
	                <div class="b-light">
	                  <div class="row">
	                    <div class="col-xs-6 left-li">
	                      <ul class="list-unstyled l-h-2x">
	                        <li class="m-b-md">
	                          <label>Parking</label>
						        <select class="input-sm form-control w-sm inline v-middle" style="margin-left: 5px;"ng-model="minParkingNum" ng-options="parking.num as parking.num for parking in parkingsNum" >
						        </select>
	                        </li>
	                        <li class="m-b-md">
	                          <label>Type</label>
						        <select class="input-sm form-control w-sm inline v-middle" style="margin-left: 20px;" ng-model="myPropertyType"  ng-options="property.propertyType as property.propertyType for property in propertyTypes">
						        </select>
	                        </li>
	                       <!-- <li>
	                          <label>minArea</label>
						        <select class="input-lg form-control w-sm inline v-middle" ng-model="myArea" ng-options="parking.num as parking.num for parking in parkingsNum" >
						        </select>
	                        </li>-->
	                       <!-- <li>
	                          	<label>features</label>
								<input type="text" class="form-control input-lg" ng-model="features" placeholder="freatures,e.g. pets allowed.." aria-describedby="basic-addon1">
	                        </li>-->
	                        <li ng-show="hello">
	                         <label class="m-t-xxs pull-left" >Available:</label>
					            <p class="input-group inline">
					              <input type="text" class="form-control input-sm" style="width: 149px;height: 34px; margin-left: 53px;" datepicker-popup="[:format:]" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2018-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
					              <span class="input-group-btn">
					                <button type="button" class="btn btn-default btn-md" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </p>   
	                        </li>
	                          <li ng-show="hello">
	                          	<label class="m-t-xxs">Descriptions:</label>
	                          	<ul style="list-style: none; padding-right: 0;">
	                          		<li>
	                          			<a class="" title="near train station" ng-click="train=!train">
	                          				<i ng-show="train" class="flaticon-train-on-railroad1" style="color: orange;" aria-hidden="true"></i>
	                          				<i ng-show="!train" class="flaticon-train-on-railroad1" aria-hidden="true"></i>
	                          			</a>
			                          	<a class="" title="near university" ng-click="university=!university">
			                          		<i ng-show="university" class="flaticon-college-graduation1" style="color: chocolate;" aria-hidden="true"></i>
			                          		<i ng-show="!university" class="flaticon-college-graduation1" aria-hidden="true"></i>
			                          	</a>
			                          	<a class="" title="near hotel YHA" ng-click="backpack=!backpack">
			                          		<i ng-show="backpack" class="flaticon-backpack1" style="color: greenyellow;" aria-hidden="true"></i>
			                          		<i ng-show="!backpack" class="flaticon-backpack1" aria-hidden="true"></i>
			                          	</a>
			                          	<a class="" title="near park" ng-click="park=!park">
			                          		<i ng-show="park" class="flaticon-green-park-city-space1" style="color: green;" aria-hidden="true"></i>
			                          		<i ng-show="!park" class="flaticon-green-park-city-space1" aria-hidden="true"></i>
			                          	</a>
	                          		</li>
	                          	</ul>
	                        </li>
	                      </ul>
	                    </div>
	                    <div class="col-xs-6 right-li">
	                      <ul class="list-unstyled l-h-2x">
	                        <li>
	                         <select class="input-sm form-control w-sm inline v-middle" ng-model="maxParkingNum" ng-options="parking.num as parking.num for parking in parkingsNum" >
							 </select>
	                        </li>
	                      <!--  <li>
	                          	<a style="display: block;"></a>
	                        </li>
	                        <li style="visibility: hidden;">
	                           <label>descriptions:</label>
							   <input type="text" class="form-control input-lg"  style="background: white; border: none;" aria-describedby="basic-addon1">
	                        </li>-->
	                        <li ng-show="hello" style="list-style: none; margin-top: 196px; padding-left: 0;">
								<ul>
	                          		<li style="list-style: none;">
	                          			<a class="" title="near school" ng-click="school=!school">
	                          				<i ng-show="school" class="flaticon-open-book1" style="color: yellow;" aria-hidden="true"></i>
	                          				<i ng-show="!school" class="flaticon-open-book1" aria-hidden="true"></i>
	                          			</a>
	                          			<a class="" title="big family" ng-click="family=!family">
	                          				<i ng-show="family" class="flaticon-people1" style="color: pink;" aria-hidden="true"></i>
	                          				<i ng-show="!family" class="flaticon-people1" aria-hidden="true"></i>
	                          			</a>
			                          	<a class="" title="near shoppingcenter" ng-click="shoppingcenter=!shoppingcenter">
			                          		<i ng-show="shoppingcenter" class="flaticon-shopping-cart1" style="color: darkred;" aria-hidden="true"></i>
			                          		<i ng-show="!shoppingcenter" class="flaticon-shopping-cart1" aria-hidden="true"></i>
			                          	</a>
			                          	<a class="" title="officerental" ng-click="officerental=!officerental">
			                          		<i ng-show="officerental" class="flaticon-business1" style="color: blue;" aria-hidden="true"></i>
			                          		<i ng-show="!officerental" class="flaticon-business1" aria-hidden="true"></i>
			                          	</a>
	                          		</li>
	                          	</ul>
							</li>  	
	                      </ul>
	                    </div>
	                  </div>
	                </div>
	                <div class=" m-l-n-xxs" ng-show="hello">
	                  <label>Features:</label>
	                   <div class="row  m-l-md">
		                    <div class="col-xs-6">
		                    	<div class="row">
		                    		<div class="col-xs-4">
		                    			 <ul class="list-unstyled l-h-2x">
					                      	<li>
					                      	<!--<input type="checkbox" name="featureproductrank" id="featureproductrankRefineCb0" value="premier-only" tabindex="18">-->
					                      	<!--<label for="featureproductrankRefineCb0"></label>-->
					                      	<span title="all_requirements" ng-click="col_requirements()">
					                      		<i ng-show="all_requirements" style="color: purple;" class="flaticon-puzzle20"></i>
					                      		<i ng-show="!all_requirements" class="flaticon-puzzle20"></i>
					                      	</span>
					                      	</li>
					                      	<li>
					                      		<span title="no_smoking" ng-click="no_smoking=!no_smoking">
					                      			<i ng-show="no_smoking" style="color: purple;" class="flaticon-no-smoking-sign18"></i>
					                      			<i ng-show="!no_smoking" class="flaticon-no-smoking-sign18"></i>
					                      		</span>
					                      	</li>
					                      	<li>
					                      		<span title="no_pets" ng-click="no_pets=!no_pets">
					                      			<i ng-show="no_pets" style="color: purple;" class="flaticon-no-dogs18"></i>
					                      			<i ng-show="!no_pets" class="flaticon-no-dogs18"></i>
					                      		</span>
					                      	</li>
					                      	<li>
					                      		<span title="girl_only" ng-click="girl_only=!girl_only">
					                      			<i ng-show="girl_only" style="color: purple;" class="flaticon-female-silhouette18"></i>
					                      			<i ng-show="!girl_only" class="flaticon-female-silhouette18"></i>
					                      		</span>
					                      	</li>
					                      	<li>
					                      		<span title="boy_only" ng-click="boy_only=!boy_only">
					                      			<i ng-show="boy_only" style="color: purple;" class="flaticon-man-standing-up18"></i>
					                      			<i ng-show="!boy_only" class="flaticon-man-standing-up18"></i>
					                      		</span>
					                      	</li>
					                      	<li>
					                      		<span title="no_party" ng-click="no_party=!no_party">
					                      			<i ng-show="no_party" style="color: purple;" class="flaticon-turn-microphone-off-button18"></i>
					                      			<i ng-show="!no_party" class="flaticon-turn-microphone-off-button18"></i>
					                      		</span>
					                      	</li>
					                      </ul>
		                    		</div>
		                    		<div class="col-xs-4">
		                    			 <ul class="list-unstyled l-h-2x m-l-sm">
					                      	<li>
					                      	<span title="appliances" ng-click="col_appliances()">
					                      		<i ng-show="appliances" style="color: purple;" class="flaticon-socket20"></i>
					                      		<i ng-show="!appliances" class="flaticon-socket20"></i>
					                      	</span>
					                      	</li>
					                      	<li>
					                      		<span title="stove" ng-click="stove=!stove">
					                      			<i ng-show="stove" style="color: purple;" class="flaticon-stove16"></i>
					                      			<i ng-show="!stove" class="flaticon-stove16"></i>
					                      		</span>
					                      	</li>
					                      	<li>
					                      		<span title="dishwasher" ng-click="dishwasher=!dishwasher">
					                      			<i ng-show="dishwasher" style="color: purple;" class="flaticon-dishwasher16"></i>
					                      			<i ng-show="!dishwasher" class="flaticon-dishwasher16"></i>
					                      		</span>
					                      	</li>
					                      	<li>
					                      		<span title="dryer" ng-click="dryer=!dryer">
					                      			<i ng-show="dryer" style="color: purple;" class="flaticon-tumble-dryer16"></i>
					                      			<i ng-show="!dryer" class="flaticon-tumble-dryer16"></i>
					                      		</span>
					                      	</li>
					                      	<li>
					                      		<span title="aircondition" ng-click="aircondition=!aircondition">
					                      			<i ng-show="aircondition" style="color: purple;" class="flaticon-minisplit16"></i>
					                      			<i ng-show="!aircondition" class="flaticon-minisplit16"></i>
					                      		</span>
					                      	</li>
					                    </ul>
		                    		</div>
		                    		<div class="col-xs-4">
		                    			  <ul class="list-unstyled l-h-2x m-l-md">
					                      	<li>
					                      	<!--<input type="checkbox" name="featureproductrank" id="featureproductrankRefineCb0" value="premier-only" tabindex="18">-->
					                      	<!--<label for="featureproductrankRefineCb0"></label>-->
					                      	<span title="furniture" ng-click="col_furniture()">
					                      		<i ng-show="furniture" style="color: purple;" class="flaticon-cabinet20"></i>
					                      		<i ng-show="!furniture" class="flaticon-cabinet20"></i>
					                      	</span>
					                      	</li>
					                      	<li>
					                      		<span title="bed" ng-click="bed=!bed">
					                      			<i ng-show="bed" style="color: purple;" class="flaticon-bed16"></i>
					                      			<i ng-show="!bed" class="flaticon-bed16"></i>
					                      		</span>
					                      	</li>
					                      	<li>
					                      		<span title="desk" ng-click="desk=!desk">
					                      			<i ng-show="desk" style="color: purple;" class="flaticon-man-in-office-desk-with-computer16"></i>
					                      			<i ng-show="!desk" class="flaticon-man-in-office-desk-with-computer16"></i>
					                      		</span>
					                      	</li>
					                      	<li>
					                      		<span title="wardrob" ng-click="wardrob=!wardrob">
					                      			<i ng-show="wardrob" style="color: purple;" class="flaticon-bedroom-black-closed-closet-for-clothes16"></i>
					                      			<i ng-show="!wardrob" class="flaticon-bedroom-black-closed-closet-for-clothes16"></i>
					                      		</span>
					                      	</li>
					                      	<!--<li>
					                      		<span><i class="flaticon-minisplit16"></i></span>
					                      	</li>-->
					                      </ul>
		                    		</div>
		                    	</div>
		                     </div>
		                     <div class="col-xs-6">
		                     	<div class="row">
		                    		<div class="col-xs-6">
		                    			 <ul class="list-unstyled l-h-2x m-l-xl">
					                      	<li>
					                      	<!--<input type="checkbox" name="featureproductrank" id="featureproductrankRefineCb0" value="premier-only" tabindex="18">-->
					                      	<!--<label for="featureproductrankRefineCb0"></label>-->
					                      	<span title="other_appliance" ng-click="col_other_appliance()">
					                      		<i ng-show="other_appliance" style="color: purple;" class="flaticon-plug20"></i>
					                      		<i ng-show="!other_appliance" class="flaticon-plug20"></i>
					                      	</span>
					                      	</li>
					                      	<li>
					                      		<span title="refrigerator" ng-click="refrigerator=!refrigerator">
					                      			<i ng-show="refrigerator" style="color: purple;" class="flaticon-fridge16"></i>
					                      			<i ng-show="!refrigerator" class="flaticon-fridge16"></i>
					                      		</span>
					                      	</li>
					                      	<li>
					                      		<span title="laundry" ng-click="laundry=!laundry">
					                      			<i ng-show="laundry" style="color: purple;" class="flaticon-washing-machine16"></i>
					                      			<i ng-show="!laundry" class="flaticon-washing-machine16"></i>
					                      		</span>
					                      	</li>
					                      </ul>
		                    		</div>
		                    		<div class="col-xs-6">
		                    			  <ul class="list-unstyled l-h-2x">
						                      <li>
						                      	<!--<input type="checkbox" name="featureproductrank" id="featureproductrankRefineCb0" value="premier-only" tabindex="18">-->
						                      	<!--<label for="featureproductrankRefineCb0"></label>-->
						                      	<span title="other_essential" ng-click="col_other_essential()">
						                      		<i ng-show="other_essential" style="color: purple;" class="flaticon-settings20"></i>
						                      		<i ng-show="!other_essential" class="flaticon-settings20"></i>
						                      	</span>
						                      	</li>
						                      	<li>
						                      		<span title="wifi" ng-click="wifi=!wifi">
						                      			<i ng-show="wifi" style="color: purple;" class="flaticon-wifi16"></i>
						                      			<i ng-show="!wifi" class="flaticon-wifi16"></i>
						                      		</span>
						                      	</li>
						                      	<li>
						                      		<span title="gas" ng-click="gas=!gas">
						                      			<i ng-show="gas" style="color: purple;" class="flaticon-gas-level16"></i>
						                      			<i ng-show="!gas" class="flaticon-gas-level16"></i>
						                      		</span>
						                      	</li>
					                      </ul>
		                    		</div>
		                    	</div>
		                     </div>
	                   </div>
	                </div>
	              </div>
	            </div>
			  <div class="row more-options">
		    	<div class="col-sm-8"></div>
		    	<div class="col-sm-4">
		    		<a style="color: rgb(150, 65, 137); display: block; width: 100px;height: 20px;" ng-click="hello = !hello">
		    			<span ng-show="!hello">more options&nbsp;<i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
		    			<span ng-show="hello">less option&nbsp;<i class="fa fa-chevron-circle-up"></i></span>			
		    		</a>
		    	</div>
		      </div>
			  <button type="submit" class="btn-success plusplus" ng-click="update()" tabindex="23"><span>Update search</span></button>
			</div>
		</div>
		<div class="col-md-7">
			  <!-- pagination -->
	      <div class="right-top clear">
		      <h4>Limit the maximum visible buttons <span class="text-sm">(Page: [:bigCurrentPage:] / [:numPages:])</span></h4>
	          <div class="m-b-sm m-r-lg">
	          	<!--<div>features:</div>-->
		        <div class="btn-group btn-group-justified features-filter">
		          <a href class="btn btn-primary" style="background-color: rgb(150, 65, 137);color: white!important; border-bottom-left-radius: 0;">Newest</a>
		          <a href class="btn btn-info">Lowest Price</a>
		          <a href class="btn btn-success">Highest Price</a>
		          <a href class="btn btn-primary">Available Time</a>
		        </div>
		      </div>
	          <div class="clear pagination-top">
		          	<div class="pull-left">
		          		<a style="color: purple; border-bottom: 3px solid rgb(150, 65, 137);">
		          			<i  class="fa fa-lg fa-list"></i>&nbsp;List
		          		</a>
		          		<a ui-sref="app.googlemap">
		          			<i class="fa fa-lg fa-map-marker" ></i>&nbsp;Map
		          		</a>
		          	</div>
	          	 <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-r-lg pull-right" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
	          </div>
	      </div>
	     <!-- / pagination -->
			<div class="content">
			<div id="results">
				<div class="list-wrap">
					<ul id="house-list" class="house-list">
						<li class="first" ng-repeat="property in entireData" ui-sref="app.details">
							<div class="pic-panel w-slider cl" id="js_slider">
								<span class="new"></span>
								<div class="slider cl">
									<div class="slider-main" id="slider_main_block">
										<ul class="slider-main-img">
											<li>
												<img src="../img/andy.jpg" alt="" />
											</li>
										</ul>
									</div>
								</div>
								<div class="slider-ctrl cl" id="slider_ctrl">
									<span class="slider-ctrl-prev text-center" style="color: white;"><i class="fa fa-lg fa-arrow-circle-left m-t-sm"></i></span>
									<span class="slider-ctrl-next text-center" style="color: white;"><i class="fa fa-lg fa-arrow-circle-right m-t-sm"></i></span>
								</div>
							</div>
							<div class="info-panel">
								<div class="rooms cl">
									 <div class="hbox text-center">          
						              <a href class="col padder-v text-muted">
						                <div class="h4">
						                	 <span>[:property.ER_BedRoom:]</span>
						                	 <span class="fa-stack fa-lg">
								                <i class="fa fa-circle fa-stack-2x text-white"></i>
								                <i class="fa fa-bed fa-stack-1x "></i>
								            </span> 
								           
						                </div>
						               
						              </a>
						              <a href class="col padder-v text-muted">
						                <div class="h4">
						                	<span>[:property.ER_BathRoom:]</span>
						                	<span class="fa-stack fa-lg">
								                <i class="fa fa-circle fa-stack-2x text-white"></i>
								                <i class="fa fa-bath fa-stack-1x "></i>
								            </span>
						                </div>
						                
						              </a>
						              <a href class="col padder-v text-muted">
						                <div class="h4">
						                	<span>[:property.ER_Parking:]</span>
						                	<span class="fa-stack fa-lg">
								                <i class="fa fa-circle fa-stack-2x text-white"></i>
								                <i class="fa fa-car fa-stack-1x "></i>
								            </span>
						                </div>
						                
						              </a>
						          </div>
								</div>
								<div class="address">
									<a>
										<span>[:property.ER_No+" "+property.ER_St+" "+property.ER_Suburb+","+property.ER_Region:]</span>
									</a>
								</div>
								<div class="benefits">
									<a class="train"><i class="fa fa-train"></i>距central station 200米</a>
									<!--<a></a>-->
									<a class="bus"><i class="fa fa-bus"></i>距bus stop 100米</a>
									<a class="shoping"><i class="fa fa-shopping-cart"></i>距Coles 500米</a>
									<a class="hospital"><i class="fa fa-h-square"></i>距Hospital 500米</a>
								</div>
								<div class="price">
									<span class="num">[:property.ER_Price:]<span class="period">per week</span></span>
									<span class="available">Available Time:[:property.ER_AvailableDate:]</span>
								</div>
								<!--<div class="view">
									<span class="view-num">Viewed:  20</span>
								</div>-->
								<div class="save">
									<span class="save-delete-shortlist"><i class="fa fa-lg fa-heart-o">&nbsp;Save</i></span>
								</div>
							</div>

						</li>
			<!--			<li class="" ui-sref="app.details">
							<div class="pic-panel w-slider cl" id="js_slider">
								<span class="new"></span>
								<div class="slider cl">
									<div class="slider-main" id="slider_main_block">
										<ul class="slider-main-img">
											<li><img src="../img/andy.jpg" alt="" /></li>
										</ul>
									</div>
								</div>
								<div class="slider-ctrl cl" id="slider_ctrl">
									<span class="slider-ctrl-prev text-center" style="color: white;"><i class="fa fa-lg fa-arrow-circle-left m-t-sm"></i></span>
									<span class="slider-ctrl-next text-center" style="color: white;"><i class="fa fa-lg fa-arrow-circle-right m-t-sm"></i></span>
								</div>
							</div>
							<div class="info-panel">
								<div class="rooms cl">
									 <div class="hbox text-center">          
						              <a href class="col padder-v text-muted">
						                <div class="h4">
						                	 <span>2</span>
						                	 <span class="fa-stack fa-lg">
								                <i class="fa fa-circle fa-stack-2x text-white"></i>
								                <i class="fa fa-bed fa-stack-1x "></i>
								            </span> 
								           
						                </div>
						               
						              </a>
						              <a href class="col padder-v text-muted">
						                <div class="h4">
						                	<span>2</span>
						                	<span class="fa-stack fa-lg">
								                <i class="fa fa-circle fa-stack-2x text-white"></i>
								                <i class="fa fa-bath fa-stack-1x "></i>
								            </span>
						                </div>
						                
						              </a>
						              <a href class="col padder-v text-muted">
						                <div class="h4">
						                	<span>1</span>
						                	<span class="fa-stack fa-lg">
								                <i class="fa fa-circle fa-stack-2x text-white"></i>
								                <i class="fa fa-car fa-stack-1x "></i>
								            </span>
						                </div>
						                
						              </a>
						          </div>
								</div>
								<div class="address">
									<a>
										<span>harbourne road,Kingsford,NSW</span>
									</a>
								</div>
								<div class="benefits">
									<a class="train"><i class="fa fa-train"></i>距central station 200米</a>
									<a class="bus"><i class="fa fa-bus"></i>距bus stop 100米</a>
									<a class="shoping"><i class="fa fa-shopping-cart"></i>距Coles 500米</a>
									<a class="hospital"><i class="fa fa-h-square"></i>距Hospital 500米</a>
								</div>
								<div class="price">
									<span class="num">$5850<span class="period">per week</span></span>
									<span class="available">Available Time:10/02/2017</span>
								</div>
								<div class="view">
									<span class="view-num">Viewed:  20</span>
								</div>
								<div class="save">
									<span class="save-delete-shortlist"><i class="fa fa-lg fa-heart-o">&nbsp;Save</i></span>
								</div>
							</div>

						</li>
					-->
					</ul>
				</div>
			  <div class="pagination-bottom">
	          	<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-r-lg" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
	          </div>
			</div>

		</div>
		</div>
	</div>
	
		
</div>
	