<div ng-controller="lunboController" class="news">

	<div class="w1001 cent clear">
		<div lunbo></div>
		<div class="clear"></div>
		<div class="home-left fl mt10">
			<div class="home-left-list" id="show-list" style="display: block;">
				<ul>
					<li ui-sref="app.newsDetail">
						<div class="pic">
							<a href="#"><img src="/img/Tailor's Walk_Wilson St streetscape of terrace homes.jpg"></a>
							<p>
								<a href="#" target="_blank">Apartment</a>
							</p>
						</div>
						<div class="rinfo">
							<a href="#" title="Sydney Apartment ｜Botany- Tailor's Walk" target="_blank">Sydney Apartment ｜Botany- Tailor's Walk</a>
							<p>The distinctive place that is tailor made for living with the richness and diversity that sets Tailor’s Walk apart from other developments in the area.</p>
							<div class="time"><i>2017-05-19 13:42:51</i><span><a href="/php/search.php?q=数据库" target="_blank" class="tag">Sydney</a><a href="/php/search.php?q=Spring框架" target="_blank" class="tag">Apartment</a><a href="/php/search.php?q=Java" target="_blank" class="tag">Botany </a></span></div>
						</div>
						<div class="fx">
							<div class="fxlist bdsharebuttonbox bdshare-button-style0-24" id="share" data-bd-bind="1495335601649">
								<p>
									<a class="bds_tsina" data-cmd="tsina"></a>
									<a class="bds_qzone" data-cmd="qzone"></a>
									<a class="bds_sqq" data-cmd="sqq"></a>
									<a class="bds_weixin" data-cmd="weixin"></a>
								</p>
							</div>
						</div>
					</li>
					<li ui-sref="app.newsDetail">
								<div class="pic">
									<a href="#"><img src="/img/Tailor's Walk_Wilson St streetscape of terrace homes.jpg"></a>
									<p>
										<a href="#" target="_blank">Apartment</a>
									</p>
								</div>
								<div class="rinfo">
									<a href="#" title="Sydney Apartment ｜Botany- Tailor's Walk" target="_blank">Sydney Apartment ｜Botany- Tailor's Walk</a>
									<p>The distinctive place that is tailor made for living with the richness and diversity that sets Tailor’s Walk apart from other developments in the area.</p>
									<div class="time"><i>2017-05-19 13:42:51</i><span><a href="/php/search.php?q=数据库" target="_blank" class="tag">Sydney</a><a href="/php/search.php?q=Spring框架" target="_blank" class="tag">Apartment</a><a href="/php/search.php?q=Java" target="_blank" class="tag">Botany </a></span></div>
								</div>
								<div class="fx">
									<div class="fxlist bdsharebuttonbox bdshare-button-style0-24" id="share" data-bd-bind="1495335601649">
										<p>
											<a class="bds_tsina" data-cmd="tsina"></a>
											<a class="bds_qzone" data-cmd="qzone"></a>
											<a class="bds_sqq" data-cmd="sqq"></a>
											<a class="bds_weixin" data-cmd="weixin"></a>
										</p>
									</div>
								</div>
							</li>
				</ul>
				<div class="listsmore" id="more-list">
					<a href="javascript:;">More...</a>
				</div>
			</div>
		</div>
		<div class="pull-right right-side">
			<div class="ob-widget-section ob-first">
				<div class="ob-widget-header">WE RECOMMEND</div>
				<ul class="ob-widget-items-container">
					<li class="ob-dynamic-rec-container ob-recIdx-0 ob-o" data-pos="0">
						<a class="ob-dynamic-rec-link" onclick="" href="#" target="_self" rel="">

							<span class="ob-unit ob-rec-image-container" data-type="Image">
  <div class="ob-image-ratio"></div>
    <img class="ob-rec-image ob-show" src="/img/andy.jpg" onload="this.className+=' ob-show'" alt="Domain headquarters up for grabs asking $330m" title="Domain headquarters up for grabs asking $330m" onerror="OBR.extern.imageError(this)">
          </span>
							<span class="ob-unit ob-rec-text" data-type="Title" title="Domain headquarters up for grabs asking $330m">Domain headquarters up for grabs asking $330m</span>
						</a>
					</li>
					<li class="ob-dynamic-rec-container ob-recIdx-1 ob-o" data-pos="1">
						<a class="ob-dynamic-rec-link" onclick="" href="#" target="_self" rel="">

							<span class="ob-unit ob-rec-image-container" data-type="Image">
  <div class="ob-image-ratio"></div>
    <img class="ob-rec-image ob-show" src="https://images.outbrain.com/Imaginarium/api/uuid/56a7d0fc3c097d7d1909e178e26cbe80c5e991d3c1191456ee69dc35bb7a47f2/100/75/1.0" onload="this.className+=' ob-show'" alt="Super changes pushing SMSFs into unlisted property trusts" title="Super changes pushing SMSFs into unlisted property trusts" onerror="OBR.extern.imageError(this)">
          </span>
							<span class="ob-unit ob-rec-text" data-type="Title" title="Super changes pushing SMSFs into unlisted property trusts">Super changes pushing SMSFs into unlisted property trusts</span>
						</a>
					</li>
					<li class="ob-dynamic-rec-container ob-recIdx-2 ob-o" data-pos="2">
						<a class="ob-dynamic-rec-link" onclick="" href="#" target="_self" rel="">

							<span class="ob-unit ob-rec-image-container" data-type="Image">
  <div class="ob-image-ratio"></div>
    <img class="ob-rec-image ob-show" src="../img/5.jpg" alt="VicTrack sells another plot of public land in Melbourne privately" title="VicTrack sells another plot of public land in Melbourne privately" onerror="OBR.extern.imageError(this)">
          </span>
							<span class="ob-unit ob-rec-text" data-type="Title" title="VicTrack sells another plot of public land in Melbourne privately">VicTrack sells another plot of public land in Melbourne privately</span>
						</a>
					</li>
					<li class="ob-dynamic-rec-container ob-recIdx-3 ob-o" data-pos="3">
						<a class="ob-dynamic-rec-link" onclick="" href="#" target="_self" rel="">

							<span class="ob-unit ob-rec-image-container" data-type="Image">
  <div class="ob-image-ratio"></div>
    <img class="ob-rec-image ob-show" src="../img/andy.jpg" onload="this.className+=' ob-show'" alt="Scentre Group maintains guidance despite retail gloom" title="Scentre Group maintains guidance despite retail gloom" onerror="OBR.extern.imageError(this)">
          </span>
							<span class="ob-unit ob-rec-text" data-type="Title" title="Scentre Group maintains guidance despite retail gloom">Scentre Group maintains guidance despite retail gloom</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>