<div class="newsDetail">
	<div class="main">
		<!-- 左侧内容 -->
		<div class="main_left">
			<div class="wznr">
				<h2>谷歌嫌Android开源问题太多，打算开发第二个iOS</h2>
				<p>Android系统这些年的成功大家有目共睹，据最新的数据统计，Android系统的市场份额已经超过85%，而最新的安卓8.0即将在2017谷歌I/O开发者大会上发布。然而谷歌的野心没有止步于此，谷歌曾透露安卓系统的本身还有很多问题，所以他们很早就谋划了能够取而代之的系统。</p>
				<dl>
					<dt><span>作者：Andy</span><span>来源：唯赢投资</span>|<em>2017-05-17 06:34</em></dt>
					<dd>
						<div class="fl zxf_showBox" style="padding-right: 10px;position:relative;">
							<a href="###" title=" " target="_self" class="z_bds_more">&nbsp;移动端</a>
							<div class="navcodebox clearfix" style="display: none;">
								<div class="ico"></div><span> <img src="http://s4.51cto.com/wyfs02/M01/8F/F4/wKiom1jt98Lh9cl3AAAyECoiqoU042.jpg" width="105" height="107"> <p>51CTO技术博客</p> </span><span> <img src="http://s5.51cto.com/wyfs02/M02/8E/33/wKioL1i40HrAObC6AAAcvPVCCV0975.jpg" width="105" height="107"> <p>51CTO微站服务号</p> </span><span><img src="http://s3.51cto.com/wyfs02/M00/8E/33/wKioL1i40HrQZy_TAAAcDOkrRAE327.jpg" width="107" height="107"> <p>51CTO学院客户端</p> </span></div>
						</div>
						<div class="left" style="padding-right: 10px">
							<a href="javascript:favorBox('open');" title="一键收藏，随时查看，分享好友！" target="_self" class="bds_more1">&nbsp;收藏</a>
						</div>
						<div class="bdsharebuttonbox left bdshare-button-style0-16" data-tag="share_2" data-bd-bind="1495455564582">
							<a href="javascript:;" class="bds_more" data-cmd="more">&nbsp;&nbsp;分享</a>
						</div>
					</dd>
				</dl>
			</div>
			<div class="zwnr">
				<h2><a href="#" target="_blank"></a></h2>
				<p>Android系统这些年的成功大家有目共睹，据最新的数据统计，Android系统的市场份额已经超过85%，而最新的安卓8.0即将在2017谷歌I/O开发者大会上发布。然而谷歌的野心没有止步于此，谷歌曾透露安卓系统的本身还有很多问题，所以他们很早就谋划了能够取而代之的系统。近日，有外媒透露了谷歌的全新操作系统的消息。</p>

				<center><img alt="1" src="http://s2.51cto.com/wyfs02/M00/95/F0/wKiom1kbftDjytsgAAB2r5CsSjc64.jpeg-wh_651x-s_2146594435.jpeg"></center>
				<p style="text-align: center;">新系统Fuchsia界面UI</p>
				<p>据AndroidAuthority称，目前谷歌全新的操作系统Fuchsia还处于研发阶段，Android和Chrome OS都是一种基于Linux的自由及开放源代码的操作系统，而Fuchsia系统的内核为Magenta，是由谷歌自主研发。从曝光出来的最新UI界面看，其代号为Armadillo，设计上采用卡片式UI，主打简约风。</p>

				<center><img alt="新系统Fuchsia界面UI" src="http://s4.51cto.com/wyfs02/M00/95/EF/wKioL1kbftDC6fedAAA_Ljk_G2028.jpeg"></center>
				<p style="text-align: center;">新系统Fuchsia界面UI</p>
				<p>Fuchsia系统与Android系统最大的不同就是采用与iOS系统类似的完全封闭式环境，这样的好处就是可以彻底解决安卓系统碎片化的问题，而且Fuchsia系统能像iOS系统一样，一有更新就推送给所有手机，相信也能让用户体验得更加流畅，理论上体验要优于安卓系统。</p>

				<center><img alt="新系统Fuchsia界面UI" src="http://s4.51cto.com/wyfs02/M00/95/EF/wKioL1kbftCj1uj7AABJQPFMyW416.jpeg"></center>
				<p style="text-align: center;">新系统Fuchsia界面UI</p>
				<p>当然，谷歌也不能高兴的太早，毕竟安卓系统之所以能如此成功，很大的因素还是在于其采用的开源方式，如果推出这种封闭式系统，意味着其他厂商在搭载该系统时需要谷歌授权，这么一来，该系统是否还会和安卓系统一样那么普及呢?相信谷歌公司也会意识到这个问题的存在。</p>
				<div align="right">【责任编辑：
					<a class="ln" href="mailto:yiensuen@gmail.com">张砺斌</a> TEL：（000）12345678】</div><br>
				<a href="###" class="dzdz zhan" target="_self">点赞 <span>0</span></a>
			</div>
		</div>
		<!-- 文章左侧结束 -->
	