<div class="profile" ng-controller="ProfileController">
	<section class="main-area content-wrap">
		<div class="inner-wrap">
			<div class="row">
				<div class="col-sm-12">
                	<h3>My account</h3>
            	</div>
			</div>
			<div class="row">
                <div class="col-sm-12 feedback success fadeInUp" role="alert" ng-show="success">
                    <h4>Success</h4>    
                    <p>Your profile has been updated.</p>
                </div>
                <div class="col-sm-12 w-full feedback error" role="alert" ng-show="error">
                    <h4>That didn't work</h4>
                    
                    <p>Your preferences have not been updated, please try again.</p>
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-3 profile-nav">
                    <ul class="tabNav" role="tablist">
                        <li ng-class="{'selected': tabs[0]}" class="active selected" role="presentation">
                            <a href ng-click="tab(0);" class="f-icon with-text " id="tab-myProfile" role="tab" aria-active="true" tabindex="0">
                                <span class="icon fa fa-user"></span>
                                <span class="copy">My profile</span>
                            </a>
                        </li>
                        <li ng-class="{'selected': tabs[1]}" role="presentation">
                            <a href ng-click="tab(1);myPayment()" class="f-icon with-text" id="tab-emailPreferences" role="tab" aria-active="false" tabindex="-1">
                                <span class="icon "><i class="fa fa-dollar" aria-hidden="true"></i></span>
                                <span class="copy">My Payments</span>
                            </a>
                        </li>
                         <li ng-class="{'selected': tabs[2]}" role="presentation">
                            <a href ng-click="tab(2);propMgm()" class="f-icon with-text" id="tab-emailPreferences" role="tab" aria-active="false" tabindex="-1">
                                <span class="icon "><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                                <span class="copy">Property Management</span>
                            </a>
                        </li>
                        <li ng-class="{'selected': tabs[3]}" role="presentation">
                            <a href ng-click="tab(3);mtApply()" class="f-icon with-text" id="tab-emailPreferences" role="tab" aria-active="false" tabindex="-1">
                                <span class="icon "><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                                <span class="copy">Maintenance&nbsp;Apply</span>
                            </a>
                        </li>
                        <li ng-class="{'selected': tabs[4]}" role="presentation">
                            <a href ng-click="tab(4)" class="f-icon with-text" id="tab-emailPreferences" role="tab" aria-active="false" tabindex="-1">
                                <span class="icon "><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                                <span class="copy">Maintenance&nbsp;History</span>
                            </a>
                        </li>
                        <li ng-class="{'selected': tabs[5]}" role="presentation">
                            <a href ng-click="tab(5)" class="f-icon with-text" id="tab-emailPreferences" role="tab" aria-active="false" tabindex="-1">
                                <span class="icon "><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                                <span class="copy">Service&nbsp;Apply</span>
                            </a>
                        </li>
						 <li ng-class="{'selected': tabs[6]}" role="presentation">
                            <a href ng-click="tab(6)" class="f-icon with-text" id="tab-emailPreferences" role="tab" aria-active="false" tabindex="-1">
                                <span class="icon "><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                                <span class="copy">Service&nbsp;History</span>
                            </a>
                        </li>
                    </ul>
                </div>
                
               <div class="col-sm-9 tab-content " > 
                <div class="tab-pane tabPanel active profile-detail" ng-class="{'active': tabs[0]}">
                    <div class="tab-pane tabPanel active" id="myProfile" role="tabpanel" aria-hidden="false" aria-labelledby="tab-myProfile">
                    <div class="card">
                        <div class="inner-wrap clear">

                            <header>
                                <h3>My profile</h3>
                                
                            </header>

                            <div class="content-wrap">
                                <div class="frm-main no-indent">
                                    <div class="inner-wrap">
                                        <a id="myBtn" class="btn lowlight">Edit Profile</a>
                                    </div>
                                    <!-- The Modal -->
									<div id="myModal" class="modal">
									
									  <!-- Modal content -->
									  <div class="modal-content">
									    <div class="modal-header">
									      <span class="close">&times;</span>
									      <h2>Modal Header</h2>
									    </div>
									    <div class="modal-body">
									      <p>Some text in the Modal Body</p>
									      <p>Some other text...</p>
									    </div>
									    <div class="modal-footer">
									      <h3>Modal Footer</h3>
									    </div>
									  </div>
	
									</div>
                                </div>
                            </div>

                            <div class="content-wrap profile-detail clear">

                                <div class="half">

                                    <fieldset>
                                    	<div class="frm-main no-indent" ng-show="he">
                                            <label for="CID">CID</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="CID" name="CID"   ng-readonly="readonly" type="text" ng-model="data.CID">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="FirstName">First name</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="FirstName" name="FirstName" ng-readonly="readonly" type="text" ng-model="data.CName">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="LastName">Last name</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="LastName" name="LastName" ng-readonly="readonly" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="Phone">Phone</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Phone" name="Phone" ng-readonly="readonly" type="text" ng-model="data.CPhone">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="CurrStat">CurrentState</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="CurrStat" name="CurrStat" ng-readonly="readonly" type="text" ng-model="data.CCurrStat">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="IDType">IDType</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="IDType" name="IDType" ng-readonly="readonly" type="text"  ng-model="data.CIDType">
                                            </div>
                                        </div>
                                         <div class="frm-main no-indent">
                                            <label for="Income">Income</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Income" name="Income" ng-readonly="readonly" type="text" ng-model="data.CIncomeProfile">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="Saving">Saving</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Saving" name="Saving" ng-readonly="readonly" type="text"  value=""/>
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="PartenerID">PartenerID</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="PartenerID" name="PartenerID"  ng-readonly="readonly" type="text" ng-model="data.CPartenerID">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="CLastContDate">Last Contact Date</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="CLastContDate"  ng-readonly="readonly" type="text" ng-model="data.CLastContDate"/>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="half">
                                    <fieldset>
                                    	 <div class="frm-main no-indent">
                                            <label for="Gender">Gender</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Gender" name="Gender" ng-readonly="readonly" type="text" ng-model="data.CSex">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="Age">Age</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Age" name="Age" ng-readonly="readonly" type="text"  ng-model="data.CAge">
                                            </div>
                                        </div>
                                         <div class="frm-main no-indent">
                                            <label for="Work">Work</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Work" name="Work" ng-readonly="readonly" type="text"  ng-model="data.CWorking">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="Pet">Pet</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Pet" name="Pet" ng-readonly="readonly" type="text"  ng-model="data.CPet">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="Smoking">Smoking</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Smoking" name="Smoking" ng-readonly="readonly" type="text" ng-model="data.CSmoking">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="Budget">Budget</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Budget" name="Budget"  ng-readonly="readonly" type="text" ng-model="data.CBudget">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="Password">Password</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Password" name="Password"  ng-readonly="readonly" value="123456" type="password" ng-model="data.CPassword" >
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="EmailAddress">Email address</label>
                                            <div class="inner-wrap">
                                                <input aria-required="true" id="EmailAddress" name="EmailAddress" ng-readonly="readonly" type="text" ng-model="data.CEmail">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <div class="inner-wrap">
                                                <a class="btn lowlight " ng-click="readonly=!readonly">Reset</a>
                                                 <a  class="btn lowlight"  ng-click="saveProfile()">Save</a>
                                            </div>
                                            
                                        </div>
                                        
                                    </fieldset>
                                </div>
                            </div>
                           
                         </div>
                    </div>
                </div>
                    
                </div>
                 <div class="tab-pane tabPanel" ng-class="{'active': tabs[1]}">
                    <div class="col-sm-12 tabPanel" id="myProfile" role="tabpanel" aria-hidden="false" aria-labelledby="tab-myProfile">
						<div class="card">
							 <div class="inner-wrap clear">
								<header>
									<h3>My Payments</h3>
									<h3 ng-bind="payment.BillDateMin" ng-show="false"></h3>
									<h3 ng-bind="payment.BillDateMax" ng-show="false"></h3>
								</header>
								
								<div class="content-wrap clear">
									<div class="wrapper-md">
								  <div class="panel panel-default">
									<div class="panel-heading">
									  Here are the payments list:
									</div>
									<div class="panel-body b-b b-light">
									  Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r" placeholder="input the date to search"/>
									</div>
									<div>
									  <table class="table m-b-none"  data-filter="#filter" data-page-size="5" >
										<thead>
										  <tr>
										  	   <th ng-show="false">
												 BLID
											  </th>
											  <th ng-show="false">
												 CID
											  </th>
											  <th ng-show="false">
												 ER_ID
											  </th>
											  <th>
												  BillType
											  </th>
											  <th data-hide="phone,tablet">
												  BillAmount
											  </th>
											  <th data-hide="phone,tablet" data-name="Date Of Birth">
												  BillCopy
											  </th>
											  <th data-hide="phone">
												  BillDate
											  </th>
											   <th data-hide="phone">
												  BillReceipt
											  </th>
											  <th data-hide="phone">
												  BillComment
											  </th>
										  </tr>
										</thead>
										<tbody>
										  <tr>
											  <td  ng-show="false">[:payment.BLID:]</td>
											  <td  ng-show="false">[:payment.CID:]</td>
											  <td  ng-show="false">[:payment.ER_ID:]</td>
											  <td>[:payment.BillType:]</td>
											  <td>[:payment.BillAmount:]</td>
											  <td><span>[:payment.BillCopy:]</span></td>
											  <td>[:payment.BillDate:]</td>
											  <td>[:payment.BillReceipt:]</td>
											  <td data-value="1"><span class="label bg-success" title="Active">paid</span></td>
										  </tr>
										  
										</tbody>
										<tfoot class="hide-if-no-paging">
										  <tr>
											  <td colspan="5" class="text-center">
												  <ul class="pagination">
												  	<li class="footable-page-arrow">
														<a data-page="first" href="#first">«</a>
													</li>
													<li class="footable-page-arrow">
														<a data-page="prev" href="#prev">‹</a>
													</li>
													<li class="footable-page">
														<a data-page="0" href="#">1</a>
													</li>
													<li class="footable-page active">
														<a data-page="1" href="#">2</a>
													</li>
													<li class="footable-page-arrow disabled">
														<a data-page="next" href="#next">›</a>
													</li>
													<li class="footable-page-arrow disabled">
														<a data-page="last" href="#last">»</a>
													</li>
												  </ul>
											  </td>
										  </tr>
										</tfoot>
									  </table>
									</div>
								  </div>
								</div>
								</div>
							 </div>
						
						</div>
					</div>
			 </div>			 
			 	<div class="tab-pane tabPanel" ng-class="{'active': tabs[2]}">
                    <div class="col-sm-12 tabPanel" id="myProfile" role="tabpanel" aria-hidden="false" aria-labelledby="tab-myProfile">
						<div class="card">
							 <div class="inner-wrap clear">
								<header>
									<h3>My Rental</h3>									
								</header>
								<div class="wrapper-md">
									 <div class="panel panel-default">
										<div class="panel-heading">
										  My Rental Property List
										</div>
										
										<div class="table-responsive">
										  <table class="table table-striped b-t b-light" >
											<thead>
											  <tr>
												<th style="width:40px;">
													CLID
												</th>
												<th>Contract File</th>
												<th>CLDate</th>
												<th>Contract Comment</th>
												<th>Address</th>
												<th style="width:30px;">state</th>
											  </tr>
											</thead>
											<tbody>
											  <tr>
												<td>[:management.CLID:]</td>
												<td>[:management.ContractFile:]</td>
												<td>[:management.CLDate:]</td>
												<td>[:management.ContractComment:]</td>
												<td>[:management.ER_No+" "+management.ER_St+" "+management.ER_Suburb+","+management.ER_Region+" "+management.postcode:]</td>
												<td>
												  <a href class="active" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
												</td>
											  </tr>
											</tbody>
										  </table>
										</div>
										<footer class="panel-footer">
										  <div class="row">
											<div class="col-sm-4 text-center">
											  <small class="text-muted inline m-t-sm m-b-sm">showing 1-10 of 50 items</small>
											</div>
											<div class="col-sm-8 text-right text-center-xs">                
											  <ul class="pagination pagination-sm m-t-none m-b-none">
												<li><a href><i class="fa fa-chevron-left"></i></a></li>
												<li><a href>1</a></li>
												<li><a href>2</a></li>
												<li><a href>3</a></li>
												<li><a href>4</a></li>
												<li><a href>5</a></li>
												<li><a href><i class="fa fa-chevron-right"></i></a></li>
											  </ul>
											</div>
										  </div>
										</footer>
									  </div>

								</div>
							</div>
						</div>
					</div>
					</div>
				 <div class="tab-pane tabPanel" ng-class="{'active': tabs[3]}">
                    <div class="col-sm-12 tabPanel" id="myProfile" role="tabpanel" aria-hidden="false" aria-labelledby="tab-myProfile">
						<div class="card">
							<div class="inner-wrap ">
								<header>
									<h3>Maintenance&nbsp;Apply</h3>
									
								</header>
								<div class="content-wrap">

                                <div class="">

                                    <fieldset>
                                        <div class="frm-main no-indent">
                                            <label for="Name">Name</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Name" name="Name"  readonly="readonly" type="text" ng-model="data.CName">
                                            </div>
                                        </div>
										 <div class="frm-main no-indent">
                                            <label for="Address">Property Address</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Address" name="Address"  readonly="readonly" type="text" ng-model='management.address'>
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="Phone">Phone</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="Phone" name="Phone" readonly="readonly" type="text" ng-model="data.CPhone">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="EmailAddress">Email address</label>
                                            <div class="inner-wrap">
                                                <input aria-required="true" id="EmailAddress" name="EmailAddress" readonly="readonly" type="text" ng-model="data.CEmail">
                                            </div>
                                        </div>
										 <div class="frm-main no-indent">
                                            <label for="LastName">When did the problem start?</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="LastName" name="LastName"   type="text" ng-model="maintenance.q1">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="LastName">Do you have any idea what cause the problem?</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="LastName" name="LastName"   type="text" ng-model="maintenance.q2">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="LastName">What were you doing when the problem occurred?</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="LastName" name="LastName"   type="text" ng-model="maintenance.q3">
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="LastName">Available time for a technician comes (please list 3 periods of time):</label>
                                            <div class="inner-wrap">
                                            	<div class="row">
                                            		<div class="col-sm-4">
                                            			<p class="input-group">
											              <input type="text" class="form-control input-lg" datepicker-popup="[:format:]" ng-model="dt1" is-open="opened" min-date="minDate" max-date="'2018-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
											              <span class="input-group-btn">
											                <button type="button" class="btn btn-lg btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
											              </span>
											            </p>  
                                            		</div>
                                            		<div class="col-sm-4">
                                            			<p class="input-group">
											              <input type="text" class="form-control input-lg" datepicker-popup="[:format:]" ng-model="dt2" is-open="opened" min-date="minDate" max-date="'2018-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
											              <span class="input-group-btn">
											                <button type="button" class="btn btn-lg btn-default" ng-click="open2($event2)"><i class="glyphicon glyphicon-calendar"></i></button>
											              </span>
											            </p>  
                                            		</div>
                                            		<div class="col-sm-4">
                                            			<p class="input-group">
											              <input type="text" class="form-control input-lg" datepicker-popup="[:format:]" ng-model="dt3" is-open="opened" min-date="minDate" max-date="'2018-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
											              <span class="input-group-btn">
											                <button type="button" class="btn btn-lg btn-default" ng-click="open3($event3)"><i class="glyphicon glyphicon-calendar"></i></button>
											              </span>
											            </p>  
                                            		</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frm-main no-indent">
                                            <label for="LastName">What were you doing when the problem occurred?</label>
                                            <div class="inner-wrap">
                                                <input aria-required="false" id="LastName" name="LastName"   type="text" value="Sun">
                                            </div>
                                            <div class="inner-wrap">
                                            	<div class="row m-t-md">
                                            		<div class="col-sm-4">
                                            			
                                            		</div>
                                            		<div class="col-sm-4">
                                            			 <a id="myBtn" class="btn lowlight">Submit</a>
                                            		</div>
                                            		<div class="col-sm-4">
                                            			
                                            		</div>
                                            	</div>
                                                
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				 <div class="tab-pane tabPanel" ng-class="{'active': tabs[4]}">
                    <div class="col-sm-12 tabPanel" id="myProfile" role="tabpanel" aria-hidden="false" aria-labelledby="tab-myProfile">
						<div class="card">
							<div class="inner-wrap clear">
								<header>
									<h3>Maintenace&nbsp;History</h3>
									
								</header>
								<div class="content-wrap clear">
									<div class="wrapper-md">
										<div class="panel panel-default">
											<div class="panel-heading">
											  <span class="label bg-danger pull-right m-t-xs">1 left</span>
											  Tasks
											</div>
											<table class="table table-striped m-b-none">
											  <thead>
												<tr>
												  <th>Service Type</th>
												  <th>Progress</th>
												  <th>Apply Date</th>
												  <th style="width:30px;">state</th>
												</tr>
											  </thead>
											  <tbody>
												<tr>
												  <td>Plumb Repair</td>
												  <td>
													<div class="progress progress-sm progress-striped active m-t-xs m-b-none">
													  <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="80%" style="width: 80%"></div>
													</div>
												  </td>
												  <td>21-02-2017</td>
												  <td>
												  <a href class="active" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
												</td>
												</tr>
											  </tbody>
											</table>
										  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				 <div class="tab-pane tabPanel" ng-class="{'active': tabs[4]}">
                    <div class="col-sm-12 tabPanel" id="myProfile" role="tabpanel" aria-hidden="false" aria-labelledby="tab-myProfile">
						<div class="card">
							<div class="inner-wrap clear">
								<header>
									<h3>Service History</h3>
								</header>	
							</div>
						</div>
					</div>
				</div>
			  </div>
			</div>
		</div>
	</section>
</div>
