<div class="serviceTypes">
	<div class="body-main">
	
		<div class="program-banner">
	
			<div class="relative banner-head js-banner-head">
				<div class="js-all active" style="display: block;">
					<h2 class="tit">专业团队 一流服务 </h2>
					<p class="intro">
						上门服务<span>/</span>电话预约<span>/</span>不同区域<span>/</span>细致分类
					</p>
				</div>
	<!--<div class=" text-left"></div>-->
				<div class="js-fe " style="display: none;">
					<h2 class="tit">Web前端攻城狮</h2>
					<p class="intro">互联网时代，我们每天的生活离不开各式各样的前端页面。如何利用(X)HTML/CSS/JavaScript/DOM/Flash等技术开发界面，完成动态的交互功能，与后台配合构建用户体验优异的产品？Web前端工程师，等你来挑战~</p>
				</div>
				<div class="js-php " style="display: none;">
					<h2 class="tit">PHP攻城狮</h2>
					<p class="intro">告诉我，世界上最好的语言是什么？没错，就是web开发使用者最多，最快最简单，生态环境和社区积累最深厚，却毫无大公司背景的传奇。PHP的传奇，需要你来续写！</p>
				</div>
				<div class="js-android ">
					<h2 class="tit">Android攻城狮</h2>
					<p class="intro">全球移动设备，市场份额第一的开放平台，开放平台，开放平台！开放带来丰富的生态，开放利于创新。Android开发资源丰富、门槛低，还有谷歌大法护体，少年，你还犹豫什么</p>
				</div>
				<div class="js-java ">
					<h2 class="tit">Java攻城狮</h2>
					<p class="intro">互联网时代，大量事务依托网络，各类网站和系统琳琅满目，他们是如何实现的呢？Java Web开发可以承担这些业务！Java以其平台无关、健壮、安全等特点，长期盘踞编程排行榜首位。广阔前景，期待你的加入~</p>
				</div>
				<div class="js-ios " style="display: none;">
					<h2 class="tit">iOS攻城狮</h2>
					<p class="intro">从事iOS系统开发、应用软件开发等多个方向，主要负责移动端产品的开发，应用于iPhone、iPad、iWatch等移动设备。致力于通过不断优化的系统，打造用户体验极佳的产品，你也可以像全球数以万计的开发者一样在AppStore赚到第一桶金。</p>
				</div>
			</div>
	
			<div class="tab-nav js-tabNav clearfix">
				<a href="/" data-type="all" class="navitem navitemall active">
					<i class="navicon all"></i>
					<span class="navtext">全部专业服务</span>
					<div class="navbot"></div>
				</a>
	
				<a href="/?c=fe" data-type="fe" class="navitem ">
					<i class="navicon fe"></i>
					<span class="navtext">搬家服务</span>
					<div class="navbot"></div>
				</a>
	
				<a href="/?c=php" data-type="php" class="navitem ">
					<i class="navicon php"></i>
					<span class="navtext">房屋维修</span>
					<div class="navbot"></div>
				</a>
	
				<a href="/?c=java" data-type="java" class="navitem ">
					<i class="navicon java"></i>
					<span class="navtext">家电维修</span>
					<div class="navbot"></div>
				</a>
	
				<a href="/?c=android" data-type="android" class="navitem ">
					<i class="navicon android"></i>
					<span class="navtext">水管维修</span>
					<div class="navbot"></div>
				</a>
	
				<a href="/?c=ios" data-type="ios" class="navitem ">
					<i class="navicon ios"></i>
					<span class="navtext">房屋清理</span>
					<div class="navbot"></div>
				</a>
			</div>
	
			<div class="MMM"></div>
			<div class="program-banner-wrap">
				<div class="program-banner-absolute">
					<div class="program-banner-bk">
						<div class="svg-block image1"></div>
						<div class="svg-diamond image2"></div>
						<div class="svg-leaf image3"></div>
						<div class="svg-small-circle"></div>
						<div class="svg-big-circle"></div>
						<div class="svg-triangle image4"></div>
					</div>
				</div>
			</div>
	
		</div>
	
		<div class="program-list">
			<div class="program-list-wrap clearfix">
				<a href="/sc/25" class="program-item">
					<div class="shadow">
						<div class="program-list-head">
							<div class="" style="background-image: url(http://climg.mukewang.com/5915802b0001da6206000338.jpg);"></div>
						</div>
						<div class="program-list-cont">
							<div class="program-list-tit">全部澳洲专业搬运公司</div>
							<div class="program-list-t clearfix">
								<span class="text">大房,豪宅，长途搬家首选</span>
							</div>
							<div class="program-list-dest">选择专业，相信实力，今日悉尼唯一发布真实图片的搬家公司！ 质量无折扣，拒绝价格战！悉尼搬家不找 MaxMove, 是您的遗憾!</div>
	
							<div class="program-list-bot">
								<span class="text">150个搬家服务</span>
								<span class="price">方便便捷</span>
							</div>
						</div>
					</div>
	
					<div class="c-line"></div>
					<div class="d-line"></div>
				</a>
				<a href="/sc/2" class="program-item">
					<div class="shadow">
						<div class="program-list-head">
							<div class="" style="background-image: url(http://climg.mukewang.com/5836c00a0001916906000338.jpg);"></div>
						</div>
						<div class="program-list-cont">
							<!--<div class="program-list-tit">HTML5与CSS3实现动态网页</div>
							<div class="program-list-t clearfix">
								<span class="text">5步骤 • 29门课</span>
							</div>
							<div class="program-list-dest">通过系统学习，带你实现从“会做网页”到“做出好的动态网页”的蜕变</div>
	
							<div class="program-list-bot">
								<span class="text">1094人在学</span>
								<span class="price">￥599.00</span>
							</div>-->
						</div>
					</div>
	
					<div class="c-line"></div>
					<div class="d-line"></div>
				</a>
				<a href="/sc/20" class="program-item">
					<div class="shadow">
						<div class="program-list-head">
							<div class="" style="background-image: url(http://climg.mukewang.com/59030cc50001144806000338.jpg);"></div>
						</div>
						<div class="program-list-cont">
						<!--	<div class="program-list-tit">前端小白入门</div>
							<div class="program-list-t clearfix">
								<span class="text">5步骤 • 33门课</span>
							</div>
							<div class="program-list-dest">从小白到老司机，学会HTML、CSS、JS、 jQuery基础专题，向前端世界迈进！</div>
	
							<div class="program-list-bot">
								<span class="text">618人在学</span>
								<span class="price">￥499.00</span>
							</div>-->
						</div>
					</div>
	
					<div class="c-line"></div>
					<div class="d-line"></div>
				</a>
				<a href="/sc/6" class="program-item">
					<div class="shadow">
						<div class="program-list-head">
							<div class="" style="background-image: url(http://climg.mukewang.com/585243df00014f2406000338.jpg);"></div>
						</div>
						<div class="program-list-cont">
					<!--		<div class="program-list-tit">零基础入门Android语法与界面</div>
							<div class="program-list-t clearfix">
								<span class="text">5步骤 • 41门课</span>
							</div>
							<div class="program-list-dest">从基础语法入门，到能完成主流APP的界面，学习Android从这里开始！</div>
	
							<div class="program-list-bot">
								<span class="text">559人在学</span>
								<span class="price">￥399.00</span>
							</div>-->
						</div>
					</div>
	
					<div class="c-line"></div>
					<div class="d-line"></div>
				</a>
				<a href="/sc/18" class="program-item">
					<div class="shadow">
						<div class="program-list-head">
							<div class="" style="background-image: url(http://climg.mukewang.com/58c7b92d0001608406000338.jpg);"></div>
						</div>
						<div class="program-list-cont">
					<!--		<div class="program-list-tit">Java基础语法与常用工具类</div>
							<div class="program-list-t clearfix">
								<span class="text">3步骤 • 27门课</span>
							</div>
							<div class="program-list-dest">皮皮虾，快来学Java！掌握基础语法，学会编程思想，迈上开发之路！</div>
	
							<div class="program-list-bot">
								<span class="text">311人在学</span>
								<span class="price">￥229.00</span>
							</div>-->
						</div>
					</div>
	
					<div class="c-line"></div>
					<div class="d-line"></div>
				</a>
				<a href="/sc/22" class="program-item">
					<div class="shadow">
						<div class="program-list-head">
							<div class="" style="background-image: url(http://climg.mukewang.com/58d1f2dc0001eedf06000338.jpg);"></div>
						</div>
						<div class="program-list-cont">
					<!--		<div class="program-list-tit">PHP从基础语法到原生项目开发</div>
							<div class="program-list-t clearfix">
								<span class="text">4步骤 • 18门课</span>
							</div>
							<div class="program-list-dest">用项目串联零散的PHP知识点，教你解锁PHP的正确姿势，带你进入代码的殿堂！</div>
	
							<div class="program-list-bot">
								<span class="text">221人在学</span>
								<span class="price">￥498.00</span>
							</div>-->
						</div>
					</div>
	
					<div class="c-line"></div>
					<div class="d-line"></div>
				</a>
				<a href="/sc/10" class="program-item">
					<div class="shadow">
						<div class="program-list-head">
							<div class="" style="background-image: url(http://climg.mukewang.com/586c5ee90001794c06000338.jpg);"></div>
						</div>
						<div class="program-list-cont">
					<!--		<div class="program-list-tit">iOS基础语法（OC&amp;Swift）与常用控件</div>
							<div class="program-list-t clearfix">
								<span class="text">5步骤 • 16门课</span>
							</div>
							<div class="program-list-dest">由OC与Swift组成的iOS成长之路，让你一次掌握两种开发语言，去掉“零”标签</div>
	
							<div class="program-list-bot">
								<span class="text">158人在学</span>
								<span class="price">￥299.00</span>
							</div>-->
						</div>
					</div>
	
					<div class="c-line"></div>
					<div class="d-line"></div>
				</a>
				<a href="/sc/17" class="program-item">
					<div class="shadow">
						<div class="program-list-head">
							<div class="" style="background-image: url(http://climg.mukewang.com/59030d4e0001807a06000338.jpg);"></div>
						</div>
						<div class="program-list-cont">
				<!--			<div class="program-list-tit">Android网络与数据存储</div>
							<div class="program-list-t clearfix">
								<span class="text">4步骤 • 20门课</span>
							</div>
							<div class="program-list-dest">网路操作、数据存储、常用框架，老司机们带你围绕项目，轻松进阶Android工程师</div>
	
							<div class="program-list-bot">
								<span class="text">61人在学</span>
								<span class="price">￥399.00</span>
							</div>-->
						</div>
					</div>
	
					<div class="c-line"></div>
					<div class="d-line"></div>
				</a>
			<!--<a href="/sc/27" class="program-item">
					<div class="shadow">
						<div class="program-list-head">
							<div class="" style="background-image: url(http://climg.mukewang.com/58f181840001c4ab06000338.jpg);"></div>
						</div>
						<div class="program-list-cont">
							<div class="program-list-tit">ECShop3从基本使用到二次开发</div>
							<div class="program-list-t clearfix">
								<span class="text">3步骤 • 12门课</span>
							</div>
							<div class="program-list-dest">ECShop3来啦！这款基于PHP开发的跨平台开源程序，带你玩转大型商城系统！</div>
	
							<div class="program-list-bot">
								<span class="text">38人在学</span>
								<span class="price">￥298.00</span>
							</div>
						</div>
					</div>
	
					<div class="c-line"></div>
					<div class="d-line"></div>
				</a>
				<a href="/sc/23" class="program-item">
					<div class="shadow">
						<div class="program-list-head">
							<div class="" style="background-image: url(http://climg.mukewang.com/58e726090001658206000338.jpg);"></div>
						</div>
						<div class="program-list-cont">
							<div class="program-list-tit">Android从界面到数据存储</div>
							<div class="program-list-t clearfix">
								<span class="text">6步骤 • 38门课</span>
							</div>
							<div class="program-list-dest">会Java，如何学Android？老司机带你轻松完成交互性APP的开发，助你迈入移动开发工程师行列。</div>
	
							<div class="program-list-bot">
								<span class="text">24人在学</span>
								<span class="price">￥599.00</span>
							</div>
						</div>
					</div>
	
					<div class="c-line"></div>
					<div class="d-line"></div>
				</a>
				<a href="/sc/19" class="program-item">
					<div class="shadow">
						<div class="program-list-head">
							<div class="" style="background-image: url(http://climg.mukewang.com/58f6cbdb00015e3006000338.jpg);"></div>
						</div>
						<div class="program-list-cont">
							<div class="program-list-tit">iOS界面优化与数据存储</div>
							<div class="program-list-t clearfix">
								<span class="text">5步骤 • 20门课</span>
							</div>
							<div class="program-list-dest">iOS视图控制器、屏幕适配、数据存储，加团购实战，更有Swift核心编程，助你成长</div>
	
							<div class="program-list-bot">
								<span class="text">17人在学</span>
								<span class="price">￥328.00</span>
							</div>
						</div>
					</div>
	
					<div class="c-line"></div>
					<div class="d-line"></div>
				</a>-->	
			</div>
		</div>
	
	</div></div>