<div class="banner-search" ng-controller="HomeController">
	<div class="clear">
		<div class="header" data-stellar-background-ratio="0.07">
				<div class="free-advs clear">
					<ul>
						<li ui-sref="app.documentation">
							<h2 style="margin-bottom: -10px!important;">Need a room?</h2>
							<span><i class="flaticon-properties-information2" ></i></span>
							<!--<p>Place a free Room Wanted ad and make sure people with rooms can find you.</p>-->
							<br />
							<button class="btn-warning btn-lg" style="opacity: 1!important; width:100px">Go</button>
						</li>
						<li  ui-sref="app.documentation">
							<h2 style="margin-bottom: -10px!important;">Get a room to let?</h2>
							<!--<p>Place a free ad and rent your room in days find out more.</p>-->
							<span><i class="flaticon-banknote2"></i></span>
							<br />
							<button class="btn-warning btn-lg" style="opacity: 1!important;width:100px">Go</button>
						</li>
					</ul>
				</div>
				<div class="cover-header"></div>
		</div>
	</div>
	<div class="clear"></div>
	<div style="width:100%;" class="clear">
		<div class="theme-section">
			<section class="theme-specification">
				<div class="top-cities clear">
					<header class="latest-news-header">
						<a class="latest-news-title-link">
							<h1 class="latest-news-title h1 h1-left"  translate="tips.descriptions.title">主题专区</h1>
						</a>
					</header>
					<div class="pics pics1 clear">
						<div class="left1">
							<div class="wh city-pic" ng-click="entireSearch('%university;')" >
								<a ng-click="entireSearch('%university;')">
									<a class="cover-img"></a>
									<img src="../img/uni.jpg">
									<span class="flaticon-college-graduation2" style="opacity: 1; color: lightblue;"></span>
								</a>
								<div class="holder1">
									<i></i>
									<p class="desTile1">
										<span class="flaticon-college-graduation2" style="opacity: 1; color: chocolate;"></span>
										<a class="city-title" rel="nofollow" ng-click="entireSearch('%university;')"><em translate='tips.descriptions.uni'></em></a>
									</p>
								</div>
							</div>
							<div class="w city-pic railroad" ng-click="entireSearch('%train_station;')" >
								<a ng-click="entireSearch('%train_station;')">
									<img src="img/station01Warm.jpg">
									<i class="flaticon-train-on-railroad"></i>
								</a>
								<div class="holder1">
									<p class="desTile1">
										<i class="flaticon-train-on-railroad2" style="opacity: 1; color: orange;"></i>
										<a class="city-title" rel="nofollow" ng-click="entireSearch('%train_station;')"><em translate='tips.descriptions.station'>火车站</em></a>
									</p>
								</div>
							</div>
							<div class="wh city-pic graduation" ng-click="entireSearch('%backpack;')">
								<a ng-click="entireSearch('%backpack;')" >
									<img src="../img/backpacker02Warm.jpg">
								</a>
								<div class="holder1">
									<i></i>
									<p class="desTile1">
										<i class="flaticon-backpack2" style="opacity: 1; color: greenyellow;"></i>
										<a class="city-title" rel="nofollow" ng-click="entireSearch('%backpack;')" ><em translate='tips.descriptions.backpack'>背包客</em></a>
									</p>
								</div>
							</div>
							<div class="wh city-pic park-city-space" ng-click="entireSearch('%park;')" >
								<a ng-click="entireSearch('%park;')" >
									<img src="../img/park01Warm.jpg">
									<i class="flaticon-green-park-city-space"></i>
								</a>
								<div class="holder1">
									<i></i>
									<p class="desTile1">
										<i class="flaticon-green-park-city-space2" style="opacity: 1; color: green;"></i>
										<a class="city-title" rel="nofollow" ng-click="entireSearch('%park;')" ><em translate='tips.descriptions.park'>近公园绿地</em></a>
									</p>
								</div>
							</div>
							<div class="wh city-pic open-book" ng-click="entireSearch('%school;')" >
								<a ng-click="entireSearch('%school;')" >
									<img src="img/schoolzone02Warm.jpg" >
									<i class="flaticon-open-book"></i>
								</a>
								<div class="holder1">
									<i></i>
									<p class="desTile1">
										<i class="flaticon-open-book2" style="opacity: 1; color: yellow;"></i>
										<a class="city-title" rel="nofollow" ng-click="entireSearch('%school;')" ><em translate='tips.descriptions.school'>学区房</em></a>
									</p>
								</div>
							</div>
						</div>
						<div class="left1 clear">
							<div class="wh city-pic flaticonpeople" ng-click="entireSearch('%big_family;')" >
								<a ng-click="entireSearch('%big_family;')">
									<img src="img/grand-front-yard-entranceWarm.jpg">
									<i class="flaticon-people"></i>
								</a>
								<div class="holder1">
									<i></i>
									<p class="desTile1">
										<i class="flaticon-people2" style="opacity: 1; color: pink;"></i>
										<a class="city-title" rel="nofollow" ng-click="entireSearch('%big_family;')"><em translate='tips.descriptions.bigfamily'>大庭院</em></a>
									</p>
								</div>
								<!--<h3 class="title">清洁服务</h3>-->
							</div>
							<div class="wh city-pic shoppingcart" ng-click="entireSearch('%shopping_mall;')" >
								<a ng-click="entireSearch('%shopping_mall;')">
									<img src="img/Westfield_shopping_centre02Warm.jpg">
									<i class="flaticon-shopping-cart"></i>
								</a>
								<div class="holder1">
									<i></i>
									<p class="desTile1">
											<i class="flaticon-shopping-cart2" style="opacity: 1; color: darkred;"></i>
										<a class="city-title" rel="nofollow" ng-click="entireSearch('%shopping_mall;')"><em translate='tips.descriptions.shop'>购物商场</em></a>
									</p>
								</div>
							</div>
							<div class="right1 city-pic business-rental" ng-click="entireSearch('%offical_rental;')" >
								<a ng-click="entireSearch('%offical_rental;')">
									<img src="/img/officerental02Warm.jpg">
									<i class="flaticon-business"></i>
								</a>
								<div class="holder1">
									<i></i>
									<p class="desTile1">
										<i class="flaticon-business2" style="opacity: 1; color: blue;"></i>
										<a class="city-title" rel="nofollow" ng-click="entireSearch('%offical_rental;')"><em translate='tips.descriptions.office'>Office Rental</em></a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="clear"></div>
			<div class="theme-section" id="businessSection">
				<section class="theme-specification">
					<div class="top-cities clear">
						<header class="latest-news-header">
							<a class="latest-news-title-link">
								<h1 class="latest-news-title h1 h1-right" translate='tips.business.title'>商家专区</h1></a>
						</header>
						<div class="pics clear">
							<div class="left">
								<div class="wh city-pic moveicon" ng-click="businessSearch('move')">
									<a ng-click="businessSearch('move')">
										<!--<img src="http://s1.ljcdn.com/feroot/pc/asset/img/www/bj.jpg?_v=20170515195947" alt="搬家服务">-->
										<i class="flaticon-moving-home-transport-for-boxes"></i>
									</a>
									<div class="holder">
										<i></i>
										<p class="desTile">
											<a class="city-title" rel="nofollow" ng-click="businessSearch('move')" ><em translate='tips.business.move.title'>搬家服务</em></a>
											<!-- <a ng-click="businessSearch('move')"><span><strong translate='tips.business.move.tip_1'>长途搬家</strong></span></a>
											<a ng-click="businessSearch('move')"><span><strong translate='tips.business.move.tip_2'>短途搬家</strong></span></a> -->
										</p>
									</div>
									<!--<h3 class="title">搬家服务</h3>-->
								</div>
								<div class="wh city-pic paintingicon" ng-click="businessSearch('painting')">
									<a ng-click="businessSearch('painting')">
										<i class="flaticon-paintbrush"></i>
										<!--<img src="http://s1.ljcdn.com/feroot/pc/asset/img/www/dl.jpg?_v=20170515195947" alt="painting">-->
									</a>
									<div class="holder">
										<i></i>
										<p class="desTile">
											<a class="city-title" rel="nofollow" ng-click="businessSearch('painting')"><em translate='tips.business.painting.title'>painting</em></a>
											<!-- <a ng-click="businessSearch('painting')"><span><strong translate='tips.business.painting.tip_1'>房屋粉刷</strong></span></a>
											<a ng-click="businessSearch('painting')"><span><strong translate='tips.business.painting.tip_2'>局部装修</strong></span></a> -->
										</p>
									</div>
									<!--<h3 class="title">painting</h3>-->
								</div>
								<div class="wh city-pic storageicon" ng-click="businessSearch('storage')">
									<a ng-click="businessSearch('storage')">
										<i class="flaticon-factory-stock-house"></i>
										<!--<img src="http://s1.ljcdn.com/feroot/pc/asset/img/www/sh.jpg?_v=20170515195947" alt="仓储">-->
									</a>
									<div class="holder">
										<i></i>
										<p class="desTile">
											<a class="city-title" rel="nofollow" ng-click="businessSearch('storage')"><em translate='tips.business.store.title'>仓储</em></a>
											<!-- <a ng-click="businessSearch('storage')"><span><strong translate='tips.business.store.tip_1'>仓储</strong></span></a>
											<a ng-click="businessSearch('storage')"><span><strong translate='tips.business.store.tip_2'>仓储</strong></span></a> -->
										</p>
									</div>
									<!--<h3 class="title">仓储</h3>-->
								</div>
								<div class="wh city-pic handymanicon" ng-click="businessSearch('handyman')">
									<a ng-click="businessSearch('handyman')">
										<i class="flaticon-handyman-tools"></i>
										<!--<img src="http://s1.ljcdn.com/feroot/pc/asset/img/www/cd.jpg?_v=20170515195947" alt="Handyman">-->
									</a>
									<div class="holder">
										<i></i>
										<p class="desTile">
											<a class="city-title" rel="nofollow" ng-click="businessSearch('handyman')"><em translate='tips.business.handyman.title'>Handyman</em></a>
											<!-- <a ng-click="businessSearch('handyman')" ><span><strong translate='tips.business.handyman.tip_1'>pulumber</strong></span></a>
											<a ng-click="businessSearch('handyman')"><span><strong translate='tips.business.handyman.tip_2'> 水工</strong></span></a> -->
										</p>
									</div>
									<!--<h3 class="title">Handyman</h3>-->
								</div>
								<div class="wh city-pic cleanicon" ng-click="businessSearch('clean')">
									<a ng-click="businessSearch('clean')">
										<i class="flaticon-vacuum"></i>
										<!--<img src="http://s1.ljcdn.com/feroot/pc/asset/img/www/tj.jpg?_v=20170515195947" alt="清洁服务">-->
									</a>
									<div class="holder">
										<i></i>
										<p class="desTile">
											<a class="city-title" rel="nofollow" ng-click="businessSearch('clean')"><em translate='tips.business.clean.title'>清洁服务</em></a>
											<!-- <a ng-click="businessSearch('clean')"><span><strong translate='tips.business.clean.tip_1'>上门服务</strong></span></a>
											<a ng-click="businessSearch('clean')"><span><strong translate='tips.business.clean.tip_2'>电话预约</strong></span></a> -->
										</p>
									</div>
									<!--<h3 class="title">清洁服务</h3>-->
								</div>
								<div class="wh city-pic applianceicon" ng-click="businessSearch('appliance')">
								<a ng-click="businessSearch('appliance')">
									<i class="flaticon-socket"></i>
									<!--<img src="http://s1.ljcdn.com/feroot/pc/asset/img/www/qd.jpg?_v=20170515195947" alt="家电维修">-->
								</a>
								<div class="holder">
									<i></i>
									<p class="desTile">
										<a class="city-title" rel="nofollow" ng-click="businessSearch('appliance')"><em translate='tips.business.app.title'>家电</em></a>
										<!-- <a ng-click="businessSearch('appliance')"><span><strong translate='tips.business.app.tip_1'>家电</strong></span></a>
										<a ng-click="businessSearch('appliance')"><span><strong translate='tips.business.app.tip_2'> 电话预约</strong></span></a> -->
									</p>
								</div>
								<!--<h3 class="title">家电</h3>-->
							</div>
							</div>
							<div class="wh city-pic take_awayicon" ng-click="businessSearch('take_away')">
								<a ng-click="businessSearch('take_away')">
									<i class="flaticon-food"></i>
									<!--<img src="http://s1.ljcdn.com/feroot/pc/asset/img/www/hz.jpg?_v=20170515195947" alt="外卖">-->
								</a>
								<div class="holder">
									<i></i>
									<p class="desTile">
										<a class="city-title" rel="nofollow" ng-click="businessSearch('take_away')"><em translate='tips.business.food.title'>外卖</em></a>
										<!-- <a ng-click="businessSearch('take_away')"><span><strong translate='tips.business.food.tip_1'>外卖</strong></span></a>
										<a ng-click="businessSearch('take_away')"><span><strong translate='tips.business.food.tip_2'>外卖</strong></span></a> -->
									</p>
								</div>
								<!--<h3 class="title">外卖</h3>-->
							</div>
							<div class="w city-pic free_posticon" ng-click="businessSearch('free_post')">
								<a ng-click="businessSearch('free_post')">
									<i class="flaticon-puzzle"></i>
									<!--<img src="http://s1.ljcdn.com/feroot/pc/asset/img/www/cd.jpg?_v=20170515195947" alt="freepost">-->
								</a>
								<div class="holder">
									<i></i>
									<p class="desTile">
										<a class="city-title" rel="nofollow" ng-click="businessSearch('free_post')"><em translate='tips.business.post.title'>freepost</em></a>
										<!-- <a ng-click="businessSearch('free_post')"><span><strong translate='tips.business.post.tip_1'>freepost</strong></span></a>
										<a ng-click="businessSearch('free_post')"><span><strong translate='tips.business.post.tip_2'>freepost</strong></span></a> -->
									</p>
								</div>
								<!--<h3 class="title">freepost</h3>-->
							</div>
						</div>
					</div>
				</section>
			</div>
	</div>

		<div class="clear">
			<section hotrent class="dream-homes">
			</section>
		</div>
	</div>
