<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="SharePropertyCtrl">
  <div>
    <!-- breadcrumb -->
    <div>
      <h4>Admin</h4>
      <ul class="breadcrumb bg-white b-a">
        <li><a href><i class="fa fa-home"></i> Admin</a></li>
        <li><a href>staff</a></li>
        <li class="active">role management</li>
        <li class="pull-right"><i class="fa fa-lg fa-refresh"></i></li>
      </ul>
    </div>
    <!-- / breadcrumb -->
    <div class="wrapper-md bg-white m-b">
      <div class="form-group text-center">
        <div class="col-sm-12 col-sm-offset-2">
          <label class="col-sm-1 control-label">Available</label>
          <div class="col-sm-3" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
          </div>
          <label class="col-sm-1 control-label">To</label>
          <div class="col-sm-3" ng-controller="DatepickerDemoCtrl">
            <div class="input-group w-md">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <button class="btn btn-danger"><i class="fa fa-trash"></i>批量删除</button>
        <button class="btn btn-info" ><i class="fa fa-plus"></i>分租添加</button>
      </div>
      <div class="row wrapper">
        <div class="col-sm-3 m-b-xs">
          <select class="input-sm form-control w-sm inline v-middle">
            <option value="0">Status</option>
            <option value="1">Available Time</option>
            <option value="2">Allocation</option>
            <option value="3">landlord</option>
          </select>
          <button class="btn btn-sm m-l-n-xxs btn-default">Apply</button>
        </div>
        <div class="col-sm-5">
          <div class="input-group">
            <input type="text" class="input-sm form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-sm btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>

        <div class="col-sm-4">
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped b-t b-light"  style="table-layout:fixed; width: 100%;">
          <thead>
            <tr>
              <th style="width:20px;">
                <label class="i-checks m-b-none">
                  <input type="checkbox"><i></i>
                </label>
              </th>
              <th style="width:30px;" class="text-center">ID</th>
              <th style="width:100px;" class="text-center">Landlord</th>
              <th style="width:200px;" class="text-center">Property address</th>
              <th style="width:150px;" class="text-center">Available Date</th>
              <th style="width:100px;" class="text-center">Price</th>
              <th style="width:100px;" class="text-center">Area</th>
              <th style="width:100px;" class="text-center">Room Type</th>
              <th style="width:100px;" class="text-center">Status</th>
              <th style="width:200px;" class="text-center">Manipulate</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="property in ShareProperties track by $index">
              <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
              <td class="text-center">{{$index + 1}}</td>
              <td class="text-center"><a href>{{property.LLName}}</a></td>
              <td class="text-center"><a>{{property.address}}</a></td>
              <td class="text-center" data-value="78025368997">{{property.SRAvailableDate}}</td>
              <td class="text-center"><span><i class="fa fa-usd"></i></span><span>&nbsp;{{property.SRPrice}}</span></td>
              <td class="text-center">{{property.SRArea}}</td>
              <td class="text-center" data-value="1"><span class="label bg-primary" title="Active">{{property.SRName}}</span></td>
              <td class="text-center" data-value="1"><span class="label bg-danger" title="Active">{{property.SRStat}}</span></td>
              <script type="text/ng-template" id="updateShareRoom.html">
                <div ng-include="'/tpl/modal/update_shareRoom.html'"></div>
              </script>
              <td class="text-center">
                <span class="m-r-md" ng-click="show=!show">
                  <i class="fa fa-level-down" ng-if="show" title="下架"></i>
                  <i class="fa fa-paper-plane-o" aria-hidden="true" ng-if="!show" title="发布"></i>
                </span>
                <span class="m-r-md" ng-click="user=!user">
                  <i class="fa fa-plus" aria-hidden="true" title="添加房产" ng-if="user"></i>
                  <i class="fa fa-user" aria-hidden="true" title="已分配" ng-if="!user"></i>
                </span>
                <span class="m-r-md" ng-click="update_shareRoom('',property.ER_ID)">
                  <i class="fa fa-pencil" aria-hidden="true" title="修改"></i>
                </span>
                <span>
                  <i class="fa fa-trash" aria-hidden="true" title="删除"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-sm-4 text-left">
            <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
          </div>
          <div class="col-sm-4 text-right text-center-xs">
            <ul class="pagination pagination-sm m-t-none m-b-none">
              <li><a href><i class="fa fa-chevron-left"></i></a></li>
              <li><a href>1</a></li>
              <li><a href>2</a></li>
              <li><a href>3</a></li>
              <li><a href>4</a></li>
              <li><a href>5</a></li>
              <li><a href><i class="fa fa-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
</div>
