<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AbnTestController">
  <!-- <div class="col w-lg bg-light b-r bg-auto">
    <div class="wrapper-md">
      <button ng-click="try_changing_the_tree_data()" class="btn btn-default btn-block m-b">Change The Tree Definition</button>
      <button ng-click="try_async_load()" class="btn btn-default btn-block">Load Tree Data Asynchronously</button>
      <div class="line b-b line-lg"></div>
      <h5>Test the Tree Control API:</h5>
      <button ng-click="my_tree.select_first_branch()" class="btn btn-default btn-sm">First Branch</button>
      <div class="m-t-sm m-b-sm">
        <button ng-click="my_tree.select_next_sibling()" class="btn btn-default btn-sm">Next Sibling</button>
        <button ng-click="my_tree.select_prev_sibling()" class="btn btn-default btn-sm">Prev Sibling</button>
      </div>
      <div class="m-b-sm">
        <button ng-click="my_tree.select_next_branch()" class="btn btn-default btn-sm">Next Branch</button>
        <button ng-click="my_tree.select_prev_branch()" class="btn btn-default btn-sm">Prev Branch</button>
      </div>
      <button ng-click="my_tree.select_parent_branch()" class="btn btn-default btn-sm">Parent</button>
      <div class="m-t-sm m-b-sm">
        <button ng-click="my_tree.expand_branch()" class="btn btn-default btn-sm">Expand</button>
        <button ng-click="my_tree.collapse_branch()" class="btn btn-default btn-sm">Collapse</button>
      </div>
      <div class="m-t-sm m-b-sm">
        <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
        <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
      </div>
      <div class="line b-b line-lg"></div>
      <button ng-click="try_adding_a_branch()" class="btn btn-success btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i> Add Branch</button>
    </div>
  </div> -->
  <div class="col-sm-3">
    <div class="wrapper-md">
      <div class="b-a bg-light dk r r-2x">
        <span ng-if="doing_async">...loading...</span>
        <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Granny Smith" icon-leaf="fa fa-file-o" icon-expand="fa fa-plus" icon-collapse="fa fa-minus">
        </abn-tree>
      </div>
    </div>
    <div class="wrapper-md">
      <div class="m-t-sm m-b-sm">
        <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
        <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
      </div>
      <button ng-click="try_adding_a_branch()" class="btn btn-success btn-sm"><i class="fa fa-fw m-r-xs fa-plus"></i> Add Branch</button>
      <div class="line b-b line-lg"></div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="wrapper-md">
      <div class="alert alert-info">{{output}}</div>
    </div>
    <div class="wrapper-md bg-white b-b ">
      <div class="form-group clear">
        <label class="col-sm-2 control-label m-t-xs">时间范围</label>
        <div class="col-sm-4">
          <div class="input-group w-md m-b">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </div>
        </div>
        <div class="col-sm-1 text-center">
          <p>
            -
          </p>
        </div>
        <div class="col-sm-4">
          <div class="input-group w-md m-b">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </div>
        </div>
        <div class="col-sm-1">
          <!-- <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search" >
              <div class="form-group">
                <div class="input-group">
                  <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search projects...">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </form> -->
        </div>
      </div>
      <div class="panel panel-default">
        <!-- <div class="panel-heading">
          Footable - make HTML tables on smaller devices look awesome
        </div> -->
        <div class="panel-body b-b b-light">
          Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r" />
                  <a class="inline" ui-sref="">
                    <button class="btn btn-success">添加房产</button>
                  </a>
        </div>
        <div>
          <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="5">
            <thead>
              <tr>
                <th><input name="" type="checkbox" value=""></th>
                <th data-toggle="true">
                  First Name
                </th>
                <th>
                  Last Name
                </th>
                <th data-hide="phone,tablet">
                  Job Title
                </th>
                <th data-hide="phone,tablet" data-name="Date Of Birth">
                  DOB
                </th>
                <th data-hide="phone">
                  Status
                </th>
                <th data-hide="phone">
                  Manipulate
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>Isidra</td>
                <td>
                  <a href>Boudreaux</a>
                </td>
                <td>Traffic Court Referee</td>
                <td data-value="78025368997">22 Jun 1972</td>
                <td data-value="1"><span class="label bg-success" title="Active">Active</span></td>
                <td class="text-center">
                  <span class="m-r-lg">
                    <i class="fa fa-level-down"></i>
                    <i class="fa fa-paper-plane-o" aria-hidden="true" ng-if="false"></i>
                  </span>
                  <span class="m-r-lg">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>Shona</td>
                <td>Woldt</td>
                <td>
                  <a href>Airline Transport Pilot</a>
                </td>
                <td data-value="370961043292">3 Oct 1981</td>
                <td data-value="2"><span class="label bg-light" title="Disabled">Disabled</span></td>
                <td class="text-center">
                  <span class="m-r-lg">
                    <i class="fa fa-level-down"></i>
                    <i class="fa fa-paper-plane-o" aria-hidden="true" ng-if="false"></i>
                  </span>
                  <span class="m-r-lg">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>Granville</td>
                <td>Leonardo</td>
                <td>Business Services Sales Representative</td>
                <td data-value="-22133780420">19 Apr 1969</td>
                <td data-value="3"><span class="label bg-warning" title="Suspended">Suspended</span>
                </td>
                <td class="text-center">
                  <span class="m-r-lg">
                    <i class="fa fa-level-down"></i>
                    <i class="fa fa-paper-plane-o" aria-hidden="true" ng-if="false"></i>
                  </span>
                  <span class="m-r-lg">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>Easer</td>
                <td>Dragoo</td>
                <td>Drywall Stripper</td>
                <td data-value="250833505574">13 Dec 1977</td>
                <td data-value="1"><span class="label bg-success" title="Active">Active</span></td>
                <td class="text-center">
                  <span class="m-r-lg">
                    <i class="fa fa-level-down"></i>
                    <i class="fa fa-paper-plane-o" aria-hidden="true" ng-if="false"></i>
                  </span>
                  <span class="m-r-lg">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>Maple</td>
                <td>Halladay</td>
                <td>Aviation Tactical Readiness Officer</td>
                <td data-value="694116650726">30 Dec 1991</td>
                <td data-value="3"><span class="label bg-warning" title="Suspended">Suspended</span>
                </td>
                <td class="text-center">
                  <span class="m-r-lg">
                    <i class="fa fa-level-down"></i>
                    <i class="fa fa-paper-plane-o" aria-hidden="true" ng-if="false"></i>
                  </span>
                  <span class="m-r-lg">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>Maxine</td>
                <td>
                  <a href>Woldt</a>
                </td>
                <td>
                  <a href>Business Services Sales Representative</a>
                </td>
                <td data-value="561440464855">17 Oct 1987</td>
                <td data-value="2"><span class="label bg-light" title="Disabled">Disabled</span></td>
                <td class="text-center">
                  <span class="m-r-lg">
                    <i class="fa fa-level-down"></i>
                    <i class="fa fa-paper-plane-o" aria-hidden="true" ng-if="false"></i>
                  </span>
                  <span class="m-r-lg">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>Lorraine</td>
                <td>Mcgaughy</td>
                <td>Hemodialysis Technician</td>
                <td data-value="437400551390">11 Nov 1983</td>
                <td data-value="2"><span class="label bg-light" title="Disabled">Disabled</span></td>
                <td class="text-center">
                  <span class="m-r-lg">
                    <i class="fa fa-level-down"></i>
                    <i class="fa fa-paper-plane-o" aria-hidden="true" ng-if="false"></i>
                  </span>
                  <span class="m-r-lg">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>Lizzee</td>
                <td>
                  <a href>Goodlow</a>
                </td>
                <td>Technical Services Librarian</td>
                <td data-value="-257733999319">1 Nov 1961</td>
                <td data-value="3"><span class="label bg-warning" title="Suspended">Suspended</span>
                </td>
                <td class="text-center">
                  <span class="m-r-lg">
                    <i class="fa fa-level-down"></i>
                    <i class="fa fa-paper-plane-o" aria-hidden="true" ng-if="false"></i>
                  </span>
                  <span class="m-r-lg">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>Judi</td>
                <td>Badgett</td>
                <td>Electrical Lineworker</td>
                <td data-value="362134712000">23 Jun 1981</td>
                <td data-value="1"><span class="label bg-success" title="Active">Active</span></td>
                <td class="text-center">
                  <span class="m-r-lg">
                    <i class="fa fa-level-down"></i>
                    <i class="fa fa-paper-plane-o" aria-hidden="true" ng-if="false"></i>
                  </span>
                  <span class="m-r-lg">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
              <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td>Lauri</td>
                <td>Hyland</td>
                <td>Blackjack Supervisor</td>
                <td data-value="500874333932">15 Nov 1985</td>
                <td data-value="3"><span class="label bg-warning" title="Suspended">Suspended</span>
                </td>
                <td class="text-center">
                  <span class="m-r-lg">
                    <i class="fa fa-level-down"></i>
                    <i class="fa fa-paper-plane-o" aria-hidden="true" ng-if="false"></i>
                  </span>
                  <span class="m-r-lg">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </span>
                  <span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
              <tr>
                <td colspan="5" class="text-center">
                  <ul class="pagination">
                    <li class="footable-page-arrow">
                      <a data-page="first" href="#first">«</a>
                    </li>
                    <li class="footable-page-arrow">
                      <a data-page="prev" href="#prev">‹</a>
                    </li>
                    <li class="footable-page">
                      <a data-page="0" href="#">1</a>
                    </li>
                    <li class="footable-page active">
                      <a data-page="1" href="#">2</a>
                    </li>
                    <li class="footable-page-arrow disabled">
                      <a data-page="next" href="#next">›</a>
                    </li>
                    <li class="footable-page-arrow disabled">
                      <a data-page="last" href="#last">»</a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
