<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="business_profileCtrl">
  <!-- breadcrumb -->
  <div>
    <h4>Staff Profile</h4>
    <ul class="breadcrumb bg-white b-a">
      <li><a href><i class="fa fa-home"></i> Admin</a></li>
      <li><a href>staff</a></li>
      <li class="active">role management</li>
      <li class="pull-right"><i class="fa fa-lg fa-refresh"></i></li>
    </ul>
  </div>
  <!-- / breadcrumb -->
  <tabset justified="true" class="tab-container">
    <tab heading="Profile Information">
      <div class="row">
        <div class="col-sm-5">
          <div class="text-center">
              <div class="text-center">
                <img ng-src="{{business_info.TPLogo}}" class="img-circle" style="width:250px;height:250px;"alt="...">
              </div>
              <div class="h4 m-t m-b-xs">{{business_info.TPName}}</div>
              <small class="text-muted m-b">{{business_info.TPDetail}}</small>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="clear m-b pull-in">
            <div class="m-b m-t-sm">
              <span class="h3 text-black">{{business_info.TPName}}</span>
              <small class="m-l">Sydney, Australia</small>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-envelope"></i></a>
              <a>{{business_info.TPPhone}}</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-envelope"></i></a>
              <a>{{business_info.TPEmail}}</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-lg fa-phone"></i></a>
              <a>{{business_info.TPServLoc}}</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-lg fa-mobile"></i></a>
              <a>{{business_info.TPLink}}</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-lg fa-mobile"></i></a>
              <a>{{business_info.LLPhone}}</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-lg fa-mobile"></i></a>
              <a>{{business_info.TPDetail}}</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-lg fa-mobile"></i></a>
              <a>{{business_info.TPDescription}}</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-lg fa-mobile"></i></a>
              <a>{{business_info.TPAds}}</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-lg fa-mobile"></i></a>
              <a>{{business_info.status}}</a>
            </p>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Account">
      <div class="tabbable tabs-below" ng-init="selectedTab = 1;">
        <div class="row">
          <div class="col-sm-5">
            <ul class="nav nav-tabs nav-stacked">
              <li ng-class="{active: selectedTab == 1}">
                <a ng-click="selectedTab = 1;">Personal</a>
              </li>
              <li ng-class="{active: selectedTab == 2}">
                <a ng-click="selectedTab = 2;">Avantar</a>
              </li>
              <li ng-class="{active: selectedTab == 3}">
                <a ng-click="selectedTab = 3;">Change password</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-7">
            <div class="tab-content" ng-show="selectedTab == 1">
              <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control m-b" ng-model="business_info.TPName" placeholder="Name">
                </div>
              </div>
              <!--
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control m-b" ng-model="business_info.LLPassword" placeholder="password">
                </div>
              </div>
              -->
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">服务类型</label>
                <div class="col-sm-10">
                  <input type="text" name="text" class="form-control m-b" ng-model="business_info.TPDetail" placeholder="ServiceTypes">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">服务描述</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-12">
                      <textarea class="form-control" rows="6" ng-model="business_info.TPDescription" placeholder="type in comment"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">商标</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- <input type="text" name="text" class="form-control m-b" ng-model="business_info.TPLogo" placeholder="Logo"> -->
                      <div class="b" ng-strict-di>
                        <form novalidate>
                          <div class="text-center">
                            <!-- <p>We strongly recommend <a href="http://7-zip.org/download.html">7-zip</a> for zipping/extracting files</p> -->
                            <!-- <p>Choose a photo ID to upload.</p> -->
                              <p>{{business_info.TPLogo}}</p>
                            <p>
                              <button type="file" ngf-select="uploadAdsLogo($files)" ngf-multiple="true" class="btn btn btn-warning">
                                  Select File
                              </button>
                            </p>
                          </div>
                          <div ng-show="AdsLogo.length > 0" class="text-center">
                            <div ng-repeat="file in AdsLogo">
                              File:
                              <div>
                                {{file.name}} {{file.$error}} {{file.$errorParam}}
                              </div>
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{file.Progress}}%;">
                                  {{file.Progress | number:0}}%
                                </div>
                              </div>
                              <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">Processing, please wait...</div>
                              <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                              Oooops we had trouble uploading the file. Please refresh the page and try again.
                              <p>If the problem persits please supply us with the following details</p>
                              <p>{{errorMsg}}</p>
                            </div>
                            <div>{{AdsLogoError}}</div>
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">广告</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-12">
                      <textarea class="form-control" rows="6" ng-model="business_info.TPAds" placeholder="type in ads"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-12">
                      <input type="phone" class="form-control m-b" ng-model="business_info.TPEmail" placeholder="Email">
                    </div>
                  </div>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Mobile</label>
                <div class="col-sm-10">
                  <input type="phone" class="form-control m-b" ng-model="business_info.TPPhone" placeholder="0424909328">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">网站</label>
                <div class="col-sm-10">
                  <input type="phone" class="form-control m-b" ng-model="business_info.TPLink" placeholder="website">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">服务区域</label>
                <div class="col-sm-10">
                  <input type="phone" class="form-control m-b" ng-model="business_info.TPServLoc" placeholder="location">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg "></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">status</label>
                <div class="col-sm-10">
                  <input type="phone" class="form-control m-b" ng-model="business_info.status" placeholder="status">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="text-center">
                <button class="btn btn-success m-r" ng-click="update_business_profile()" >Submit</button>
              </div>
            </div>

            <div class="tab-content" ng-show="selectedTab == 2">
              <img src="img/andy.jpg" />
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Upload File</label>
                <div class="col-sm-10">
                  <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div>
                <button class="btn btn-success m-r">submit</button><button class="btn btn-error">cancel</button>
              </div>
            </div>

            <div class="tab-content" ng-show="selectedTab == 3">
              <div class="form-group">
                <label class="col-sm-2 control-label">Current password</label>
                <div class="col-sm-10">
                  <input type="password" ng-model="business_info.TPPassword " class="form-control m-b" placeholder="Current password">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">New password</label>
                <div class="col-sm-10">
                  <input type="password" ng-model="changePassword.newPassword" class="form-control m-b" placeholder="New password">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Retype New password</label>
                <div class="col-sm-10">
                  <input type="password" ng-model="changePassword.retypePassword" class="form-control m-b" placeholder="Retype New password">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="text-center" ng-show="authorError" style="color:red; font-size:14px;">
                  前后密码不一致
              </div>
              <div class="text-center">
                <button class="btn btn-success m-r" ng-click="update_staff_password()">Change password</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </tab>
    <tab heading="Business promotions">
      <div class="panel panel-default">
        <div class="panel-heading">
          <script type="text/ng-template" id="promotionAdd.html">
            <div ng-include="'/tpl/modal/business_promotion_add.html'"></div>
          </script>
          <!-- <button class="btn btn-danger"><i class="fa fa-trash"></i>批量删除</button> -->
          <button class="btn btn-info" ng-click="promotionAdd('lg')"><i class="fa fa-plus"></i>Promotion添加</button>
        </div>
        <div class="row wrapper">
          <div class="col-sm-3 m-b-xs">
            <select class="input-sm form-control w-sm inline v-middle">
              <option value="0">整租</option>
              <option value="1">分租</option>
              <option value="2">二手房购买</option>
              <option value="3">房产投资</option>
          </select>
            <button class="btn btn-sm m-l-n-xxs btn-default">Apply</button>
          </div>
          <div class="col-sm-5">
            <div class="input-group">
              <input type="text" class="input-sm form-control" placeholder="Search">
              <span class="input-group-btn">
              <button class="btn btn-sm btn-default" type="button" ng-click="admin_er_check()">Go!</button>
            </span>
            </div>
          </div>

          <div class="col-sm-4">
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped b-t b-light" style="table-layout:fixed ; width: 100%;">
            <thead>
              <tr>
                <th style="width:20px;">
                  <label class="i-checks m-b-none">
                  <input type="checkbox"><i></i>
                </label>
                </th>
                <th style="width:30px;" class="text-center">ID</th>
                <th style="width:100px;" class="text-center">公司名</th>
                <th style="width:50px;" class="text-center">具体服务</th>
                <th style="width:100px;" class="text-center">服务区域</th>
                <th style="width:100px;" class="text-center">促销ID</th>
                <th style="width:100px;" class="text-center">开始时间</th>
                <th style="width:100px;" class="text-center">结束时间</th>
                <th style="width:100px;" class="text-center">状态</th>
                <th style="width:100px;" class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="promotion in promotions track by $index">
                <td class="text-center"><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
                <td class="text-center">{{business_info.TPID}}</td>
                <td class="text-center">{{business_info.TPName}}</td>
                <td class="text-center">{{business_info.TPDetail}}</td>
                <td class="text-center">{{business_info.TPServLoc}}</td>
                <td class="text-center">{{promotion.idthirdparty_promotion}}</td>
                <td class="text-center">{{promotion.StartDate}}</td>
                <td class="text-center">{{promotion.EndDate}}</td>
                <!--<script type="text/ng-template" id="propertyDetails.html">
                  <div ng-include="'/tpl/modal/property_details.html'"></div>
                </script>
                <td class="text-center"><a ng-click="openDetails('lg',$index)">Details&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></td>-->
                <td class="text-center">
                  <a href class="active" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
                </td>
                <script type="text/ng-template" id="promotionUpdte.html">
                  <div ng-include="'/tpl/modal/business_promotion_update.html'"></div>
                </script>
                <td class="text-center">
                  <a href class="active" ng-click="promotion_update('lg',$index)"><i class="fa fa-pencil"></i></a>
                  <!-- <a href class="active m-r-md" ng-click="check=!check">
                    <i class="fa fa-check" aria-hidden="true" ng-show="check"></i>
                    <i class="fa fa-times" aria-hidden="true" ng-show="!check"></i>
                  </a>
                  <a ui-sref="app.customer.addPic" class="active m-r-md"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                  <a href><i class="fa fa-trash"></i></a> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <footer class="panel-footer">
          <div class="row">
            <div class="col-sm-6 text-left">
              <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
              <ul class="pagination pagination-sm m-t-none m-b-none">
                <li><a href><i class="fa fa-chevron-left"></i></a></li>
                <li><a href>1</a></li>
                <li><a href>2</a></li>
                <li><a href>3</a></li>
                <li><a href>4</a></li>
                <li><a href>5</a></li>
                <li><a href><i class="fa fa-chevron-right"></i></a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </tab>
  </tabset>
</div>
