<div ng-controller="landlordManagement">
  <!-- breadcrumb -->
  <div>
    <h4>Admin</h4>
    <ul class="breadcrumb bg-white b-a">
      <li><a href><i class="fa fa-home"></i> Admin</a></li>
      <li><a href>staff</a></li>
      <li class="active">role management</li>
      <li class="pull-right"><i class="fa fa-lg fa-refresh"></i></li>
    </ul>
  </div>
  <!-- / breadcrumb -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <script type="text/ng-template" id="landlordAdd.html">
        <div ng-include="'/tpl/modal/landlord_add.html'"></div>
      </script>
      <button class="btn btn-danger"><i class="fa fa-trash"></i>批量删除</button>
      <button class="btn btn-info" ng-click="open('lg')"><i class="fa fa-plus"></i>房东添加</button>
    </div>
    <div class="row wrapper">
      <div class="col-sm-3 m-b-xs">
        <select class="input-sm form-control w-sm inline v-middle">
        <option value="0">整租房业主</option>
        <option value="1">分租房业主</option>
        <option value="2">二手房业主</option>
        <option value="3">开发商</option>
      </select>
        <button class="btn btn-sm m-l-n-xxs btn-default">Apply</button>
      </div>
      <div class="col-sm-5">
        <div class="input-group">
          <input type="text" class="input-sm form-control" ng-model="inputStr" placeholder="Search">
          <span class="input-group-btn">
          <button class="btn btn-sm btn-default" type="button" ng-click="landlords_check()">检索</button>
        </span>
        </div>
      </div>

      <div class="col-sm-4">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th style="width:20px;">
              <label class="i-checks m-b-none">
              <input type="checkbox"><i></i>
            </label>
            </th>
            <th>ID</th>
            <th>房东姓名</th>
            <th>邮件</th>
            <th>手机号</th>
            <th>座机号</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="landLord_info in landLord_infos track by $index">
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>{{landLord_info.LLID}}</td>
            <td><a ui-sref="app.customer.landlordprofile({LLEmail:landLord_info.LLEmail,
                                                       LLID:landLord_info.LLID,
                                                       LLName:landLord_info.LLName,
                                                       LLPassword:landLord_info.LLPassword,
                                                       LLPhone:landLord_info.LLPhone,
                                                       LLCellphone:landLord_info.LLCellphone
                                                        })">{{landLord_info.LLName}}</a></td>
            <td>{{landLord_info.LLEmail}}</td>
            <td>{{landLord_info.LLPhone}}</td>
            <td>{{landLord_info.LLCellphone}}</td>
            <td>
              <a href class="active" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
            </td>
            <script type="text/ng-template" id="landlordUpdate.html">
              <div ng-include="'/tpl/modal/landlord_update.html'"></div>
            </script>
            <script type="text/ng-template" id="landlordUpdatePassword.html">
              <div ng-include="'/tpl/modal/update_lanlord_password.html'"></div>
            </script>
            <td>
              <a class="active m-r-md" ng-click="show=!show">
                <i class="fa fa-minus-circle" aria-hidden="true" ng-if="show"></i>
                <i class="fa fa-check-circle" aria-hidden="true" ng-if="!show"></i>
              </a>
              <a class="active m-r-md" ng-click="landlord_info_update('',$index)"><i class="fa fa-pencil"></i></a>
              <a class="active m-r-md" ng-click="landlord_update_password('',$index)"><i class="fa fa-key" aria-hidden="true"></i></a>
              <a class="active"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-6 text-left">
          <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
        </div>
        <div class="col-sm-6 text-right text-center-xs">
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
