<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="landlord_profileCtrl">
  <!-- breadcrumb -->
  <div>
    <h4>Staff Profile</h4>
    <ul class="breadcrumb bg-white b-a">
      <li><a href><i class="fa fa-home"></i> Admin</a></li>
      <li><a href>staff</a></li>
      <li class="active">role management</li>
      <li class="pull-right"><i class="fa fa-lg fa-refresh"></i></li>
    </ul>
  </div>
  <!-- / breadcrumb -->
  <tabset justified="true" class="tab-container">
    <tab heading="Profile Information">
      <div class="row">
        <div class="col-sm-5">
          <a href class="">
            <img src="img/andy.jpg" class="img-circle">
          </a>
        </div>
        <div class="col-sm-7">
          <div class="clear m-b pull-in">
            <div class="m-b m-t-sm">
              <span class="h3 text-black">{{landLord_info.LLName}}</span>
              <small class="m-l">Sydney, Australia</small>
            </div>
            <!-- <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-envelope"></i></a>
              <a>IT Software Developer</a>
            </p> -->
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-envelope"></i></a>
              <a>{{landLord_info.LLEmail}}</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-lg fa-phone"></i></a>
              <a>{{landLord_info.LLCellphone}}</a>
            </p>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-lg fa-mobile"></i></a>
              <a>{{landLord_info.LLPhone}}</a>
            </p>
            <!-- <div class="line line-dashed b-b line-lg pull-in"></div>
            <p class="m-b">
              <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-lg fa-mobile"></i></a>
              <a>IT 部门开发人员</a>
            </p> -->
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Account">
      <div class="tabbable tabs-below" ng-init="selectedTab = 1;">
        <div class="row">
          <div class="col-sm-5">
            <ul class="nav nav-tabs nav-stacked">
              <li ng-class="{active: selectedTab == 1}">
                <a ng-click="selectedTab = 1;">Personal</a>
              </li>
              <li ng-class="{active: selectedTab == 2}">
                <a ng-click="selectedTab = 2;">Avantar</a>
              </li>
              <li ng-class="{active: selectedTab == 3}">
                <a ng-click="selectedTab = 3;">Change password</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-7">
            <div class="tab-content" ng-show="selectedTab == 1">
              <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" ng-model="landLord_info.LLName" class="form-control m-b" placeholder="Name">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" ng-model="landLord_info.LLEmail" class="form-control m-b" placeholder="Email">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                  <input type="phone" ng-model="landLord_info.LLPhone" class="form-control m-b" placeholder="Phone">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Cell Phone</label>
                <div class="col-sm-10">
                  <input type="text" ng-model="landLord_info.LLCellphone" class="form-control m-b" placeholder="Cell Phone">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="text-center">
                <button class="btn btn-success m-r" ng-click="update_landlord_profile()" >Submit</button>
              </div>
            </div>

            <div class="tab-content" ng-show="selectedTab == 2">
              <img src="img/andy.jpg" />
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Upload File</label>
                <div class="col-sm-10">
                  <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div>
                <button class="btn btn-success m-r">submit</button><button class="btn btn-error">cancel</button>
              </div>
            </div>

            <div class="tab-content" ng-show="selectedTab == 3">
              <div class="form-group">
                <label class="col-sm-2 control-label">Current password</label>
                <div class="col-sm-10">
                  <input type="password" ng-model="landLord_info.LLPassword " class="form-control m-b" placeholder="Current password">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">New password</label>
                <div class="col-sm-10">
                  <input type="password" ng-model="changePassword.newPassword" class="form-control m-b" placeholder="New password">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Retype New password</label>
                <div class="col-sm-10">
                  <input type="password" ng-model="changePassword.retypePassword" class="form-control m-b" placeholder="Retype New password">
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="text-center" ng-show="authorError" style="color:red; font-size:14px;">
                  前后密码不一致
              </div>
              <div class="text-center">
                <button class="btn btn-success m-r" ng-click="update_staff_password()">Change password</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </tab>
    <tab heading="My Property">
      <div class="panel panel-default">
        <div class="panel-heading">
          <script type="text/ng-template" id="landlordPropertyAdd.html">
            <div ng-include="'/tpl/modal/landlord_propertyAdd.html'"></div>
          </script>
          <button class="btn btn-danger"><i class="fa fa-trash"></i>批量删除</button>
          <button class="btn btn-info" ng-click="landlord_propertyAdd('lg')"><i class="fa fa-plus"></i>整租添加</button>
        </div>
        <div class="row wrapper">
          <div class="col-sm-3 m-b-xs">
            <select class="input-sm form-control w-sm inline v-middle">
              <option value="0">整租</option>
              <option value="1">分租</option>
              <option value="2">二手房购买</option>
              <option value="3">房产投资</option>
          </select>
            <button class="btn btn-sm m-l-n-xxs btn-default">Apply</button>
          </div>
          <div class="col-sm-5">
            <div class="input-group">
              <input type="text" class="input-sm form-control" placeholder="Search">
              <span class="input-group-btn">
              <button class="btn btn-sm btn-default" type="button" ng-click="admin_er_check()">Go!</button>
            </span>
            </div>
          </div>

          <div class="col-sm-4">
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped b-t b-light" style="table-layout:fixed ; width: 100%;">
            <thead>
              <tr>
                <th style="width:20px;">
                  <label class="i-checks m-b-none">
                  <input type="checkbox"><i></i>
                </label>
                </th>
                <th style="width:30px;" class="text-center">ID</th>
                <th style="width:100px;" class="text-center">房屋类型</th>
                <th style="width:50px;" class="text-center">No</th>
                <th style="width:100px;" class="text-center">地址</th>
                <th style="width:100px;" class="text-center">所属区</th>
                <th style="width:100px;" class="text-center">所属州</th>
                <th style="width:100px;" class="text-center">房屋状态</th>
                <th style="width:100px;" class="text-center">可租时间</th>
                <th style="width:100px;" class="text-center">看房时间</th>
                <th style="width:100px;" class="text-center">Details</th>
                <th style="width:100px;" class="text-center">状态</th>
                <th style="width:200px;" class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="property in properties track by $index">
                <td class="text-center"><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
                <td class="text-center">{{$index}}</td>
                <td class="text-center">{{property.ER_Type}}</td>
                <td class="text-center">{{property.ER_No}}</td>
                <td class="text-center">{{property.ER_St}}</td>
                <td class="text-center">{{property.ER_Suburb}}</td>
                <td class="text-center">{{property.ER_Region}}</td>
                <td class="text-center">{{property.ER_Stat}}</td>
                <td class="text-center">{{property.ER_AvailableDate}}</td>
                <td class="text-center">{{property.ER_InspRep}}</td>
                <script type="text/ng-template" id="propertyDetails.html">
                  <div ng-include="'/tpl/modal/property_details.html'"></div>
                </script>
                <td class="text-center"><a ng-click="openDetails('lg',$index)">Details&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></td>
                <td class="text-center">
                  <a href class="active" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
                </td>
                <script type="text/ng-template" id="propertyDetailsEdit.html">
                  <div ng-include="'/tpl/modal/property_details_modify.html'"></div>
                </script>
                <td class="text-center">
                  <a href class="active m-r-md" ng-click="details_Edit('lg',$index)"><i class="fa fa-pencil"></i></a>
                  <a href class="active m-r-md" ng-click="check=!check">
                    <i class="fa fa-check" aria-hidden="true" ng-show="check"></i>
                    <i class="fa fa-times" aria-hidden="true" ng-show="!check"></i>
                  </a>
                  <a ui-sref="app.customer.addPic" class="active m-r-md"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                  <a href><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <footer class="panel-footer">
          <div class="row">
            <div class="col-sm-6 text-left">
              <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
              <ul class="pagination pagination-sm m-t-none m-b-none">
                <li><a href><i class="fa fa-chevron-left"></i></a></li>
                <li><a href>1</a></li>
                <li><a href>2</a></li>
                <li><a href>3</a></li>
                <li><a href>4</a></li>
                <li><a href>5</a></li>
                <li><a href><i class="fa fa-chevron-right"></i></a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </tab>
  </tabset>
</div>
