<div ng-controller="userManagementCtrl">
  <!-- breadcrumb -->
  <div>
    <h4>Admin</h4>
    <ul class="breadcrumb bg-white b-a">
      <li><a href><i class="fa fa-home"></i> Admin</a></li>
      <li><a href>staff</a></li>
      <li class="active">role management</li>
      <li class="pull-right"><i class="fa fa-lg fa-refresh"></i></li>
    </ul>
  </div>
  <!-- / breadcrumb -->
  <div class="panel panel-default">
    <div class="panel-heading">
    <script type="text/ng-template" id="userAdd.html">
          <div ng-include="'/tpl/modal/user_add.html'"></div>
    </script>
    <button class="btn btn-danger"><i class="fa fa-trash"></i>批量删除</button>
    <button class="btn btn-info" ng-click="open('lg')"><i class="fa fa-plus"></i>用户添加</button>
    </div>
    <div class="row wrapper">
      <div class="col-sm-3 m-b-xs">
        <select class="input-sm form-control w-sm inline v-middle">
          <option value="0">整租</option>
          <option value="1">分租</option>
          <option value="2">二手房购买</option>
          <option value="3">房产投资</option>
      </select>
        <button class="btn btn-sm m-l-n-xxs btn-default">Apply</button>
      </div>
      <div class="col-sm-5">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search">
          <span class="input-group-btn">
          <button class="btn btn-sm btn-default" type="button">Go!</button>
        </span>
        </div>
      </div>

      <div class="col-sm-4">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light" style="table-layout:fixed ; width: 100%;">
        <thead>
          <tr>
            <th style="width:20px;">
              <label class="i-checks m-b-none">
              <input type="checkbox"><i></i>
            </label>
            </th>
            <th style="width:30px;" class="text-center">ID</th>
            <th style="width:100px;" class="text-center">用户名字</th>
            <th style="width:100px;" class="text-center">年龄</th>
            <th style="width:100px;" class="text-center">性别</th>
            <th style="width:100px;" class="text-center">工作状态</th>
            <th style="width:150px;" class="text-center">邮件</th>
            <th style="width:100px;" class="text-center">电话</th>
            <th style="width:100px;" class="text-center">当前工作</th>
            <th style="width:100px;" class="text-center">吸烟状态</th>
            <th style="width:100px;" class="text-center">宠物</th>
            <th style="width:100px;" class="text-center">状态</th>
            <th style="width:150px;" class="text-center">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="customer in customers track by $index">
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td class="text-center">{{$index + 1}}</td>
            <td class="text-center"><a ui-sref="app.customer.userprofile({CID:customer.CID})">{{customer.CName}}</a></td>
            <td class="text-center">{{customer.CAge}}</td>
            <td class="text-center">{{customer.CSex}}</td>
            <td class="text-center">{{customer.CCurrStat}}</td>
            <td class="text-center">{{customer.CEmail}}</td>
            <td class="text-center">{{customer.CPhone}}</td>
            <td class="text-center">{{customer.CWorking}}</td>
            <td class="text-center">{{customer.CSmoking}}</td>
            <td class="text-center">{{customer.CPet}}</td>
            <td class="text-center">
              <a href class="active" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
            </td>
            <td class="text-center">
              <a href class="active m-r-md"><i class="fa fa-pencil"></i></a>
              <a href class="active"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-6 text-left">
          <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
        </div>
        <div class="col-sm-6 text-right text-center-xs">
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
